@import 'styles/scss/helpers/_variables.scss';
/* ============================================================
  GLOBAL
/* ============================================================ */

html {
    font-size: 16px;
    line-height: 1.45;
    font-family: family(body);
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  @include respond-below('md') {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}