/* ============================================================
   GRID
/* ============================================================ */

.km-row, .km-row-narrow, .km-row-wide, .km-row-full, .km-row .row-fluid,
.km-row-wide .row-fluid, .km-wrapper, .km-wrapper-inner {
  width: 100%;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 71.25rem;
}

.km-row-narrow {
  max-width: 60rem;
}

.km-row-wide {
  max-width: 83.75rem;
}

.km-row-full {
  max-width: 100% !important;
}

// add spacing between widgets
.body-container .widget-span {
  margin-bottom: 35px;
}


/*
/*  Full Width Grids
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
.km-fw-container {
  padding: 35px 0;

  // removes heading margin top and let grid control spacing
  h1, & h2, & h3, & h4, & h5 {
    margin-top: 0;
  }

  // margings & padding variants
  &--sm {
    margin-bottom: px-to-rem(20px);
  }

  &--md {
    margin-bottom: px-to-rem(30px);
  }

  &--lg {
    margin-bottom: px-to-rem(40px);
  }

  &--has-bg {
    padding: px-to-rem(60px) 0 px-to-rem(68px);
  }
}

.first-item {
  margin-top: -45px;
}

/*
/*  Mobile Grid
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

// adds padding to all rows in bootstrap for mobile
.row {
  @include respond-below('md') {
    padding: 0 15px;
  }
}

// used for mobile padding 
.km-mobile-padding-horizontal {
  @include respond-below ('lg') {
    padding-right: 16px;
    padding-left: 16px;
  }
}