/* ============================================================
   RESPONSIVE
/* ============================================================ */
/* This section will be removed and added to it's specific partial.
** It's only a temporary for launch
*/



/*
/*  Mobile
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media only screen and (max-width:400px) {
      
    /** form mobile fix **/
    
    .hs-form-field .input {
        margin-right: 0 !important;
    }
    

    form .hs-form-field .input input,
    .hs-form .hs-form-field > .input > .hs-input,
    .hs-form .hs-form-field > .input > div > .hs-input{
        width: 100% !important;
    }
  
    /** back to top button **/
      a.km-to-top, a.km-mobile-to-top {
      display: none !important;
   }

}

/*** mobile -  max-width 640px, mobile-only styles, use when QAing mobile issues ***/
@media only screen and (max-width: 40em)  {
    
    .mobile-border-none {
        border: none !important;
    }
    
    .mobile-padding-none {
        padding: 0 !important;
    }
    
    .mobile-block {
        display: block !important;
    }
    
    /** Back to Top **/
    
    .full-width-mobile {
        width: 100% !important;
    }
    
    .no-padding-l-mobile {
        padding-left: 0 !important;
    }
    
    
    /** countdown timer **/
    
    #clockdiv, #clockdiv2 {
        font-size: 28px !important;
        color: #333 !important;
    }
    
    #clockdiv>div, #clockdiv2>div {
        padding: 0px !important;
    }
    
    #clockdiv div>span, #clockdiv2 div>span {
        padding-bottom: 1px !important;
    }
    
    .clock-dark {
        color: #333 !important;
    }
    
    .smalltext {
        font-size: 11px !important;
        padding-bottom: 7px !important;
    }
    
    
    /** hero section **/
    
    .hero-section {
        padding: 7em 0 4em 0 !important;
    }
  
  
  /*** ordered lists ***/
  ol.km-ol {
    padding-left: 0;

     li {
        padding: 50px 0 65px;

        &:last-child {
            padding-bottom: 0;
        }

        &::before {
            top: -19px;
            left: 0;
            right: 0;
            margin: auto;
        }
     }
  }

}    

/*
/*  Mobile Landscape Only 
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 64em) and (orientation: landscape) {

    .show-for-small-landscape {
        display: inherit !important;
    }

    .hide-for-small-landscape {
        display: none !important;
    }
}


/*
/*  Ipad Media Queries
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

/** Ipad media queries, for portrait **/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

/** hero section **/

    .hero-section {
        padding: 10em 0 3.1em 0 !important;
    }

    .hero-cta-container {
        margin-top: 55px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

/** layout **/
    .km-row {
    padding: 0 20px;
    }
}


/*
/*  Video
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
iframe {
    margin-bottom: 30px;
}
  
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin: 30px 0;   
}
  
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}