@import 'styles/scss/helpers/_variables.scss';
@import 'styles/scss/helpers/_mixins.scss';
@import 'styles/scss/base/typography.scss';

/* ============================================================
   GLOBAL
/* ============================================================ */

// html {
//     @include fluid-type($min_width, $max_width, $min_font, $max_font);
// }

* {
    font-family: family(body);
}

header {
    background: #fff;

    .container {
        height: 65px;
    }
}

body {
    background: #fff;
    font-family: family(body);
    color: color(text, base);
}


.container {
    width: 1170px; 

    &.api {
        border: none;
    }
}

/* ============================================================
   TYPOGRAPHY
/* ============================================================ */
p {
    margin: 0 0 10px;
}

blockquote {
    border-left: 5px solid color(border);

    p {
        font-family: family(italic);
        padding-left: 10px;
        color: color(text, light);
    }
}

hr {
    border-color: color(border);
}

// code elements
code, code *, pre, pre * {
    color: color(text, base);
    font-size: 16px;
}

pre {
    background: color(gray, light);
    border: 1px solid color(border);
}

/* ============================================================
   HEADER
/* ============================================================ */

.km-navbar {
    box-shadow: 0 2px 10px 0 #E1E5E4;
}

.navbar-brand {
    font-size: 19px;
    font-family: family(header);
    color: color(text, base);

    &:hover {
        color: color(text, base);
    }

    span {
        font-family: family(header);
        color: color(primary, base);
    }
}

a.nav-link {
    font-size: 16px;
    color: color(text, base);
    @include transition(color .3s ease);
    text-transform: uppercase;

    &:hover {
        color: color(primary, base);
    }
}

/* ============================================================
   CONTENT
/* ============================================================ */

/* Sidebar */
.sidebar {
    background: #fff;

    .api {

        .heading span {
            color: color(text, base);
        }

        ul ul li a {

            &:hover {
                background: color(gray, lighter);
                color: color(text, base);
            }
        }

        li {
            a {
                border: none;
                color: color(text, base);
            }
            &.active>a {
                background: color(primary, base);
                color: #fff;

                &:hover {
                    background: color(primary, base) !important;
                }

                &:before, &:after {
                    display: none !important;
                }
            }

            li li a {
                padding: 20px 0px;
                line-height: 0px;
                border-radius: 5px;
                text-indent: 14px;
                margin: 7px 0;
            }
            
        }
    }
}

// Change top title on sidebar
.sidebar .api.cascading>li:nth-child(1) > a {
    text-transform: uppercase;
}

.sidebar .api li.active>a.sidebar-title {
    background: #fff;
    color: color(text, base);
    font-family: family(bold);
}
// removes all pseudo elements from sidebar 
.sidebar .api.cascading>.active:before, .sidebar .api.cascading>.active:nth-child(2):before, .sidebar .api.cascading>.active:nth-child(3):before, .sidebar .api.cascading>.active:nth-child(4):before, .sidebar .api.cascading>.active:nth-child(5):before {
    display: none;
}

.sidebar .api li.active:nth-child(2)>a.sidebar-title {
    color: color(text, base);
    background: transparent;
}

.docs {
    .content {
        &.docs {
            border: none;
        }
    }

    .title {
        border-bottom: 1px solid color(border);

        .tags {
            li {
                background-color: color(gray, base);
            }
        }
    }

    .module { 
        color: color(text, base);
    }
}

/* ============================================================
   TO BE SORTED
/* ============================================================ */
footer {
    display: none;
}