// VARIABLES 
// Colors
$dark-red:      #C30019;
$red:           #F01834;
$light-red:     #FF999F;

$text-color:    #222222;

$gray:          #A3A5A8;
$light-gray:    #E1E5E4;
$lighter-gray:  #EEF3F5;
$lightest-gray: #F9FAFC;

$border-color:  #E1E5E4;

// Typography
@import url("//hello.myfonts.net/count/37001a");

@font-face {font-family: 'ProximaNova-Bold';src: url('webfonts/37001A_0_0.eot');src: url('webfonts/37001A_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/37001A_0_0.woff2') format('woff2'),url('webfonts/37001A_0_0.woff') format('woff'),url('webfonts/37001A_0_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Regular';src: url('webfonts/37001A_1_0.eot');src: url('webfonts/37001A_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/37001A_1_0.woff2') format('woff2'),url('webfonts/37001A_1_0.woff') format('woff'),url('webfonts/37001A_1_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-RegularIt';src: url('webfonts/37001A_2_0.eot');src: url('webfonts/37001A_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/37001A_2_0.woff2') format('woff2'),url('webfonts/37001A_2_0.woff') format('woff'),url('webfonts/37001A_2_0.ttf') format('truetype');}
@font-face {
    font-family: 'DomaineDisplayNarrowBold';
    src: url('/style-guide-theme/assets/fonts/DomaineDisplayNarrowWeb-Bold.eot') format('embedded-opentype');
    src: url('/style-guide-theme/assets/fonts/DomaineDisplayNarrowWeb-Bold.eot?#iefix') format('embedded-opentype');
    src: url('/style-guide-theme/assets/fonts/DomaineDisplayNarrowWeb-Bold.woff') format('woff');
    src: url('/style-guide-theme/assets/fonts/DomaineDisplayNarrowWeb-Bold.woff2') format('woff2');
}

$font-family-header:      'DomaineDisplayNarrowBold', helvetica, serif;
$font-family-text:        'ProximaNova-Regular', helvetica, sans-serif;
$font-family-text-bold:   'ProximaNova-Bold', helvetica, sans-serif;
$font-family-text-i:      'ProximaNova-RegularIt', helvetica, sans-serif;

/* Global */
* {
    font-family: $font-family-text;
}

header {
    background: #fff;

    .container {
        height: 65px;
    }
}

body {
    background: #fff;
    font-family: $font-family-text;
    color: $text-color;
}

.container {
    width: 1170px; 

    &.api {
        border: none;
    }
}

.brand {
    background: url(/style-guide-theme/assets/logo.png) left center no-repeat;
    background-size: 100px;
    height: 62px;
    line-height: 62px;
}

footer {
    background: #222;
}

/* Typography */

h1,h2,h3 {
    font-family: $font-family-header;
    color: $text-color;
    letter-spacing: 1px;
}


p {
    font-family: $font-family-text;
    color: $text-color;
}

/* Header */

.km-navbar {
    box-shadow: 0 2px 10px 0 #E1E5E4;
}

/* Sidebar */

.sidebar {
    background: #fff;
}

/* Docs */

.docs {
    .content {
        &.docs {
            border: none;
        }
    }
}