/* ============================================================
   SUMMARY
/* ============================================================

*/
/* ============================================================
  Typography
/* ============================================================ */
/**
* @stylesheet typography.css Typography
* @parent css.theme
*
* @description 
* We use 4 primary fonts `Domaine Display Narrow Bold`, `Proxima Nova Regular`, `Proxima Nova Regular Italic` and `Proxima Nova Bold`. 
* Maintaining typographic clarity and hierarchy is important; here is a showcase of different ways to structure content.
*
* @styles typography-headers Typography
* @iframe demos/base/typography/headers.html
**/
@import url("//hello.myfonts.net/count/37001a");
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("/styles/assets/fonts/webfonts/37001A_0_0.eot");
  src: url("/styles/assets/fonts/webfonts/37001A_0_0.eot?#iefix") format("embedded-opentype"), url("/styles/assets/fonts/webfonts/37001A_0_0.woff2") format("woff2"), url("/styles/assets/fonts/webfonts/37001A_0_0.woff") format("woff"), url("/styles/assets/fonts/webfonts/37001A_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("/styles/assets/fonts/webfonts/37001A_1_0.eot");
  src: url("/styles/assets/fonts/webfonts/37001A_1_0.eot?#iefix") format("embedded-opentype"), url("/styles/assets/fonts/webfonts/37001A_1_0.woff2") format("woff2"), url("/styles/assets/fonts/webfonts/37001A_1_0.woff") format("woff"), url("/styles/assets/fonts/webfonts/37001A_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url("/styles/assets/fonts/webfonts/37001A_2_0.eot");
  src: url("/styles/assets/fonts/webfonts/37001A_2_0.eot?#iefix") format("embedded-opentype"), url("/styles/assets/fonts/webfonts/37001A_2_0.woff2") format("woff2"), url("/styles/assets/fonts/webfonts/37001A_2_0.woff") format("woff"), url("/styles/assets/fonts/webfonts/37001A_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'DomaineDisplayNarrowBold';
  src: url("/styles/assets/fonts/DomaineDisplayNarrowWeb-Bold.eot") format("embedded-opentype");
  src: url("/styles/assets/fonts/DomaineDisplayNarrowWeb-Bold.eot?#iefix") format("embedded-opentype");
  src: url("/styles/assets/fonts/DomaineDisplayNarrowWeb-Bold.woff") format("woff");
  src: url("/styles/assets/fonts/DomaineDisplayNarrowWeb-Bold.woff2") format("woff2"); }

html {
  font-size: 16px; }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 8 * ((100vw - 320px) / 880)); } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 24px; } }

h1, h2, h3, h4, h5 {
  font-family: "DomaineDisplayNarrowBold", helvetica, serif;
  color: #222222;
  letter-spacing: 1px; }

/**
* @styles typography-body Body Copy
*
* @description
* Body copy description
* @iframe demos/base/typography/body-copy.html
*/
p {
  font-family: "ProximaNova-Regular", helvetica, sans-serif;
  color: #222222; }

strong {
  font-family: "ProximaNova-Bold", helvetica, sans-serif; }

em {
  font-family: "ProximaNova-RegularIt", helvetica, sans-serif; }

/**
* @styles typography-body Lists
*
* @description
* List description
* @iframe demos/base/typography/lists.html
*/
/* ============================================================
   BUTTONS
/* ============================================================ */
/**
* @stylesheet buttons.css Buttons
* @parent css.theme
* 
* @iframe /demos/buttons.html
**/
.km-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .7rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  border: none;
  font-family: "ProximaNova-Regular", helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase; }
  .km-btn.km-btn---primary {
    background-color: #F01834;
    color: #fff; }
    .km-btn.km-btn---primary:hover {
      background-color: #222222; }
    .km-btn.km-btn---primary:active {
      background-color: #C30019; }
  .km-btn.km-btn--secondary {
    background-color: #222222;
    color: #fff; }
    .km-btn.km-btn--secondary:hover {
      background-color: #F01834; }
    .km-btn.km-btn--secondary:active {
      background-color: #4a4a4a; }
  .km-btn.km-btn--ghost {
    background-color: #fff;
    border: 1px solid #222222;
    color: #222222; }
    .km-btn.km-btn--ghost:hover {
      background-color: #222222;
      border: 1px solid #222222;
      color: #fff; }
    .km-btn.km-btn--ghost:active {
      background-color: #4a4a4a;
      border: 1px solid #4a4a4a;
      color: #fff; }
  .km-btn .km-btn-block {
    display: block; }

/* Button Overrides for current website 
** These will eventually be removed over time as old buttons are deleted and new button classes are added */
