/* ============================================================
   BRAND STYLE GUIDE
/* ============================================================ */
/* ============================================================
   BSG GLOBAL
/* ============================================================ */
.header-container.container-fluid {
  padding: 0; }

.body-container {
  max-width: 100% !important; }

.body-container-wrapper {
  background-color: #F9FAFC; }

.row {
  margin-bottom: 35px; }

.bsg-heading {
  margin-bottom: 35px; }
  .bsg-heading .bsg-heading__item {
    margin: 0 !important;
    border-bottom: 1px solid #E1E5E4;
    padding: 10px 0; }
    .bsg-heading .bsg-heading__item h1, .bsg-heading .bsg-heading__item h2, .bsg-heading .bsg-heading__item h3, .bsg-heading .bsg-heading__item h4, .bsg-heading .bsg-heading__item h5, .bsg-heading .bsg-heading__item h6 {
      margin: 0 !important; }

.bsg-heading__item-right {
  float: right;
  color: #A3A5A8; }

p {
  max-width: 635px; }

.title {
  margin: 0 0 10px; }

/* ============================================================
   TYPOGRAPHY
/* ============================================================ */
.note {
  border: 1px solid #E1E5E4;
  padding: 5px 10px;
  color: #A3A5A8;
  margin-top: 20px;
  border-radius: 6px;
  background: #EEF3F5; }
  .note:before {
    content: "\f06a";
    font-family: fontawesome;
    margin-right: 8px;
    top: 1px;
    position: relative; }

.hubspot-module {
  border: 1px solid #E1E5E4;
  padding: 10px;
  border-radius: 6px; }
  .hubspot-module:before {
    content: "\f0ad";
    font-family: fontawesome;
    margin-right: 8px;
    top: 1px;
    position: relative; }

/* ============================================================
   BSG HEADER
/* ============================================================ */
.bsg-header {
  background: #F01834; }

.bsg-wrapper {
  padding: 20px 16px; }

.bsg-logo {
  font-family: "DomaineDisplayNarrowBold", helvetica, serif;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.1875rem; }

/* ============================================================
   BSG SIDEBAR
/* ============================================================ */
.bsg-sidebar-nav-card {
  background: #fff;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 2px 10px 0 #E1E5E4;
  -moz-box-shadow: 0 2px 10px 0 #E1E5E4;
  box-shadow: 0 2px 10px 0 #E1E5E4; }
  .bsg-sidebar-nav-card__title {
    text-transform: uppercase;
    padding: 10px 15px;
    border-bottom: 2px solid #E1E5E4;
    color: #F01834;
    letter-spacing: 1px; }
  .bsg-sidebar-nav-card > a {
    border-bottom: 1px solid #E1E5E4;
    padding: 10px 15px;
    margin-bottom: 0;
    display: block;
    color: #222222;
    font-size: .8rem;
    position: relative; }
    .bsg-sidebar-nav-card > a:hover {
      background-color: #E1E5E4;
      text-decoration: none; }
    .bsg-sidebar-nav-card > a:after {
      content: "\f054";
      font-family: fontawesome;
      position: absolute;
      right: 15px;
      font-size: 8px;
      line-height: 18px;
      opacity: .7; }
  .bsg-sidebar-nav-card > a:last-child {
    border-bottom: none; }

/* ============================================================
   CARDS
/* ============================================================ */
.bsg-card {
  background: #fff;
  margin-bottom: 35px;
  -webkit-box-shadow: 0 2px 10px 0 #E1E5E4;
  -moz-box-shadow: 0 2px 10px 0 #E1E5E4;
  box-shadow: 0 2px 10px 0 #E1E5E4;
  padding: 25px;
  overflow: hidden; }
  .bsg-card__title {
    font-family: "DomaineDisplayNarrowBold", helvetica, serif;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 35px;
    color: #F01834; }
  .bsg-card__body-title {
    display: block;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 1px;
    color: #A3A5A8; }

/* ============================================================
   BSG SIDEBAR
/* ============================================================ */
.bsg-color-card {
  padding: 35px 0;
  color: #fff;
  border-radius: 5px; }
  .bsg-color-card .bsg-copy-text {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: .8rem; }
  .bsg-color-card:hover {
    cursor: copy; }
    .bsg-color-card:hover .bsg-copy-text {
      margin-bottom: 10px;
      margin-top: -10px;
      opacity: 1; }
    .bsg-color-card:hover .bsg-color-card__hash {
      margin-bottom: -10px;
      margin-top: 10px; }
  .bsg-color-card__hash {
    height: 20px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .bsg-color-card__hash--dark {
      color: #222222; }
  .bsg-color-card--primary {
    background-color: #F01834; }
  .bsg-color-card--primary-dark {
    background-color: #C30019; }
  .bsg-color-card--primary-light {
    background-color: #FF999F; }
  .bsg-color-card--text {
    background-color: #222222; }
  .bsg-color-card--text-light {
    background-color: #A3A5A8; }
  .bsg-color-card--gray {
    background-color: #A3A5A8; }
  .bsg-color-card--gray-light {
    background-color: #E1E5E4; }
  .bsg-color-card--gray-lighter {
    background-color: #EEF3F5; }
  .bsg-color-card--gray-lightest {
    background-color: #F9FAFC; }
  .bsg-color-card--error {
    background-color: #F35B62; }
  .bsg-color-card--success {
    background-color: #1ABE6F; }
  .bsg-color-card--info {
    background-color: #0099FA; }
  .bsg-color-card--warning {
    background-color: #FFA800; }
