/* ============================================================
   SUMMARY
/* ============================================================

*/
/* ============================================================
  Typography

  @stylesheet base/typography.css Typography
  @parent css
  This is some typography stuff.
  @demo demos/typography.html
/* ============================================================ */
@import url("//hello.myfonts.net/count/37001a");
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("webfonts/37001A_0_0.eot");
  src: url("webfonts/37001A_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/37001A_0_0.woff2") format("woff2"), url("webfonts/37001A_0_0.woff") format("woff"), url("webfonts/37001A_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("webfonts/37001A_1_0.eot");
  src: url("webfonts/37001A_1_0.eot?#iefix") format("embedded-opentype"), url("webfonts/37001A_1_0.woff2") format("woff2"), url("webfonts/37001A_1_0.woff") format("woff"), url("webfonts/37001A_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url("webfonts/37001A_2_0.eot");
  src: url("webfonts/37001A_2_0.eot?#iefix") format("embedded-opentype"), url("webfonts/37001A_2_0.woff2") format("woff2"), url("webfonts/37001A_2_0.woff") format("woff"), url("webfonts/37001A_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'DomaineDisplayNarrowBold';
  src: url("/style-guide-theme/assets/fonts/DomaineDisplayNarrowWeb-Bold.eot") format("embedded-opentype");
  src: url("/style-guide-theme/assets/fonts/DomaineDisplayNarrowWeb-Bold.eot?#iefix") format("embedded-opentype");
  src: url("/style-guide-theme/assets/fonts/DomaineDisplayNarrowWeb-Bold.woff") format("woff");
  src: url("/style-guide-theme/assets/fonts/DomaineDisplayNarrowWeb-Bold.woff2") format("woff2"); }

html {
  font-size: 16px; }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 8 * ((100vw - 320px) / 880)); } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 24px; } }

h1, h2, h3, h4, h5 {
  font-family: "DomaineDisplayNarrowBold", helvetica, serif;
  color: #222222;
  letter-spacing: 1px; }

p {
  font-family: "ProximaNova-Regular", helvetica, sans-serif;
  color: #222222; }

strong {
  font-family: "ProximaNova-Bold", helvetica, sans-serif; }
