/* ============================================================
   BRAND STYLE GUIDE
/* ============================================================ */
/* ============================================================
   BSG GLOBAL
/* ============================================================ */
.bsg-heading {
  margin-bottom: 35px; }
  .bsg-heading .bsg-heading__item {
    margin: 0 !important;
    border-bottom: 1px solid #E1E5E4;
    padding: 10px 0; }
    .bsg-heading .bsg-heading__item h1, .bsg-heading .bsg-heading__item h2, .bsg-heading .bsg-heading__item h3, .bsg-heading .bsg-heading__item h4, .bsg-heading .bsg-heading__item h5, .bsg-heading .bsg-heading__item h6 {
      margin: 0 !important; }

.bsg-heading__item-right {
  float: right;
  color: #A3A5A8; }

.title {
  margin: 0 0 10px; }

/* ============================================================
   TYPOGRAPHY
/* ============================================================ */
.note {
  border: 1px solid #E1E5E4;
  padding: 5px 10px;
  color: #A3A5A8;
  margin-top: 20px;
  border-radius: 6px;
  background: #EEF3F5; }
  .note:before {
    content: "\f06a";
    font-family: fontawesome;
    margin-right: 8px;
    top: 1px;
    position: relative; }

.hubspot-module {
  border: 1px solid #E1E5E4;
  padding: 10px;
  border-radius: 6px; }
  .hubspot-module:before {
    content: "\f0ad";
    font-family: fontawesome;
    margin-right: 8px;
    top: 1px;
    position: relative; }

/* ============================================================
   BSG HEADER
/* ============================================================ */
.bsg-header {
  padding: 7px 0;
  -webkit-box-shadow: 0 2px 10px 0 #E1E5E4;
  -moz-box-shadow: 0 2px 10px 0 #E1E5E4;
  box-shadow: 0 2px 10px 0 #E1E5E4;
  position: relative; }

#bsg-gnome {
  position: absolute;
  right: 20px;
  max-width: 59px;
  bottom: 0; }

.bsg-wrapper {
  padding: 20px 16px; }

.bsg-logo img {
  max-width: 133px; }

#bsg-nav ul {
  margin: 5px 0 0;
  padding: 0;
  list-style: none;
  position: relative; }

#bsg-nav li {
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 0; }
  #bsg-nav li:last-child {
    padding-right: 0; }
  #bsg-nav li a {
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #222222;
    font-size: 0.8125rem;
    font-family: "ProximaNova-Bold", helvetica, sans-serif;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; }
    #bsg-nav li a i {
      font-size: 0.4375rem;
      position: relative;
      top: -2px;
      padding-left: 2px; }
    #bsg-nav li a:hover {
      color: #F01834;
      text-decoration: none; }
  #bsg-nav li ul {
    display: none;
    position: absolute;
    background: #fff;
    -webkit-box-shadow: 0 2px 10px 0 #E1E5E4;
    -moz-box-shadow: 0 2px 10px 0 #E1E5E4;
    box-shadow: 0 2px 10px 0 #E1E5E4;
    padding: 10px 20px;
    border-radius: 6px;
    top: 25px; }
    #bsg-nav li ul.open {
      display: block; }
    #bsg-nav li ul li {
      display: block; }
      #bsg-nav li ul li a {
        text-transform: none;
        font-family: "ProximaNova-Regular", helvetica, sans-serif;
        font-size: 0.9375rem; }

/* ============================================================
   BSG SIDEBAR
/* ============================================================ */
.bsg-color-card {
  padding: 35px 0;
  color: #fff;
  border-radius: 5px; }
  .bsg-color-card .bsg-copy-text {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: .8rem; }
  .bsg-color-card:hover {
    cursor: copy; }
    .bsg-color-card:hover .bsg-copy-text {
      margin-bottom: 10px;
      margin-top: -10px;
      opacity: 1; }
    .bsg-color-card:hover .bsg-color-card__hash {
      margin-bottom: -10px;
      margin-top: 10px; }
  .bsg-color-card__hash {
    height: 20px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .bsg-color-card__hash--dark {
      color: #222222; }
  .bsg-color-card--primary {
    background-color: #F01834; }
  .bsg-color-card--primary-dark {
    background-color: #C30019; }
  .bsg-color-card--primary-light {
    background-color: #FF999F; }
  .bsg-color-card--text {
    background-color: #222222; }
  .bsg-color-card--text-light {
    background-color: #A3A5A8; }
  .bsg-color-card--gray {
    background-color: #A3A5A8; }
  .bsg-color-card--gray-light {
    background-color: #E1E5E4; }
  .bsg-color-card--gray-lighter {
    background-color: #EEF3F5; }
  .bsg-color-card--gray-lightest {
    background-color: #F9FAFC; }
  .bsg-color-card--error {
    background-color: #F35B62; }
  .bsg-color-card--success {
    background-color: #1ABE6F; }
  .bsg-color-card--info {
    background-color: #0099FA; }
  .bsg-color-card--warning {
    background-color: #FFA800; }
