/**
* @stylesheet buttons.css Buttons
* @parent 
* There are different button styles that you can use.
**/
/**
* @styles buttons-colors Colors
*
* These are button colors!
**/
.test-btn {
  color: blue;
  background: red;
  padding: 2px; }
