/* ============================================================
  FORMS
/* ============================================================ */
div.input input {
  border: 1px solid #A3A5A8;
  padding: .8rem;
  border-radius: 0;
  box-shadow: none; }
  div.input input::-webkit-input-placeholder {
    color: #A3A5A8;
    font-size: 1rem; }
  div.input input:-moz-placeholder {
    color: #A3A5A8;
    font-size: 1rem; }
  div.input input::-moz-placeholder {
    color: #A3A5A8;
    font-size: 1rem; }
  div.input input:-ms-input-placeholder {
    color: #A3A5A8;
    font-size: 1rem; }
