/* ============================================================
  FORMS
/* ============================================================ */
/**
 * Inputs
 */
div.input {
  /**
     * Select fields
     */ }
  div.input input.hs-input {
    border: 1px solid #A3A5A8;
    padding: .8rem;
    border-radius: 0;
    box-shadow: none;
    font-size: 1rem;
    font-family: "ProximaNova-Regular", helvetica, sans-serif;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; }
    div.input input.hs-input::-webkit-input-placeholder {
      color: #A3A5A8;
      font-size: 1rem;
      font-family: "ProximaNova-Regular", helvetica, sans-serif; }
    div.input input.hs-input:-moz-placeholder {
      color: #A3A5A8;
      font-size: 1rem;
      font-family: "ProximaNova-Regular", helvetica, sans-serif; }
    div.input input.hs-input::-moz-placeholder {
      color: #A3A5A8;
      font-size: 1rem;
      font-family: "ProximaNova-Regular", helvetica, sans-serif; }
    div.input input.hs-input:-ms-input-placeholder {
      color: #A3A5A8;
      font-size: 1rem;
      font-family: "ProximaNova-Regular", helvetica, sans-serif; }
    div.input input.hs-input:valid {
      color: #222222; }
    div.input input.hs-input:focus {
      border-color: #222222;
      color: #222222;
      box-shadow: none;
      outline: none; }
    div.input input.hs-input.error {
      border: 1px solid #F35B62; }
  div.input select {
    padding: .8rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-apprerance: none;
    appearance: none;
    font-size: 1rem;
    height: 46px;
    background: #fff;
    color: #A3A5A8;
    border-radius: 0;
    border-color: #A3A5A8;
    width: 100% !important;
    background: url(https://www.kitchenmagic.com/hubfs/graphics/icons/form_icons/arrow-down.png) no-repeat 95% center; }
    div.input select:focus {
      border-color: #222222;
      color: #222222;
      box-shadow: none;
      outline: none; }
    div.input select:hover {
      cursor: pointer;
      border-color: #222222; }
    div.input select :valid {
      color: #222222; }

/**
  * Date input - calendar for self set forms
  */
div.hs-dateinput input {
  background: url(https://www.kitchenmagic.com/hubfs/graphics/icons/form_icons/calendar.png) no-repeat 95% center; }
  div.hs-dateinput input:hover {
    cursor: pointer;
    border-color: #222222; }

div.hs-datepicker div.fn-date-picker.pika-single.is-bound {
  box-shadow: 0 2px 20px #D9DFF0;
  border: 1px solid #DDE3E6;
  border-radius: 0;
  font-family: "ProximaNova-Regular", helvetica, sans-serif; }

.fn-date-picker .pika-title .pika-label {
  font-weight: normal; }

/**
 * Form labels
 */
div.hs-form-field label {
  font-family: "ProximaNova-Bold", helvetica, sans-serif;
  color: #222;
  font-size: .8rem; }

/**
 * Form errors
 */
ul.hs-error-msgs li label {
  color: #F35B62;
  font-family: "ProximaNova-Regular", helvetica, sans-serif; }

/** added icon to date field **/
.km-form-calender {
  position: relative;
  top: 1.6em;
  left: 5.8em;
  font-size: 19px; }

input#appointment_date_forms_only-d404769a-b244-4245-9adf-882a6dfd6104_8278:hover {
  cursor: pointer; }

/**** register warranty ******/
form#hsForm_91b32f48-8b59-4b22-b8d2-a6dcd84ad271 {
  background: #fff;
  border: none; }

/** all tier 3 lead nurturing forms **/
form#hsForm_5272d80c-70a0-4342-b97e-283e5eac1b4d, form#hsForm_b9180cb5-6d33-4207-9f3e-6df5dd2f76ae, form#hsForm_be98610c-79ad-4add-b2dc-752eb24d353b, form#hsForm_ab652419-eced-4162-9c45-73d3c442d38d, form#hsForm_681556be-bff4-4dd6-bfbf-0592418d0692, form#hsForm_81abae39-7ecb-422c-a0da-0eb928df681b {
  background: none;
  border: none;
  max-width: 532px; }

/* gallery modal estimate popup */
form#hsForm_3ecb0607-1bfe-4310-8a84-dfb681c7ae92 label {
  display: none; }

form#hsForm_3ecb0607-1bfe-4310-8a84-dfb681c7ae92 select, form#hsForm_3ecb0607-1bfe-4310-8a84-dfb681c7ae92 input {
  width: 100%; }

form#hsForm_3ecb0607-1bfe-4310-8a84-dfb681c7ae92 input.hs-button {
  width: 90%; }

form#hsForm_3ecb0607-1bfe-4310-8a84-dfb681c7ae92 .hs-input.error {
  border: 1px solid #F35B62;
  margin: 0 0 1rem 0; }

.form-fine-print {
  max-width: 500px;
  font-size: 0.625rem;
  display: block;
  margin: 0 auto; }
