/**
* This file will live on Hubspot Modules only.
* DO NOT compile to the main.css
**/
/* ============================================================
   PRODUCT CARDS
/* ============================================================ */
.product-card {
  padding: 18px 10px 20px;
  border: 1px solid #E1E5E4;
  width: 100%;
  /**
        * Product numbers
        * This is used to tag the accesories with serial numbers - used on knobs & pulls page
        */ }
  .product-card img {
    margin: 0 auto;
    display: block;
    width: 100%; }
  .product-card .product-title {
    font-size: 1rem;
    text-align: center;
    margin-top: 12px;
    padding-bottom: 2px;
    font-family: "DomaineDisplayNarrowBold", helvetica, serif; }
  .product-card .product-number {
    font-size: 0.6875rem;
    text-align: center;
    margin-bottom: -9px;
    font-style: "ProximaNova-RegularIt", helvetica, sans-serif;
    color: #4a4a4a; }

/**
 * Helper class
 * Hides card if there is too many in one row.
 * When the new dynamic product system is put into place, this will be removed.
 */
.product-hide {
  display: none !important; }

/** 
 * Dyanmic product galleries - fixes left margin for every 5th child on database grids 
 * !!! this will be fixed when we move to flex
 */
.product-row > .span3:nth-child(4n+1) {
  margin-left: 0; }

.product-row > .span4:nth-child(3n+1) {
  margin-left: 0; }
