/* ============================================================
  Typography
/* ============================================================ */
/**
* @stylesheet typography.css Typography
* @parent css.theme
*
* @description 
* We use 4 primary fonts `Domaine Display Narrow Bold`, `Proxima Nova Regular`, `Proxima Nova Regular Italic` and `Proxima Nova Bold`. 
* Maintaining typographic clarity and hierarchy is important; here is a showcase of different ways to structure content.
*
* @styles typography-headers Typography
* @iframe demos/base/typography/headers.html
**/
/**
 * Import for font springs traffic counter
 */
@import url("//hello.myfonts.net/count/37001a");
/* For Hubspot dev - in production */
@font-face {
  font-family: 'DomaineDisplayNarrowBold';
  src: url("https://www.kitchenmagic.com/hubfs/fonts/domaine-display-narrow-bold/DomaineDisplayNarrowWeb-Bold.woff") format("embedded-opentype");
  src: url("https://www.kitchenmagic.com/hubfs/fonts/domaine-display-narrow-bold/DomaineDisplayNarrowWeb-Bold.woff?#iefix") format("embedded-opentype");
  src: url("https://www.kitchenmagic.com/hubfs/fonts/domaine-display-narrow-bold/DomaineDisplayNarrowWeb-Bold.woff") format("woff");
  src: url("https://www.kitchenmagic.com/hubfs/fonts/domaine-display-narrow-bold/DomaineDisplayNarrowWeb-Bold.woff2") format("woff2"); }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-bold.eot");
  src: url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-bold.eot?#iefix") format("embedded-opentype"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-bold.woff2") format("woff2"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-bold.woff") format("woff"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-bold.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular.eot");
  src: url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular.eot?#iefix") format("embedded-opentype"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular.woff2") format("woff2"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular.woff") format("woff"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular-italic.eot");
  src: url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular-italic.eot?#iefix") format("embedded-opentype"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular-italic.woff2") format("woff2"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular-italic.woff") format("woff"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular-italic.ttf") format("truetype"); }

/**
 * Headers
 */
h1, h2, h3, h4, h5 {
  font-family: "DomaineDisplayNarrowBold", helvetica, serif;
  color: #222222;
  letter-spacing: 1px !important;
  margin: 1.414rem 0 0.5rem; }

h1 {
  font-size: 4.375rem;
  margin-top: 0; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 1.875rem; }

h5 {
  font-size: 1.5rem; }

/**
* @styles typography-body Body Copy
*
* @description
* Body copy description
* @iframe demos/base/typography/body-copy.html
*/
/**
 * Body text
 */
p {
  font-family: "ProximaNova-Regular", helvetica, sans-serif;
  color: #222222;
  font-size: 1rem;
  margin-bottom: 1.3rem;
  line-height: 1.75rem;
  max-width: 40rem; }

strong {
  font-family: "ProximaNova-Bold", helvetica, sans-serif; }

em {
  font-family: "ProximaNova-RegularIt", helvetica, sans-serif; }

a {
  color: #F01834;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }
  a:hover {
    border-bottom: 1px solid #F01834; }
  a:active {
    color: #C30019; }

::selection {
  background: #F01834;
  color: #fff; }

::-moz-selection {
  background: #F01834;
  color: #fff; }

/**
 * Horizontal rule
 */
hr {
  border: solid #E1E5E4;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 1.25rem 0 1.1875rem; }
