/* ============================================================
  FOOTER
/* ============================================================ */

/*
/*  Global Top Footer CTA
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
.top-footer-cta {
    background-color: color(background);
    padding: 40px 10px;
    text-align: center;
}
  
.km-footer .km-btn-info {
    padding: 16px 19px !important;
    text-align: center;
    margin-bottom: 0;
}

.km-footer .km-btn-info:hover {
    color: #fff;
}


/*
/*  Footer
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
.dark-footer {
    color: #fff;
    line-height: 1;
    @include respond-below('md') {
        text-align: center;
    }

    @include respond-above('sm') {
        text-align: left;
    }

    h2, h3, p, a {
        color: #fff;
        margin-bottom: px-to-rem(10px);
        @include transition(all 300ms ease);
    }

    a:hover {
        border-color: #fff;
        border-bottom: none;
        color: color(primary, base);
    }

    span i {
        font-size: px-to-rem(4px);
        padding: 0 5px;
    }

    // margin fix for Service Areas
    .hs-menu-flow-vertical {
        margin-top: 7px;
    }

    // Footer forms
    form {
        display: -webkit-flex; 
        display: flex; 
        flex-wrap: wrap;
        @include respond-below('md') {
            margin-bottom: px-to-rem(22px);
        }

        @include respond-above('md') {
            flex-wrap: nowrap;
        }

        .field {
            width: 100%;
            box-sizing: border-box;
            padding-right: 15px;
            @include respond-below('md') {
                width: 100%;
                padding-right: 0;
            }  
        }
        // blog subscribe form
        &#hsForm_757a36fb-ee8e-4d27-a531-040172cc2965 .hs_email input { 
            width: 100%;
            border: none;
            height: auto;
        }
        // error messages
        ul.hs-error-msgs {
            display: block !important;
            color: white;
            list-style-type: none; 
            margin: 7px 0 0 0; 
            padding: 0;

            label {
                color: #fff;
                font-size: .75em;
            }
        }
     }

     .hs-submit {
         width: auto;

         @include respond-above('md') {
             margin-top: 9px;
         }

         @include respond-below('lg') {
             margin-top: 0;
             width: 100%;
         }
     }

     .footer-flag {
        padding-top: 75px !important;
        text-align: center; 
        @include respond-below('md') {
            padding-top: px-to-rem(20px) !important;
        }
     }

    .mobile-flag {
        display: none;
        @include respond-below('md') {
            display: block;
        }

        img {
            width: 100px;
            height: auto;
            @include respond-below('md') {
                margin: 0 auto;
            }
        }
    }

     .top-left {
         @include respond-below('sm') {
             width: 100% !important;
         }
     }
}

// Social icons
.footer-social {
    padding: 12px 0 20px;

    a {
        margin-right: 10px;
        @include transition(all 300ms ease);

        &:hover {

            i {
                color: #fff;
                text-decoration: none;
                border-color: #fff;
            }
        }

        i {
            font-size: 1rem;
            height: 35px;
            width: 35px;
            border: 1px solid color(primary, base);
            vertical-align: middle;
            border-radius: 50px;
            top: 5px;
            padding: 8px 9px;
            color: color(primary, base);
            @include transition(all 300ms ease);
        }
    }
}



 .footer-container-wrapper .row-fluid [class*="span"], .footer-container .row-fluid [class*="span"] { min-height: 0; }
 .footer-container-wrapper .km-footer>.row-fluid-wrapper .widget-span { padding: 0; }
 .footer-container-wrapper .km-footer>.row-fluid-wrapper .dark-footer .widget-span { margin-bottom: 0;padding: 0; }
 html .footer-container-wrapper .km-footer>.row-fluid-wrapper .dark-footer { margin-bottom: 0;padding: 15px 20px 0;background: color(text, base);font-size: 0.875rem;font-family: family(body); }
 html .footer-container-wrapper .km-footer>.row-fluid-wrapper .dark-footer p { font-size: 0.875rem; }
 .dark-footer strong { font-weight: 600; }
 .dark-footer .top-left h2 { padding-bottom:0; }
 .dark-footer .top-left p { font-weight: 300; }
 .dark-footer .footer-flag img { width: 100px; height: auto; }
 
 .dark-footer form input[type="submit"] { background: color(primary, base);border-radius: 0;border: 2px solid color(primary, base);padding:11px 28px;font-family: family(body);font-size: 1rem; color: #fff;position: relative; top: 14px; text-transform: uppercase; width: 100%; }
 .dark-footer form input[type="submit"]:hover { background:color(primary, dark);border: 2px solid color(primary, dark); cursor: pointer; }
 .dark-footer form input[type="submit"]:focus { outline: none; }
 .dark-footer input::-webkit-input-placeholder { color: color(text,base);font-style: italic; }
 .dark-footer input::-moz-placeholder { color: color(text,base);font-style: italic; }
 .dark-footer input:-ms-input-placeholder { color: color(text,base);font-style: italic; }
 .dark-footer input:-moz-placeholder { color: color(text,base);font-style: italic; }
 
 .dark-footer .footer-middle { padding: 40px 0 !important; }
 .dark-footer .footer-middle > .row-fluid-wrapper > .row-fluid { display: -webkit-flex; display: flex; }
 .dark-footer .footer-middle .middle-right, .dark-footer .footer-contact { padding-left: 15px !important; }
 .dark-footer .footer-contact p { margin-bottom: 10px; }
 .dark-footer .footer-middle .middle-right em { font-size: 15px;line-height: 1.5em; }
 .dark-footer ul { font-size: 0.875rem; }
 .dark-footer .footer-solutions-menu { 
    border-right: 1px solid rgba(255,255,255, .7);
    @include respond-below ('md') {
        display: none !important;
    } 
}
 .dark-footer .footer-solutions-menu ul { -webkit-columns: 150px 2;-moz-columns: 150px 2;columns: 150px 2; }
 .dark-footer .hs-menu-wrapper.flyouts ul li>a { padding: 2px 0; background: color(text, base); color: #fff; line-height: 1.5; @include transition(all 300ms ease); }
 .dark-footer .hs-menu-wrapper.flyouts ul li>a:hover {color: color(primary, base); text-decoration: none; }
 html .footer-container .dark-footer .km-sub-footer { border-top: 1px solid rgba(255,255,255, .7);padding: 12px 0 !important; }
 html .footer-container .dark-footer .km-sub-footer a { font-size: 0.75rem; }

/**
 * Style the bottom left menu of the footer
 */
 .km-menu-title {
    text-transform: uppercase;
    letter-spacing: 1px;
}

/**
 * sub-footer
 */
.km-sub-footer {
    padding-top: 7px !important;

    p, a {
        font-size: px-to-rem(12px);
        color: #fff;
    }
}

// divides privacy policy and sitemap on bottom of footer
i.km-icon-divider {
    vertical-align: middle;
}

// !!! THIS NEEDS TO BE REMOVE - OLD CODE
// uses a media query we are not using in the new version of the site
@media (max-width: 1024px) {
    html .row-fluid .dark-footer .top-left { width: 64%; }
    html .row-fluid .dark-footer .footer-flag { display: none; }
    .dark-footer .footer-middle { padding: 10px 0 40px !important; }
    .dark-footer .footer-middle > .row-fluid-wrapper > .row-fluid > div { display: none; }
    .dark-footer .footer-middle > .row-fluid-wrapper > .row-fluid > .middle-right { 
        display: block;
        width:100%;
        padding: 15px 0 0 !important;
        margin: 0;
        text-align: center; 

        em {
            width: 400px;
            display: inline-block;
            padding-left: px-to-rem(20px);

            @include respond-below('sm') {
                width: auto;
                padding-left: 0;
            }
        }
    }
    .dark-footer .hs-menu-wrapper.flyouts ul li { display: inline-block;padding: 0 5px !important; }
    .dark-footer .footer-solutions-menu { border-right: none; }
    .dark-footer .footer-solutions-menu ul { -webkit-columns: auto auto;-moz-columns: auto auto;columns: auto auto; }
    .dark-footer .mobile-flag { display: inline-block; margin-bottom: px-to-rem(20px);}
}