/* ============================================================
   HEADER
/* ============================================================ */

.header-container-wrapper{
	position: relative;
	z-index: 999;
}

/**
 * Logo
 */
#hs-link-logo img {
    max-width: 170px;
}

/**
 * Old Menu
 * !!! Needs to be redone.
 */
.hs-menu-wrapper.flyouts ul li > a {
    padding: 0.4rem 2rem 0.4rem 1rem;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 1px;
    display: block;
    display: inline-table;
    visibility: visible;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
  }

  .hs-menu-flow-vertical.flyouts li.hs-item-has-children ul.hs-menu-children-wrapper > li > a, .hs-menu-flow-horizontal.flyouts > ul li ul.hs-menu-children-wrapper li a {
    -moz-transition: max-height 0.5s ease-in-out, max-width 0.5s ease-in-out, padding 0.4s ease-in-out, visibility 0.5s linear 0s;
    -o-transition: max-height 0.5s ease-in-out, max-width 0.5s ease-in-out, padding 0.4s ease-in-out, visibility 0.5s linear 0s;
    -webkit-transition: max-height 0.5s ease-in-out, max-width 0.5s ease-in-out, padding 0.4s ease-in-out, visibility 0.5s linear;
    -webkit-transition-delay: 0s, 0s, 0s, 0s;
    transition: max-height 0.5s ease-in-out, max-width 0.5s ease-in-out, padding 0.4s ease-in-out, visibility 0.5s linear 0s;
    visibility: hidden;
  }
  
  .hs-menu-flow-vertical.flyouts li.hs-item-has-children ul.hs-menu-children-wrapper > li > a {
    max-width: 0;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
  }
  
  .hs-menu-flow-horizontal.flyouts > ul li ul.hs-menu-children-wrapper li a {
    max-height: 0;
    border-top: none;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .hs-menu-wrapper.flyouts ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
  }

  .hs-menu-wrapper.flyouts ul li {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
  }
  
 
  .hs-menu-flow-horizontal {
    position: relative;
    z-index: 100;
  }

  .hs-menu-flow-horizontal.flyouts > ul li {
    float: left;
  }

  .hs-menu-flow-horizontal.flyouts > ul li ul.hs-menu-children-wrapper {
    width: 100%;
    position: absolute;
    z-index: 3;
    display: inline-table;
  }

  .hs-menu-flow-horizontal.flyouts > ul li ul.hs-menu-children-wrapper li {
    width: 100%;
  }

  .hs-menu-flow-horizontal.flyouts > ul li ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
    top: 0;
    left: 100%;
  }

  .hs-menu-flow-horizontal.flyouts > ul li ul.hs-menu-children-wrapper li.hs-item-has-children > a:after {
    font-family: "FontAwesome";
    content: "\f105";
    position: absolute;
    padding-left: 1rem;
  }

  .hs-menu-flow-horizontal.flyouts > ul li.hs-item-has-children {
                    /*
                    //Horizontal Items Hover States
                    a:hover + .hs-menu-children-wrapper,
                    .hs-menu-children-wrapper:hover {
                        z-index: 150;
    
                        & > li > a {
                            @extend %list-item-active;
                        }
                    }*/
  }

  .hs-menu-flow-horizontal.flyouts > ul li.hs-item-has-children > a:after {
    font-family: "FontAwesome";
    content: "\f107";
    position: absolute;
    padding-left: 1rem;
  }
  
  .hs-menu-flow-vertical > ul {
    float: left;
  }

  .hs-menu-flow-vertical.flyouts li.hs-item-has-children {
    position: relative;
    /*
    a:hover + .hs-menu-children-wrapper,
    & > .hs-menu-children-wrapper:hover {
        
        & > li > a {
            @extend %list-item-active;
        }
    }
    */
  }

  .hs-menu-flow-vertical.flyouts li.hs-item-has-children > a:after {
    font-family: "FontAwesome";
    content: "\f105";
    position: absolute;
    padding-left: 1rem;
  }

  .hs-menu-flow-vertical.flyouts li.hs-item-has-children ul.hs-menu-children-wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 100%;
  }
  
  .hs-menu-children-wrapper:hover ~ a {
    background: url("http://landing.kitchenmagic.com/hubfs/graphics/textures/img-noise-100x100_2.png") #947565;
  }
  
 
  .km-nav-primary.km-navigation {
    width: 100%;
    background-color: #85695b;
    background-image: url("http://landing.kitchenmagic.com/hubfs/graphics/textures/img-noise-100x100_2.png");
    position: relative;
    height: 60px;
    -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.6), inset 0 -1px 2px #483932, inset 0 0px 1px #f2efed;
    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.6), inset 0 -1px 2px #483932, inset 0 0px 1px #f2efed;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.6), inset 0 -1px 2px #483932, inset 0 0px 1px #f2efed;
  }
 
  .km-nav-primary.km-navigation > span {
    position: relative;
  }

  .km-nav-primary.km-navigation .hs-menu-wrapper {
    max-width: 71.25rem;
    position: static;
    margin-left: auto;
    margin-right: auto;
  }
 
  .km-nav-primary.km-navigation .hs-menu-wrapper ul > li {
    width: 20% !important;
    position: static;
  }
 
  .km-nav-primary.km-navigation .hs-menu-wrapper ul > li a {
    padding: 0 1em;
    margin: 0;
    line-height: 60px;
    background: none;
    color: #FFFFFF;
    text-align: center;
    -moz-transition: background 0.4s ease-in-out;
    -o-transition: background 0.4s ease-in-out;
    -webkit-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
    letter-spacing: 1.2px;
  }

  .km-nav-primary.km-navigation .hs-menu-wrapper > ul > li > a {
    text-shadow: 0 -1px #0c0908;
  }

  .km-nav-primary.km-navigation .hs-menu-wrapper > ul > li > a:hover,
  .km-nav-primary.km-navigation .hs-menu-wrapper > ul > li > a ul:hover + a {
    background: url("http://landing.kitchenmagic.com/hubfs/graphics/textures/img-noise-100x100_2.png") #947565;
    -moz-box-shadow: inset 0 -3px #FFFFFF;
    -webkit-box-shadow: inset 0 -3px #FFFFFF;
    box-shadow: inset 0 -3px #FFFFFF;
  }

  .km-nav-primary.km-navigation .hs-menu-wrapper .hs-item-has-children > ul {
    -moz-transition: max-height 1s ease-in-out, visibility 1s linear 0s;
    -o-transition: max-height 1s ease-in-out, visibility 1s linear 0s;
    -webkit-transition: max-height 1s ease-in-out, visibility 1s linear;
    -webkit-transition-delay: 0s, 0s;
    transition: max-height 1s ease-in-out, visibility 1s linear 0s;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0;
    background-color: #5988DA;
    border-bottom: solid 1px #2f6ad1;
    display: block;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0 calc(50% - 570px) !important;
    right: 0;
    top: 60px;
    visibility: hidden;
  }

  .km-nav-primary.km-navigation .hs-menu-wrapper .hs-item-has-children > ul > li {
    display: inline-block;
  }
 
  .km-nav-primary.km-navigation .hs-menu-wrapper .hs-item-has-children > ul > li > a {
    transition: color 0.4s ease-in-out;
    font-size: 1em;
    line-height: 60px;
    max-height: initial;
    visibility: visible;
    color: white;
    position: relative;
    display: block;
    background: #5988DA;
    text-shadow: 0 -1px #132b54;
                            /*&:after{
                                @include icon($fa-angle-right, right);
                                    padding: 0 .5rem 0 .7rem;
                                    right: 0;
                            }*/
  }

  .km-nav-primary.km-navigation .hs-menu-wrapper .hs-item-has-children > ul > li > a:hover {
    background: #618edc;
  }

  .km-nav-primary.km-navigation .hs-menu-wrapper .hs-item-has-children > a:hover + ul, .km-nav-primary.km-navigation .hs-menu-wrapper .hs-item-has-children > ul:hover {
    z-index: 10;
    visibility: visible;
    max-height: 300px;
  }

/**
 * Header
 */

 .new-kitchen-header {
   @include respond-below('lg') {
     display: none !important;
   }
 }
.new-kitchen-header .header-top { 
  background: #F4F4F4;color: #4D4D4D; 
}
.new-kitchen-header .header-bottom { 
  background: white; 
  border-bottom: 1px solid color(border); 
  font-family: family(body); 
}
.km-page-full-width .off-canvas-wrap { 
  overflow: visible; 
}

.new-kitchen-header .header-top .km-wrapper > .row-fluid-wrapper > .row-fluid { 
  font-weight: 600;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  display: -webkit-flex; 
  display: flex; 
}
.new-kitchen-header .header-top .km-wrapper > .row-fluid-wrapper > .row-fluid > div { 
  width: auto; 
}
.new-kitchen-header .header-top .share-magic { 
  flex: 1;
  padding: 8px 0 9px; 
}

.new-kitchen-header .header-top .share-magic a { 
  color: #ef4136;
  -moz-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out; 
}
.new-kitchen-header .header-top .share-magic a:hover { 
  color: #555555; 
}
.new-kitchen-header .header-search { border: none;margin-bottom: 2px;padding: 12px 60px 12px 30px;height: auto;width: 250px;background: white url(https://www.kitchenmagic.com/hubfs/graphics/icons/search.png) 92% center no-repeat; font-family: family(body); font-size: 0.9375rem; }
.new-kitchen-header .header-search:focus { background: white url(https://www.kitchenmagic.com/hubfs/graphics/icons/search.png) 92% center no-repeat; }
.new-kitchen-header .header-top .top-section { padding: 8px 20px 9px 40px;margin:0;min-height:0; }
.new-kitchen-header .header-top .top-section p { margin: 0; }
.new-kitchen-header .header-top .top-customer { border-left: 1px solid #DDDDDD;border-right: 1px solid #DDDDDD;font-style: italic; }
.new-kitchen-header .header-top .top-phone { padding-right: 0; }
.new-kitchen-header .header-top .top-phone a { color: #555555; }

.new-kitchen-header .header-bottom .km-wrapper > .row-fluid-wrapper > .row-fluid { display: -webkit-flex; display: flex;-webkit-align-items: center; align-items: center; }
.new-kitchen-header .header-bottom .km-wrapper > .row-fluid-wrapper > .row-fluid > div { width: auto; }
.new-kitchen-header .header-bottom .km-wrapper > .row-fluid-wrapper > .row-fluid .header-logo { width: 170px;padding: 15px 0; }
.new-kitchen-header .header-bottom .bottom-right { flex: 1;padding: 20px 0 10px;text-align: right; }
.new-kitchen-header .header-bottom .bottom-right-top { font-weight: 300;font-size: 18px; }
.new-kitchen-header .header-bottom .bottom-right-top p { margin-bottom: 7px;}
.new-kitchen-header .header-bottom .bottom-right-top strong, .new-kitchen-header .header-bottom .bottom-right-top a { color: #EF4136; }
.new-kitchen-header .header-bottom .bottom-right-top > .row-fluid-wrapper > .row-fluid { -webkit-justify-content: flex-end;justify-content: flex-end;display: -webkit-flex; display: flex; }
.new-kitchen-header .header-bottom .bottom-right-top > .row-fluid-wrapper > .row-fluid > div { width: auto; }
.no-top-header .header-bottom .bottom-right-top > .row-fluid-wrapper > .row-fluid > div:nth-child(1) { flex: 1;text-align: center; }
.new-kitchen-header.no-top-header .header-search { padding: 5px 30px 5px 0px;box-shadow: none;border-bottom: 1px solid #e4e4e4;background: white url(https://www.kitchenmagic.com/hubfs/graphics/icons/med-search.png) 100% center no-repeat;background-size: auto 70%;width: 200px; }
.new-kitchen-header.no-top-header .header-search::-webkit-input-placeholder { font-style: italic; }
.new-kitchen-header.no-top-header .header-search::-moz-placeholder { font-style: italic; }
.new-kitchen-header.no-top-header .header-search:-ms-input-placeholder { font-style: italic; }
.new-kitchen-header.no-top-header .header-search:-moz-placeholder { font-style: italic; }
.new-kitchen-header.no-top-header .header-search:focus {
    outline: none;
}

.new-kitchen-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul { text-align: left;display: inline-block; }
.new-kitchen-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a { max-width:100%;text-transform: uppercase;color: color(text,base);font-size:16px;padding: 0.4rem 1.7rem; background: #fff; border-bottom: none; font-size: 0.9375rem; letter-spacing: .47px;   }
.new-kitchen-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a:hover {text-decoration: none;}
.new-kitchen-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li:nth-last-child(1) a { padding-right:0; }
.new-kitchen-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children > a:after { content:'\f107';font-family: fontawesome;padding-left: 6px; position: static;}
.new-kitchen-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul { padding-top: 15px;width: 250px;display: block;overflow:hidden;height:0;-webkit-transition: all .3s ease-in-out; -moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.new-kitchen-header.no-top-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul { padding-top: 13px; }
.new-kitchen-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children:hover ul { height: 500px; }
.new-kitchen-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul a { visibility: visible;background: color(text,base); color: #fff; margin: 0;padding: 10px 15px;  -webkit-transition: all .2s ease-in-out; -moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out; border-bottom: 1px solid #c7c7c7; }
.new-kitchen-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul li:last-child a{ border-bottom: none; }
.new-kitchen-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul a:hover { background: color(primary, base); color: #fff; }
.new-kitchen-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul a:active { background: color(primary, dark); }

/* mobile nav */

@keyframes menu-pop {
0% {
    -moz-transform: scale(1); -ms-transform: scale(1);  -o-transform: scale(1); -webkit-transform: scale(1); transform: scale(1);
}
50% {
    -moz-transform: scale(1.5); -ms-transform: scale(1.5);  -o-transform: scale(1.5); -webkit-transform: scale(1.5); transform: scale(1.5);
}
100% {
    -moz-transform: scale(1); -ms-transform: scale(1);  -o-transform: scale(1); -webkit-transform: scale(1); transform: scale(1);
}
}
@keyframes menu-out {
0% {
    -moz-transform: scale(1); -ms-transform: scale(1);  -o-transform: scale(1); -webkit-transform: scale(1); transform: scale(1);
}
50% {
    -moz-transform: scale(1.5); -ms-transform: scale(1.5);  -o-transform: scale(1.5); -webkit-transform: scale(1.5); transform: scale(1.5);
}
100% {
    -moz-transform: scale(1); -ms-transform: scale(1);  -o-transform: scale(1); -webkit-transform: scale(1); transform: scale(1);
}
}
html body.no-scroll { height: 100vh;overflow: hidden;position: fixed; }

.new-mobile { position: fixed !important;top:0;z-index: 100200;background: white;padding: 15px 30px; @include box-shadow($shadow-md);width: 100% !important;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out; }
.new-mobile.top { padding: 30px 30px; position: relative;}
.new-mobile .row-fluid [class*="span"] { min-height: 0; }
.new-mobile> .row-fluid-wrapper > .row-fluid { display: -webkit-flex; display: flex;-webkit-align-items: center; align-items: center; }
.new-mobile> .row-fluid-wrapper > .row-fluid > div { width: 33.3333%; }
.new-mobile .mobile-logo { text-align: center; }
html .new-mobile .mobile-logo-mini { display: block; }
html .new-mobile.top .mobile-logo-mini { display: none; }
html .new-mobile .mobile-logo-large { height:0;opacity:0;overflow: hidden;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out; }
html .new-mobile .mobile-logo-large img { width: 107px !important; margin-top: -19px; margin-bottom: -10px; }
html .new-mobile.top .mobile-logo-large { height:auto;opacity:1;overflow: visible; }
.new-mobile .contact-trigger { text-align: right; }
.new-mobile .contact-trigger .mobile-contact-btn { cursor:pointer;display: inline-block;width: 30px;height: 30px;background: url(https://www.kitchenmagic.com/hubfs/graphics/icons/phone-grey.png) center no-repeat;background-size: contain; }
.new-mobile .contact-trigger .mobile-contact-btn .btn-open { display: block;width: 30px;height: 30px;background: url(https://www.kitchenmagic.com/hubfs/graphics/icons/phone-red.png) center no-repeat;background-size: contain;opacity: 0;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out; }
.new-mobile .contact-trigger.open .mobile-contact-btn .btn-open { opacity: 1; }

.ham-wrap { position: relative;height: 20px;width: 30px;cursor: pointer;animation: menu-out .4s 1; }
.ham-wrap > span { overflow: auto;display: block;width: 30px;padding: 1px 0;position: absolute;left: 0;border-radius: 3px;-webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out;background: #959595; }
.ham-wrap .ham1 { top: 0; }
.ham-wrap .ham2 { top: 50%;margin-top: -1px; }
.ham-wrap .ham3 { bottom: 0; }
.ham-wrap.open { animation: menu-pop .4s 1; }
.ham-wrap.open > span { background: #EF4136; }
.ham-wrap.open .ham1 { -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg);  transform: rotate(45deg);top: 50%;margin-top: -1px; }
.ham-wrap.open .ham2 { -moz-transform: scale(0); -ms-transform: scale(0);  -o-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); }
.ham-wrap.open .ham3 { -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg);  transform: rotate(-45deg);bottom: 50%;margin-bottom: -1px; }

.menu-overlay { z-index: -1;top:0;bottom:0;left:0;right:0;width: 100% !important;opacity:0;background: rgba(0,0,0, .2);-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out; }
.menu-overlay.open { z-index: 9999;opacity: 1; }

html .row-fluid .new-mobile-navigation { position: fixed;top:0;bottom:0;left:-100%;z-index: 100100;background: rgba(0,0,0, 0);width: 90%;box-sizing: border-box;-webkit-transition: all .3s ease-in-out; -moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out; }
html .row-fluid .new-mobile-navigation > div { background: white;width: 100%;box-sizing: border-box;-webkit-transition: all .3s ease-in-out; -moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out; }
html .row-fluid .new-mobile-navigation.open { left: 0;width: 100%; }
html .row-fluid .new-mobile-navigation.open > div { width: 90%; }
html .row-fluid .new-mobile-navigation > div:nth-child(1) { height: 100%;overflow: auto;background: white;box-sizing: border-box;padding: 65px 0 55px;box-shadow: 5px 0px 20px rgba(0,0,0, 0);-webkit-transition: all .3s ease-in-out; -moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out; }
html .row-fluid .new-mobile-navigation.open > div:nth-child(1) { box-shadow: 5px 0px 20px rgba(0,0,0, .2); }
html .row-fluid .new-mobile-group.top .new-mobile-navigation > div:nth-child(1) { padding: 97px 0 55px; }

.new-mobile-navigation ul { width: 100%; }
.new-mobile-navigation ul a { color: color(text,base);text-transform: uppercase;font-size: 18px;font-family: family(body); }
.new-mobile-navigation .hs-menu-wrapper > ul > li { border-bottom: 2px solid color(border); }
.new-mobile-navigation .hs-menu-wrapper.flyouts ul li > a { padding: 10px 30px;margin: 0;width: 100%;max-width: 100%;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out; font-size: px-to-rem(18px); letter-spacing: .47px; color: color(text, base); }
.new-mobile-navigation .hs-menu-wrapper.flyouts ul > li:nth-child(1) > a { padding-top: 15px; }
.new-mobile-navigation .hs-menu-wrapper.flyouts ul li > a:hover { border-color: transparent; }
.new-mobile-navigation .hs-menu-flow-vertical.flyouts li.hs-item-has-children { position: relative;z-index:1; }
.new-mobile-navigation .hs-menu-flow-vertical.flyouts li.hs-item-has-children > a { position: relative;z-index:2; }
.new-mobile-navigation .hs-menu-flow-vertical.flyouts li.hs-item-has-children > a:after { content: '\f067';right: 30px; font-size: px-to-rem(19px);line-height: 45px;bottom: 0;}
.new-mobile-navigation .hs-menu-flow-vertical.flyouts li.hs-item-has-children.open > a:after { content: '\f068'; }
.new-mobile-navigation .hs-menu-flow-vertical.flyouts li.hs-item-has-children > ul { position: relative;z-index:1; }
.new-mobile-navigation .hs-item-has-children.open { background: color(gray, light); }
.new-mobile-navigation .hs-item-has-children.open > a { background: color(gray, light); @include box-shadow($shadow-sm); color: #fff; }
.new-mobile-navigation .hs-menu-flow-vertical.flyouts li.hs-item-has-children ul.hs-menu-children-wrapper { position: static;display: none;box-shadow: 0px 2px 6px rgba(0,0,0, .05) inset;background: #F7F9F9; }
.new-mobile-navigation .hs-menu-flow-vertical.flyouts li.hs-item-has-children ul.hs-menu-children-wrapper li { border-top: 2px solid #F4F4F4; }
.new-mobile-navigation .hs-menu-flow-vertical.flyouts li.hs-item-has-children ul.hs-menu-children-wrapper li:nth-child(1) { border-top: none; }
.new-mobile-navigation .hs-menu-flow-vertical.flyouts li.hs-item-has-children ul.hs-menu-children-wrapper li a { padding: 10px 50px;visibility: visible;width: 100%;max-width: 100%;font-size: 0.9375rem; letter-spacing: .47px; }

.new-mobile-navigation .row-fluid-wrapper { position: static; }
.new-mobile-navigation .mobile-search { position: absolute;z-index:2;left:0;bottom:0;width: 90% !important;box-shadow: 0px -1px 8px rgba(0,0,0, .3); }
.new-mobile-navigation .mobile-search .header-search { margin-bottom: 0;background: #fff url(https://www.kitchenmagic.com/hubfs/graphics/icons/search-dark.png) 20px center no-repeat;border: none;border-radius: 0;box-shadow: none;padding: 17px 20px 17px 60px;height: 55px; width: 100%; }
.mobile-search .header-search::-webkit-input-placeholder { color: color(text, base); }
.mobile-search .header-search::-moz-placeholder { color: color(text, base); }
.mobile-search .header-search:-ms-input-placeholder { color: color(text, base); }
.mobile-search .header-search:-moz-placeholder { color: color(text, base); }
.new-mobile-navigation .mobile-search .header-search:focus{
  outline: none;
}

html .row-fluid .new-mobile-contact { position: fixed;top:0;bottom:0;right:-100%;z-index: 10000;background: rgba(0,0,0, 0);width: 90%;box-sizing: border-box;-webkit-transition: all .3s ease-in-out; -moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out; }
html .row-fluid .new-mobile-contact > div { background: #F7F9F9;width: 100%;box-sizing: border-box;padding: 65px 0px 20px 20px;box-shadow: -5px 0px 20px rgba(0,0,0, 0);margin-left: auto;-webkit-transition: all .3s ease-in-out; -moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out; }
html .row-fluid .new-mobile-group.top .new-mobile-contact > div { padding: 118px 0px 20px 20px; }
html .row-fluid .new-mobile-contact > .row-fluid-wrapper > .row-fluid, html .row-fluid .new-mobile-contact > .row-fluid-wrapper { height: 100%; }
html .row-fluid .new-mobile-contact.open { right:0;width: 100%; }
html .row-fluid .new-mobile-contact.open > div { width: 90%;box-shadow: -5px 0px 20px rgba(0,0,0, .2); }
html .row-fluid .new-mobile-contact .scroll-wrapper { height: 100%;overflow: auto;padding-right: 20px;-webkit-overflow-scrolling: touch; }
.new-mobile-contact .mobile-call-btns { text-align: center; }
.new-mobile-contact .mobile-call-btns a { display: block ;background: color(primary,base) url(https://www.kitchenmagic.com/hubfs/graphics/icons/phone-white.png) 92% 50% no-repeat;background-size: 30px;color: white;margin-bottom: 25px;padding: 15px 40px 15px 20px;border-radius: 3px;text-transform: uppercase;font-family: family(body); }
html .row-fluid .new-mobile-contact .widget-type-form { border-top: 1px solid #E0E0E0; }
html .row-fluid .new-mobile-contact .widget-type-form h3, html .row-fluid .new-mobile-contact .contact-header { font-family: family(body);font-weight: 600;font-size: 18px;padding: 15px 0;text-align: center; }

html .row-fluid .new-mobile-contact form .field input { border: 1px solid color(border);  padding: .8rem; border-radius: 0; height: auto; margin-bottom: 25px;border-radius: 0; width: 100%; }
html .row-fluid .new-mobile-contact form .actions input { width: 100%;background: color(primary, base);padding: 20px 25px;height: auto;font-family: family(body);border-radius: 0; border: none; color: #fff; text-transform: uppercase; }
html .row-fluid .new-mobile-contact form input.error { margin-bottom: 25px; }
.new-mobile-contact input::-webkit-input-placeholder { color: color(text, base); }
.new-mobile-contact input::-moz-placeholder { color: color(text, base); }
.new-mobile-contact input:-ms-input-placeholder { color: color(text, base); }
.new-mobile-contact input:-moz-placeholder { color: color(text, base); }

/* Search Results */

html #addsearch-results .addsearch-result-item-sub { font-size: 16px; }
html #addsearch-results .addsearch-result-item-sub h1 a { font-size: 1.5em; color: color(text, base); }


// !!! THIS NEEDS TO BE REMOVE - OLD CODE
// uses a media query we are not using in the new version of the site
@media (min-width: 1200px) {
  .new-mobile, html .row-fluid .new-mobile-contact, html .row-fluid .new-mobile-navigation, .new-mobile-group {
    display: none !important;
  }
}


//
//  Header
//––––––––––––––––––––––––––––––––––––––––––––––––––

.km-header {
  margin-bottom: 41px;
  @include transition(all .5s ease);
  //over sticky.js index
  z-index: 999999 !important;
  // show only on desktop
  @include respond-below('lg') {
    display: none !important;
  }
}

.km-header-top {
  background: color(text, base);
  color: #fff;
  padding: 9px 0 4px;
  font-size: px-to-rem(14px);
  transition: all .5s ease;
  position: fixed;
  top: 0;

  &.remove {
    transform: translateY(-100%);
  }
}

.km-header-bottom {
  padding: 6px 0 13px;
  background-color: #fff;
  @include box-shadow($shadow-sm);
  transform: translateY(40px);
  @include transition(all .5s ease);

  &.adjust {
    transform:translateY(0);
  }
}

.km-logo img {
  max-width: 130px !important;
}

// menu styling
.km-nav {
  display: flex !important;
  justify-content: flex-end;
  margin-top: 20px;
}
// override primary button styles
.km-nav__button {
  margin: 0 0 0 26px !important;
  padding: 9px 21px !important;
  position: relative;
  top: -4px;
}


.km-header__service-number {
  margin-left: 15px;
}

.km-header__location {
  color: #fff;
  margin-right: 15px;

  i {
    margin-right: 2px;
  }

  &:hover {
    text-decoration: none;
    color: color(gray, light);
  }
}

// search bar
.km-header__search {

  &:hover {
    cursor: pointer;
    color: color(gray, light);
  }
  i {
    margin-right: 2px;
  }
}

form#header-search-form {
  display: inline-block;
}

input.header-search{
  width: 0;
  border: 0;
  outline: none;
  padding: 0;
  @include transition(all 500ms ease);
}

input.header-search.header-search--open {
  width: 300px !important;
  padding: 0 8px;
}

.km-header__actions {
  float: right;
}

// menu
.km-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul { text-align: left;display: inline-block; }
.km-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a { max-width:100%;text-transform: uppercase;color: color(text,base);font-size:16px;padding: 0.4rem 1.7rem; background: #fff; border-bottom: none; font-size: 0.9375rem; letter-spacing: .47px;   }
.km-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a:hover {text-decoration: none;}
.km-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li:nth-last-child(1) a { padding-right:0; }
.km-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children > a:after { content:'\f107';font-family: fontawesome;padding-left: 6px; position: static;}
.km-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul { padding-top: 15px;width: 250px;display: block;overflow:hidden;height:0;-webkit-transition: all .3s ease-in-out; -moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.km-header.no-top-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul { padding-top: 13px; }
.km-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children:hover ul { height: 500px; }
.km-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul a { visibility: visible;background: color(text,base); color: #fff; margin: 0;padding: 10px 15px;  -webkit-transition: all .2s ease-in-out; -moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out; border-bottom: 1px solid #c7c7c7; }
.km-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul li:last-child a{ border-bottom: none; }
.km-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul a:hover { background: color(primary, base); color: #fff; }
.km-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul a:active { background: color(primary, dark); }
