/* ============================================================
   PAGES
/* ============================================================ */

.km-page-header {
    background: url(https://cdn2.hubspot.net/hubfs/126868/images_old/transparent-square-tiles-1.png?t=1513359002491) #f6f6f6;
    padding: 16px 16px;
    border-bottom: solid 1px #e5e5e5;
}

.section-header {
    text-align: center;
}