/* ============================================================
   PAGES
/* ============================================================ */

/*
/*  Page Titles
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

.km-page-header {
    background: color(background);
    padding: 16px 16px;
    border: none;
    text-align: center;
}

.section-header {
    text-align: center;
}

.section-header > h1, .section-header p {
    margin-bottom: px-to-rem(12px);
}

/*
/*  Image Banner
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

// currently hiding the top image
.km-banner-wrapper {
    display: none;
}

/*
/*  Page Navigation
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */

.km-nav-deeper {
    border: solid 1px color(border);
    list-style: none;
    margin-left: 0;
    padding: 0 1em;
    text-align: center;
    line-height: initial;

    //hide for mobile
    @include respond-below(xs) {
        display: none;
    }

    li {
        display: inline-block;
        margin-bottom: 0;
        // turns navigation into a vertical list for mobile
        @include respond-below(xs) {
            display: block;
            border-bottom: 1px solid color(border);

            &:last-child {
                border-bottom: 0;
            }
        }

        ul {
            display: inline-block;
        }

        label {
            display: inline-block;
            min-width: 4em;
            text-transform: uppercase;
        }

        a {
            margin: 0;
            padding: .8em 0 .7em 1em;
            display: inline-block;
        }

        &:after {
            content: '|';
            color: color(border);
            padding: 0 0 0 1em;
            // hides dividers for mobile
            @include respond-below(xs) {
                display: none;
            }
        }

        &:last-child:after {
            display: none;
        }
    }
}

/*
/*  Breadcrumbs
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */
.km-nav-breadcrumb {
    a {
        color: color(primary, base);
        text-decoration: underline;
    }
    .hs-breadcrumb-menu {
        list-style-type: none;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        text-transform: uppercase;
        font-size: .8rem;

        @include respond-below(xs) {
            line-height: 0;
        }

        &.first-crumb {
            padding-left: 0;
        }

        .hs-breadcrumb-menu-item {
            float: left;
            padding: 10px 0px 10px 10px;
        }
    }
}

/*
/*  Related Pages
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */
.body-container .hs-menu-flow-horizontal ul {
    margin: 0;
    display: inline-block;
    padding-left: 0;

    li {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;

        a {
            display: inline-block;
            padding: .4em 1em;
            margin: 0 .5em .5em 0;
            border: solid 1px color(border);
        }

    }
}
