@import "styles/scss/helpers/_variables.scss";
@import 'styles/scss/helpers/_mixins.scss';

/* ============================================================
  FOOTER
/* ============================================================ */

.dark-footer {
    color: #fff;
    line-height: 1;

    h2, h3, p, a {
        color: #fff;
        margin-bottom: 0;
        @include transition(all 300ms ease);
    }

    a:hover {
        border-color: #fff;
        border-bottom: none;
        color: $red;
    }

    span i {
        font-size: .5rem;
        padding: 0 5px 0 9px;
    }

    // margin fix for Service Areas
    .hs-menu-flow-vertical {
        margin-top: 7px;
    }

}
  
 .footer-container-wrapper .row-fluid [class*="span"], .footer-container .row-fluid [class*="span"] { min-height: 0; }
 .footer-container-wrapper .km-footer>.row-fluid-wrapper .widget-span { padding: 0; }
 .footer-container-wrapper .km-footer>.row-fluid-wrapper .dark-footer .widget-span { margin-bottom: 0;padding: 0; }
 html .footer-container-wrapper .km-footer>.row-fluid-wrapper .dark-footer { margin-bottom: 0;padding: 15px 20px 0;background: $text-color;font-size: 0.875rem;font-family: $font-family-text; }
 html .footer-container-wrapper .km-footer>.row-fluid-wrapper .dark-footer p { font-size: 0.875rem; }
 .dark-footer strong { font-weight: 600; }
 .dark-footer .top-left h2 { padding-bottom:0; }
 .dark-footer .top-left p { font-weight: 300; }
 .dark-footer .footer-flag { padding-top: 75px !important;text-align: center; }
 .dark-footer .footer-flag img { width: 100px; height: auto; }
 
 .dark-footer form { display: -webkit-flex; display: flex; }
 .dark-footer form .field { width: 62%;box-sizing: border-box;padding-right: 15px; }
 .dark-footer form#hsForm_757a36fb-ee8e-4d27-a531-040172cc2965 .hs_email input { width: 100%;border: none;height: auto; }
 .dark-footer form ul.hs-error-msgs { display: block !important;color: white;list-style-type: none; margin: 7px 0 0 0; padding: 0; }
 .dark-footer form ul.hs-error-msgs label { color: white; font-size: .75rem; }
 .dark-footer form input[type="submit"] { background: $red;border-radius: 0;border: 2px solid $red;padding:11px 28px;font-family: $font-family-text;font-size: 1rem; color: #fff;position: relative; top: 14px; }
 .dark-footer form input[type="submit"]:hover { background:$dark-red;border: 2px solid $dark-red; cursor: pointer; }
 .dark-footer form input[type="submit"]:focus { outline: none; }
 .dark-footer input::-webkit-input-placeholder { color: #555555;font-style: italic; }
 .dark-footer input::-moz-placeholder { color: #555555;font-style: italic; }
 .dark-footer input:-ms-input-placeholder { color: #555555;font-style: italic; }
 .dark-footer input:-moz-placeholder { color: #555555;font-style: italic; }
 
 .dark-footer .footer-middle { padding: 40px 0 !important; }
 .dark-footer .footer-middle > .row-fluid-wrapper > .row-fluid { display: -webkit-flex; display: flex; }
 .dark-footer .footer-middle .middle-right, .dark-footer .footer-contact { padding-left: 15px !important; }
 .dark-footer .footer-contact p { margin-bottom: 10px; }
 .dark-footer .footer-middle .middle-right em { font-size: 15px;line-height: 1.5em; }
 .dark-footer ul { font-size: 0.875rem; }
 .dark-footer .footer-solutions-menu { border-right: 1px solid rgba(255,255,255, .7); }
 .dark-footer .footer-solutions-menu ul { -webkit-columns: 150px 2;-moz-columns: 150px 2;columns: 150px 2; }
 .dark-footer .hs-menu-wrapper.flyouts ul li>a { padding: 2px 0; background: $text-color; color: #fff; line-height: 1.5; @include transition(all 300ms ease); }
 .dark-footer .hs-menu-wrapper.flyouts ul li>a:hover {color: $red; text-decoration: none; }
 .footer-social { padding: 12px 0 20px; }
 .footer-social a { margin-right: 10px; }
 .footer-social a i {font-size: 1rem;}
 .footer-social a:hover {color: $red; text-decoration: none;}
 html .footer-container .dark-footer .km-sub-footer { border-top: 1px solid rgba(255,255,255, .7);padding: 12px 0 !important; }
 html .footer-container .dark-footer .km-sub-footer a { font-size: 0.75rem; }
 .dark-footer .mobile-flag { display: none; }
 .dark-footer .mobile-flag img { width: 100px; }
