// ============================================================
//  LAYOUT
// ============================================================ 

// Creates a flex container
@mixin flexy(
	$disp: flex,
	$dir: null,
	$wrap: null,
	$just: null) {
	display: $disp;
	flex-direction: $dir;
	flex-wrap: $wrap;
	justify-content: $just;
}

// Media queries
@mixin mq($break) {
$value: map-get($breakpoints, $break);
$sm: map-get($breakpoints, 'sm');

	@if $value == null {
		@error "Sorry but '#{$break}' is not a valid breakpoint.'";
	}

	@else if $value < $sm {
		@media(max-width: $value) {
			@content;
		}
	}

	@else {
		@media(min-width: $value) {
			@content;
		}
	}
}


// ============================================================
//  UI ELEMENTS
// ============================================================ 

// Transitions
@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -ms-transition: $props;
    -o-transition: $props;
    transition: $props;
}

// Form placeholders
@mixin placeholder {
  &::-webkit-input-placeholder {@content};
  &:-moz-placeholder           {@content};
  &::-moz-placeholder          {@content};
  &:-ms-input-placeholder      {@content}; 
}

// Icons
// this is from the old website design (2015)
@mixin icon($icon-name, $position){
	font-family: $font-awesome;
	content: unquote("\"\\#{$icon-name}\"");
	
	@if $position !=  null{
		position: absolute;
	}

	@if $position == right {
		padding-left: $icon-padding;	
	} @else if $position == left {
		padding-right: $icon-padding;
	} @else {
		padding: 0;
	}
}


// OLD VARIABLES - NEED TO BE SORTED AND REMOVED 
// Shadows
// @mixin raised($background-color:null){
// 	@if $background-color == null{
// 		@include box-shadow( 0 1px 1px rgba(0,0,0, .5), inset 0 -1px 1px rgba(0,0,0, 0.2) );	
// 	}@else{
// 		@include box-shadow(0 0px 3px rgba(0,0,0,.6), inset 0 -1px 2px darken($background-color, 20 ), inset 0 0px 1px lighten($background-color, 50 ));
// 		//border-bottom: solid 1px darken($background-color, 5);
// 	}
// 	//@include box-shadow(0 0px 1px rgba(0,0,0, .6), inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 0px 1px rgba(255,255,255, .5));
// }




// @mixin box-shadow($value) {
//   -webkit-box-shadow: $value;
//   -moz-box-shadow: $value;
//   box-shadow: $value;
// }

