@import 'styles/scss/helpers/_functions.scss';

// ============================================================
//  COLORS
// ============================================================ 

$km-colors: (

    // base colors
    primary: (
        'base':        #F01834,
        'light':       #FF999F,
        'dark':        #C30019,
    ),

    // grays
    gray: (
        'base':        #A3A5A8,
        'light':       #E1E5E4,
        'lighter':     #EEF3F5,
        'lightest':    #F9FAFC,
    ),
    
    // typography
    text: (
        'base':        #222222,
        'light':       #4a4a4a,
    ), 

    // ui elements
    border-color:     #E1E5E4,
    shadow:           #D9DFF0,
    background:       #F9FAFC,

    // forms
    warning:          #F35B62,
    success:          #1ABE6F,
);

// !! REMOVE THESE AFTER ADDING IN NEW MAPS
$dark-red:         #C30019;
$red:              #F01834;
$light-red:        #FF999F;

$gray:             #A3A5A8;
$light-gray:       #E1E5E4;
$lighter-gray:     #EEF3F5;
$lightest-gray:    #F9FAFC;


// ============================================================
//  TYPOGRAPHY
// ============================================================ 
$base-font-size: 16px;

$km-fonts: (
  'header': ('DomaineDisplayNarrowBold', helvetica, serif),
  'body':   ('ProximaNova-Regular', helvetica, sans-serif),
  'bold':   ('ProximaNova-Bold', helvetica, sans-serif),
  'italic': ('ProximaNova-RegularIt', helvetica, sans-serif),
);

// !! REMOVE THESE AFTER ADDING IN NEW MAPS
$font-family-header:      'DomaineDisplayNarrowBold', helvetica, serif;
$font-family-text:        'ProximaNova-Regular', helvetica, sans-serif;
$font-family-text-bold:   'ProximaNova-Bold', helvetica, sans-serif;
$font-family-text-i:      'ProximaNova-RegularIt', helvetica, sans-serif;

// !! REMOVE THESE AFTER ADDING IN NEW MAPS
$text-color:       #222222;
$text-color-light: #4a4a4a;

// ============================================================
//  LAYOUT
// ============================================================ 

// Breakpoints
// !!! replace this with relative units
$breakpoints: (
    'xs': 575px,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xlg': 1200px,
);


// ============================================================
//  UI ELEMENTS
// ============================================================ 
// !! REMOVE THESE AFTER ADDING IN NEW MAPS
$border-color:     #E1E5E4;
$shadow:           #D9DFF0;


// ============================================================
//  FORMS
// ============================================================ 
// !! REMOVE THESE AFTER ADDING IN NEW MAPS
$warning:          #F35B62;


// ============================================================
//  OLD VARIABLES - NEED TO BE SORTED AND REMOVED 
// ============================================================ 
$primary-color: 	#88441D;
$secondary-color: 	#85695b;
$tertiary-color:	lighten($secondary-color, 20);
$alert-color: 		#EA002A;
$success-color: 	#799A05;
$warning-color: 	#F98E2B;
$info-color: 		#5988DA;

// icons
$icon-padding: 1rem;

$font-awesome: 'FontAwesome';

$fa-chevron-up: f077;
$fa-chevron-right: f054;
$fa-chevron-down: f078;
$fa-chevron-left: f053;

$fa-angle-up: f106;
$fa-angle-right: f105;
$fa-angle-down: f107;
$fa-angle-left: f104;

// Used to set textures
$grain: url('http://kitchenmagic.wpengine.com/wp-content/themes/kitchen-magic/images/textures/inflicted.png');
$grain: url('http://landing.kitchenmagic.com/hubfs/graphics/textures/img-noise-100x100_2.png');