/* ============================================================
   ALL GALLERIES
   // this shares styles for all galleries
/* ============================================================ */
.km-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px; }
  .km-gallery__card {
    -webkit-box-shadow: 0 2px 20px 0 #E1E5E4;
    -moz-box-shadow: 0 2px 20px 0 #E1E5E4;
    box-shadow: 0 2px 20px 0 #E1E5E4;
    padding: 23px 20px 20px;
    position: relative;
    flex-basis: 22.3%;
    width: 22.3%;
    margin-bottom: 20px;
    border-radius: 3px; }
    .km-gallery__card--4-col {
      flex-basis: 23.6%;
      width: 23.6%; }
    .km-gallery__card--5-col {
      flex-basis: 19.3%;
      width: 19.3%; }
    @media (max-width: 991px) {
      .km-gallery__card {
        flex-basis: 48%;
        width: 48%; } }
    @media (max-width: 767px) {
      .km-gallery__card {
        flex-basis: 100%;
        width: 100%; } }
  .km-gallery__title {
    font-size: 1.1rem;
    text-align: center;
    margin: 0;
    font-family: "DomaineDisplayNarrowBold", helvetica, serif;
    letter-spacing: 1px !important; }
  .km-gallery__img {
    max-width: 171px;
    margin: 0 auto;
    display: block;
    margin-bottom: 24px; }

a.km-btn.km-btn--pin.km-btn--ghost-dark {
  font-size: 0.75rem;
  text-transform: none;
  padding: 1px 5px !important;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin-bottom: 0;
  width: auto; }
  a.km-btn.km-btn--pin.km-btn--ghost-dark i {
    font-size: 0.9375rem;
    color: #c8232c; }
  a.km-btn.km-btn--pin.km-btn--ghost-dark:hover {
    color: #fff; }

label {
  font-family: "ProximaNova-Bold", helvetica, sans-serif;
  color: #222222;
  font-size: .8rem;
  margin-bottom: 0;
  margin-top: 0.625rem; }

#gallery-filter-search {
  background-image: url(https://cdn2.hubspot.net/hubfs/126868/graphics/icons/med-search.png);
  background-repeat: no-repeat;
  background-position: 12px 8px;
  background-size: auto 55%;
  text-indent: 35px;
  height: 42px;
  line-height: 42px;
  box-shadow: none;
  border-color: #E1E5E4;
  margin-bottom: 0;
  border: 1px solid #E1E5E4;
  padding: .8rem;
  background-color: #fff;
  color: #222222;
  border-radius: 0;
  box-shadow: none;
  font-size: 1rem;
  font-family: "ProximaNova-Regular", helvetica, sans-serif;
  box-sizing: border-box;
  width: 100% !important;
  height: 2.8125rem;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }
  #gallery-filter-search:focus {
    outline: none; }
  #gallery-filter-search.placeholder {
    color: #A3A5A8; }
  #gallery-filter-search:-moz-placeholder {
    color: #A3A5A8; }
  #gallery-filter-search::-moz-placeholder {
    color: #A3A5A8; }
  #gallery-filter-search:-ms-input-placeholder {
    color: #A3A5A8; }
  #gallery-filter-search::-webkit-input-placeholder {
    color: #A3A5A8; }
