/* ============================================================
   NEW PRODUCT SHOWCASE
/* ============================================================  */
/* example: https://www.kitchenmagic.com/kitchen-cabinets/doors/wood */
.new-product-wrapper {
  border: 2px solid #E1E5E4;
  padding: 25px 20px 0;
  position: relative; }
  .new-product-wrapper img {
    max-width: 100%;
    height: auto; }

.km-ribbon-wrapper {
  width: 108px;
  height: 108px;
  overflow: hidden;
  position: absolute;
  top: -6px;
  right: -6px; }

.km-ribbon {
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -4px;
  top: 26px;
  width: 150px;
  background-color: #F01834;
  color: #fff;
  letter-spacing: 0.5px;
  -webkit-box-shadow: -3px 5px 6px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px 5px 6px -5px rgba(0, 0, 0, 0.5);
  box-shadow: -3px 5px 6px -5px rgba(0, 0, 0, 0.5); }
  .km-ribbon:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 4px solid #F01834;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-top: 4px solid #F01834; }
  .km-ribbon:after {
    content: "";
    position: absolute;
    right: 7px;
    top: 100%;
    z-index: -1;
    border-left: 4px solid transparent;
    border-right: 4px solid #F01834;
    border-bottom: 4px solid transparent;
    border-top: 4px solid #F01834; }
