/* ============================================================
   01. Top Action Bar
/* ============================================================ */
.gallery__action-bar {
  display: flex;
  align-items: center;
  margin-bottom: 28px; }
  @media (max-width: 1199px) {
    .gallery__action-bar {
      display: none; } }

.gallery__action-bar-left {
  display: flex;
  justify-content: space-between; }

.gallery__action-bar-right {
  display: flex;
  align-items: center; }
  .gallery__action-bar-right form {
    flex-basis: 100%;
    border: none !important;
    background-color: #fff !important;
    padding: 0 16px !important; }
    .gallery__action-bar-right form:last-child {
      padding-right: 0 !important; }
    .gallery__action-bar-right form select {
      height: 2.3125rem;
      border-color: #E1E5E4;
      font-weight: bold; }
      .gallery__action-bar-right form select:after {
        content: "\f078";
        font-family: fontawesome; }
      .gallery__action-bar-right form select:active, .gallery__action-bar-right form select.nice-select.open {
        outline: none; }

#gallery-filter-search {
  background-image: url(https://cdn2.hubspot.net/hubfs/126868/graphics/icons/med-search.png);
  background-repeat: no-repeat;
  background-position: 12px 8px;
  background-size: auto 55%;
  text-indent: 35px;
  height: 42px;
  line-height: 42px;
  box-shadow: none;
  border-color: #E1E5E4;
  margin-bottom: 0;
  border: 1px solid #E1E5E4;
  padding: .8rem;
  background-color: #fff;
  color: #222222;
  border-radius: 0;
  box-shadow: none;
  font-size: 1rem;
  font-family: "ProximaNova-Regular", helvetica, sans-serif;
  box-sizing: border-box;
  width: 100% !important;
  height: 2.8125rem;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }
  #gallery-filter-search:focus {
    outline: none; }
  #gallery-filter-search.placeholder {
    color: #A3A5A8; }
  #gallery-filter-search:-moz-placeholder {
    color: #A3A5A8; }
  #gallery-filter-search::-moz-placeholder {
    color: #A3A5A8; }
  #gallery-filter-search:-ms-input-placeholder {
    color: #A3A5A8; }
  #gallery-filter-search::-webkit-input-placeholder {
    color: #A3A5A8; }

/* ============================================================
   02. Sidebar Filters
/* ============================================================ */
.gallery__filter .gallery__filter-card:first-child {
  margin-top: 0; }

.gallery__filter-card {
  border: 1px solid #E1E5E4;
  border-radius: 3px;
  margin-top: 20px; }

.gallery__filter-card--header {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-weight: bold; }
  .gallery__filter-card--header:hover {
    cursor: pointer; }

.gallery__filter-card--dropdown {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #F01834; }
  .gallery__filter-card--dropdown:hover {
    cursor: pointer; }

.gallery__filter-card--body {
  padding: 0 20px 14px;
  border-top: 1px solid #E1E5E4; }
  .gallery__filter-card--body form {
    border: none !important;
    background-color: #fff !important; }
    .gallery__filter-card--body form input {
      transform: none !important; }
      .gallery__filter-card--body form input:hover {
        cursor: pointer; }

.gallery__filter-card-checkbox label {
  margin-left: .5rem;
  font-size: 0.875rem; }

/* ============================================================
   03. Image Cards / Grid
/* ============================================================ */
.gallery__img-container {
  position: relative;
  float: left;
  padding-left: .9375rem;
  padding-right: .9375rem;
  width: 75%;
  overflow: hidden; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .gallery__img-container {
      width: 60% !important; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .gallery__img-container {
      width: 66.66667% !important; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .gallery__img-container {
      width: 100% !important; } }

.gallery__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* testing image crop with img */ }
  .gallery__img .gallery__img--card {
    border: 1px solid #E1E5E4;
    flex-basis: 23%;
    width: 23%;
    margin-bottom: 20px;
    border-radius: 3px;
    transition: box-shadow 400ms ease; }
    @media (max-width: 575px) {
      .gallery__img .gallery__img--card {
        max-width: 47%; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .gallery__img .gallery__img--card {
        width: 45%; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .gallery__img .gallery__img--card {
        width: 100%; } }
  .gallery__img .gallery__img--background {
    position: relative; }
    .gallery__img .gallery__img--background:hover {
      cursor: pointer; }
      .gallery__img .gallery__img--background:hover .gallery__img--background-overlay {
        opacity: 1; }
    .gallery__img .gallery__img--background:before {
      transition: background-color 400ms ease;
      content: ""; }
    .gallery__img .gallery__img--background:hover::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 193px;
      background-color: rgba(0, 0, 0, 0.3);
      content: ""; }
    .gallery__img .gallery__img--background .gallery__img--background-overlay {
      transition: 400ms ease;
      opacity: 0;
      top: 0;
      position: absolute;
      text-align: center;
      line-height: 193px;
      width: 100%; }
      .gallery__img .gallery__img--background .gallery__img--background-overlay span i {
        font-size: 30px;
        color: #fff; }
  .gallery__img .gallery__img--body {
    padding: 13px 20px 21px; }
  .gallery__img .gallery__img--props {
    list-style: none;
    margin-left: 0;
    font-size: 0.8125rem;
    margin-bottom: 0;
    padding-left: 0; }
    .gallery__img .gallery__img--props li {
      padding-bottom: 10px;
      margin: 0;
      line-height: 1;
      color: #A3A5A8; }
      .gallery__img .gallery__img--props li:last-child {
        padding-bottom: 0; }
      .gallery__img .gallery__img--props li.gallery__img--props__name {
        font-family: "DomaineDisplayNarrowBold", helvetica, serif;
        font-size: 1.125rem;
        letter-spacing: 1px !important;
        padding-bottom: 16px;
        color: #222222; }
    .gallery__img .gallery__img--props > li img {
      padding-right: 13px; }

.gallery__img-button-bar {
  border-top: 1px solid #E1E5E4; }
  .gallery__img-button-bar__btn {
    display: inline-block;
    padding: 6px 11px 5px;
    border-right: 1px solid #E1E5E4;
    text-align: center;
    width: 100%; }
    .gallery__img-button-bar__btn:last-child {
      border-right: 0; }
    .gallery__img-button-bar__btn a, .gallery__img-button-bar__btn button {
      padding: 0;
      margin: 0; }
    .gallery__img-button-bar__btn svg {
      max-width: 18px;
      height: 18px; }
      .gallery__img-button-bar__btn svg path {
        fill: #F01834; }
    .gallery__img-button-bar__btn a i.fa-pinterest {
      color: #F01834;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      font-size: 1.125rem;
      top: 2px;
      position: relative; }
      .gallery__img-button-bar__btn a i.fa-pinterest:hover {
        color: #C30019;
        cursor: pointer; }

.heart-btn {
  background: none;
  border: none; }
  .heart-btn:hover {
    cursor: pointer; }
  .heart-btn:focus {
    outline: none; }

g#love-icon-active path:nth-child(2) {
  fill: #fff; }

.like-count {
  color: #A3A5A8;
  font-size: 0.8125rem;
  padding-left: 3px; }

.like-count__container {
  position: relative;
  display: inline-block; }

.like-count-animate {
  position: absolute;
  opacity: 0;
  font-size: 14px;
  left: 3px;
  color: #A3A5A8; }
  .like-count-animate--active {
    animation: like .8s ease-in-out; }

@keyframes like {
  0% {
    opacity: 0;
    top: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: -22px; } }

.km-btn--fav {
  color: #A3A5A8;
  background: transparent; }
  .km-btn--fav:hover {
    color: #FFA800; }

.km-empty-state {
  width: 100%;
  text-align: center;
  padding-top: 25px; }
  .km-empty-state img {
    opacity: .5; }
  .km-empty-state p {
    color: #A3A5A8; }
    .km-empty-state p span {
      color: #FFA800; }

/* ============================================================
     04. Selects - jQuery Nice Select
  /* ============================================================ */
.nice-select {
  background-color: #fff;
  font-weight: bold;
  border-radius: 0;
  border: solid 1px #E1E5E4;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 14px;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto; }
  @media (max-width: 575px) {
    .nice-select {
      font-size: 1.125rem;
      height: 60px;
      line-height: 60px;
      letter-spacing: .5px;
      font-family: "ProximaNova-Regular", helvetica, sans-serif;
      font-weight: normal;
      text-transform: none; } }
  .nice-select:hover {
    border-color: #d3d9d8; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #222; }
  .nice-select:after {
    border-bottom: 3px solid #F01834;
    border-right: 3px solid #F01834;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all .15s ease-in-out;
    width: 8px; }
  .nice-select.open:after {
    transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: #222;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #555555; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-21px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    width: 100%; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
    .nice-select .list li:last-child {
      margin-bottom: 0; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #EEF3F5;
      color: #222222; }
    .nice-select .option.selected {
      font-weight: normal; }
    .nice-select .option.disabled {
      background: #fff !important;
      color: #A3A5A8 !important;
      font-weight: normal;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }

/* ============================================================
     05. ModuloBox - popup overrides
  /* ============================================================ */
.mobx-holder {
  z-index: 999999; }

.mobx-overlay {
  background: rgba(0, 0, 0, 0.9) !important; }

.mobx-top-bar {
  background-color: #000; }

.mobx-ui a.km-mobx-button {
  position: relative;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  box-shadow: none;
  border: 0;
  outline: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-appearance: none;
  height: 32px;
  line-height: 32px;
  background: #F01834;
  color: #fff;
  opacity: 1;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  float: right;
  margin: 7px 2px 2px;
  padding: 0 10px; }
  .mobx-ui a.km-mobx-button:hover {
    background: #C30019; }

.mobx-ui button:hover, .mobx-ui button:focus, .mobx-ui button:active, .mobx-ui button.nice-select.open {
  background-color: transparent; }

.mobx-video:before, .mobx-video:after, .mobx-thumb-video:after, .mobx-ui button, .mobx-share-tooltip *:after {
  background-image: url(https://www.kitchenmagic.com/hubfs/graphics/icons/modulobox.svg); }

.mobx-caption .mobx-caption-inner {
  max-width: 600px; }
  .mobx-caption .mobx-caption-inner .mobx-desc {
    font-size: 15px;
    text-align: left;
    line-height: 1.45;
    color: #dadada; }
