/* ============================================================
   BUTTONS
/* ============================================================ */

/**
* @stylesheet buttons.css Buttons
* @parent css.theme
* 
* @iframe /demos/buttons.html
**/

.km-btn {
    // this style is in _placeholders.scss
    @include btn();

    // button colors
    &.km-btn--primary {
        background-color: color(primary, base);
        color: #fff;
        border: 1px solid color(primary, base);

        &:hover {
            background-color: color(text, base);
            border: 1px solid color(text, base);
        }

        &:active {
            background-color: color(primary, dark);
            border-color: color(primary, dark);
        }
    }

    &.km-btn--secondary {
        background-color: color(text, base);
        color: #fff;
        border: 1px solid color(text, base);

        &:hover {
            background-color: color(primary, base);
            border: 1px solid color(primary, base);
        }

        &:active {
            // background-color: color(text, base);
            // border-color: color(text, base);
        }

    }
    // clear button with dark border
    &.km-btn--ghost-dark {
        background-color: transparent;
        border: 1px solid color(text, base);
        color: color(text, base);

        &:hover {
            background-color: color(text, base);
            border: 1px solid color(text, base);
            color: #fff;
        }

        &:active {
            background-color: color(text, base);
            border: 1px solid color(text, base);
            color: #fff;
        }
    }
 // clear button with white border
    &.km-btn--ghost-light {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;

        &:hover {
            background-color: transparent;
            border: 1px solid darken(#fff, 15%);
            color: darken(#fff, 15%)
        }

        &:active {
            background-color: transparent;
            border: 1px solid darken(#fff, 30%);
            color: darken(#fff, 30%);
        }
    }

    //button sizes
    &.km-btn--large {
        padding: 1rem 3rem;
    }

    &.km-btn--sm {
        padding: .5rem 1rem;
        font-size: .8rem;
    }

    // button helpers
    &.km-btn-block, &.km-btn--block {
        display: block !important;
    }
}

/*
/*  Button Overrides for current website (all classes below)
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* !!! These will eventually be removed over time as old buttons 
/*     are deleted and new button classes are added. */

.km-button {
    @include btn();
    @include km-btn--primary();

    &.km-btn-info, &.km-btn-warning, &.km-btn-success {
        @include km-btn--primary();
    }
}

//override green cta used on the homepage
.green-cta {
    @include btn();
    @include km-btn--primary();
}


 .km-button:focus {
    outline: none;
}

a.km-btn-clear, button.km-btn-clear, .km-btn-clear {
    background: transparent;
    border: 3px solid #fff;
    border-radius: 3px;
    color: #fff;
}

a.km-btn-clear:hover, button.km-btn-clear:hover, .km-btn-clear:hover {
    background: rgba(0,0,0,.3);
      border: 3px solid #fff;
}

// used on the homepage
a.km-btn-clear-green, button.km-btn-clear-green, .km-btn-clear-green {
  background: transparent;
  border: 3px solid color(primary, base);
  border-radius: 3px;
  color: color(primary, base);
}

// used on the homepage
a.km-btn-clear-green:hover, button.km-btn-clear-green:hover, .km-btn-clear-green:hover {
  background: color(primary, dark);
  border: 3px solid color(primary, dark);
  color: #fff;
}

// hubspot cta button fix (overflows on mobile)
a.cta_button {
    box-sizing: border-box !important;
}

// gallery popup
.gallery-popup-btn {
    position: fixed;
    bottom: 0;
    left: 3vh;
    z-index: 9999;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
}

.gallery-popup-btn:focus {
    outline: none;
}

/* form buttons */
.km-orange-submit {
    background-color: #f98e2b !important;
    border-color: #e37106 !important;
    width: 100%;
    margin-top: 4.8em !important;
}

/*
/*  Button Groups
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

.km-btn-group {
    margin-bottom: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    list-style: none;
}
.km-btn-group::before,
.km-btn-group::after {
    display: table;
    content: ' ';
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-order: 1;
    order: 1;
}
.km-btn-group::after {
    clear: both;
}
.km-btn-group .km-btn {
    margin: 0;
    margin-right: 1px;
    margin-bottom: 1px;
    font-size: 0.9rem;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.km-btn-group .km-btn:last-child {
    margin-right: 0;
}
.km-btn-group.tiny .km-btn {
    font-size: 0.6rem;
}
.km-btn-group.small .km-btn {
    font-size: 0.75rem;
}
.km-btn-group.large .km-btn {
    font-size: 1.25rem;
}
.km-btn-group.expanded .km-btn {
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}
.km-btn-group.primary .km-btn {
    background-color: #2ba6cb;
    color: #0a0a0a;
}
.km-btn-group.primary .km-btn:hover,
.km-btn-group.primary .km-btn:focus {
    background-color: #2285a2;
    color: #0a0a0a;
}
.km-btn-group.secondary .km-btn {
    background-color: #e9e9e9;
    color: #0a0a0a;
}
.km-btn-group.secondary .km-btn:hover,
.km-btn-group.secondary .km-btn:focus {
    background-color: #bababa;
    color: #0a0a0a;
}
.km-btn-group.alert .km-btn {
    background-color: #c60f13;
    color: #fefefe;
}
.km-btn-group.alert .km-btn:hover,
.km-btn-group.alert .km-btn:focus {
    background-color: #9e0c0f;
    color: #fefefe;
}
.km-btn-group.success .km-btn {
    background-color: #5da423;
    color: #0a0a0a;
}
.km-btn-group.success .km-btn:hover,
.km-btn-group.success .km-btn:focus {
    background-color: #4a831c;
    color: #0a0a0a;
}
.km-btn-group.warning .km-btn {
    background-color: #ffae00;
    color: #0a0a0a;
}
.km-btn-group.warning .km-btn:hover,
.km-btn-group.warning .km-btn:focus {
    background-color: #cc8b00;
    color: #0a0a0a;
}
.km-btn-group.body-font .km-btn {
    background-color: #222222;
    color: #fefefe;
}
.km-btn-group.body-font .km-btn:hover,
.km-btn-group.body-font .km-btn:focus {
    background-color: #1b1b1b;
    color: #fefefe;
}
.km-btn-group.header .km-btn {
    background-color: #222222;
    color: #fefefe;
}
.km-btn-group.header .km-btn:hover,
.km-btn-group.header .km-btn:focus {
    background-color: #1b1b1b;
    color: #fefefe;
}
.km-btn-group.stacked,
.km-btn-group.stacked-for-small,
.km-btn-group.stacked-for-medium {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.km-btn-group.stacked .km-btn,
.km-btn-group.stacked-for-small .km-btn,
.km-btn-group.stacked-for-medium .km-btn {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}
.km-btn-group.stacked .km-btn:last-child,
.km-btn-group.stacked-for-small .km-btn:last-child,
.km-btn-group.stacked-for-medium .km-btn:last-child {
    margin-bottom: 0;
}
@media print,
screen and (min-width: 40em) {
    .km-btn-group.stacked-for-small .km-btn {
        -ms-flex: 1 1 0px;
        flex: 1 1 0px;
        margin-bottom: 0;
    }
}
@media print,
screen and (min-width: 64em) {
    .km-btn-group.stacked-for-medium .km-btn {
        -ms-flex: 1 1 0px;
        flex: 1 1 0px;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 39.9375em) {
    .km-btn-group.stacked-for-small.expanded {
        display: block;
    }
    .km-btn-group.stacked-for-small.expanded .km-btn {
        display: block;
        margin-right: 0;
    }
}

/*
/*  Button Utilities
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

.km-button-full-width {
    width: 100%;
}