/* ============================================================
   BUTTONS
/* ============================================================ */

/**
* @stylesheet buttons.css Buttons
* @parent css.theme
* 
* @iframe /demos/buttons.html
**/

.km-btn {
    // alignment
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // button styling
    padding: .9rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    border: none;
    // font styling
    font-family: $font-family-text;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(all 300ms ease)

    &:hover {
        cursor: pointer;
    }

    // button colors
    &.km-btn--primary {
        background-color: $red;
        color: #fff;
        border: 1px solid $red;

        &:hover {
            background-color: $text-color;
            text-decoration: none;
            border: 1px solid $text-color;
        }

        &:active {
            background-color: $dark-red;
            border-color: $dark-red;
        }
    }

    &.km-btn--secondary {
        background-color: $text-color;
        color: #fff;
        border: 1px solid $text-color;

        &:hover {
            background-color: $red;
            text-decoration: none;
            border: 1px solid $red;
        }

        &:active {
            background-color: $text-color-light;
            border-color: $text-color-light;
        }

    }

    &.km-btn--ghost {
        background-color: transparent;
        border: 1px solid $text-color;
        color: $text-color;

        &:hover {
            background-color: $text-color;
            border: 1px solid $text-color;
            color: #fff;
            text-decoration: none;
        }

        &:active {
            background-color: $text-color-light;
            border: 1px solid $text-color-light;
            color: #fff;
        }
    }

    //button sizes
    .km-btn--large {
        padding: 1rem 3rem;
    }

    .km-btn--sm {
        padding: .5rem 1rem;
        font-size: .8rem;
    }

    // button helpers
    .km-btn-block {
        display: block;
    }
}


/** 
 * Button Overrides for current website 
 * These will eventually be removed over time as old buttons are deleted and new button classes are added 
 */
