/* ============================================================
   BUTTONS
/* ============================================================ */

/**
* @stylesheet buttons.css Buttons
* @parent css.theme
* 
* @iframe /demos/buttons.html
**/

.km-btn {
    // alignment
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // button styling
    padding: .9rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    border: none;
    // font styling
    font-family: family(body);
    text-decoration: none;
    text-transform: uppercase;
    @include transition(all 300ms ease);

    &:hover {
        cursor: pointer;
    }

    // button colors
    &.km-btn--primary {
        background-color: color(primary, base);
        color: #fff;
        border: 1px solid color(primary, base);

        &:hover {
            background-color: color(text, base);
            text-decoration: none;
            border: 1px solid color(text, base);
        }

        &:active {
            background-color: color(primary, dark);
            border-color: color(primary, dark);
        }
    }

    &.km-btn--secondary {
        background-color: color(text, base);
        color: #fff;
        border: 1px solid color(text, base);

        &:hover {
            background-color: color(primary, base);
            text-decoration: none;
            border: 1px solid color(primary, base);
        }

        &:active {
            // background-color: color(text, base);
            // border-color: color(text, base);
        }

    }

    &.km-btn--ghost {
        background-color: transparent;
        border: 1px solid color(text, base);
        color: color(text, base);

        &:hover {
            background-color: color(text, base);
            border: 1px solid color(text, base);
            color: #fff;
            text-decoration: none;
        }

        &:active {
            background-color: color(text, base);
            border: 1px solid color(text, base);
            color: #fff;
        }
    }

    //button sizes
    .km-btn--large {
        padding: 1rem 3rem;
    }

    .km-btn--sm {
        padding: .5rem 1rem;
        font-size: .8rem;
    }

    // button helpers
    .km-btn-block {
        display: block;
    }
}


/** 
 * Button Overrides for current website 
 * !!! These will eventually be removed over time as old buttons are deleted and new button classes are added 
 */

 .km-button:focus {
    outline: none;
}

a.km-btn-clear, button.km-btn-clear, .km-btn-clear {
    background: transparent;
    border: 3px solid #fff;
    border-radius: 3px;
    color: #fff;
}

a.km-btn-clear:hover, button.km-btn-clear:hover, .km-btn-clear:hover {
    background: rgba(0,0,0,.3);
      border: 3px solid #fff;
}

// used on the homepage
a.km-btn-clear-green, button.km-btn-clear-green, .km-btn-clear-green {
  background: transparent;
  border: 3px solid color(primary, base);
  border-radius: 3px;
  color: color(primary, base);
}

// used on the homepage
a.km-btn-clear-green:hover, button.km-btn-clear-green:hover, .km-btn-clear-green:hover {
  background: color(primary, dark);
  border: 3px solid color(primary, dark);
  color: #fff;
}