/* ============================================================
   FORMS
/* ============================================================ */

// form title
.form-title {
    font-size: 1.6875rem;
    text-align: center;
    background: color(text, base);
    color: #fff;
    border: 0;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    padding: .5em;
}

// form container
.body-container-wrapper form, .body-container-wrapper .hs-form {
    background-color: color(background);
    padding: 1em 1em .5em 1em !important;
    border: 1px solid color(border);
    border-top: 0;
    border-radius: 0;
}
// field columns
fieldset {
    // overrides hubspot's inline styling
    max-width: none !important;

    &:first-child {
        margin-top: 0;
    }
}

/*
/* Inputs 
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
div.input {

    input.hs-input {
    border: 1px solid color(border);
    padding: .8rem;
    background-color: #fff;
    color: color(text, base);
    border-radius: 0;
    box-shadow: none;
    font-size: 1rem;
    font-family: family(body);
    box-sizing:border-box;
    // overrides hubspots width
    width: 100% !important;
    height: px-to-rem(45px);
    @include transition(all 300ms ease);

        @include placeholder {
            color: color(gray, base);
            font-size: 1rem;
            font-family: family(body);
        }

        &:focus {
            border-color: color(focus);
            color: color(focus);
            box-shadow: none;
            outline: none;
        }

        &.error{
            border: 1px solid color(error);
        }

        &:disabled {
            opacity: .5;
            cursor: inherit;

            // removes border on hover for disabled inputs
            &:hover {
                border: 1px solid color(border);
            }
        
        }
    }

    // select inputs
    select {
        padding: .8rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-apprerance: none;
        appearance: none;
        font-size: 1rem;
        height: px-to-rem(45px);
        // overrides hubspots width
        width: 100% !important;
        border-radius: 0;
        background: #fff url(https://www.kitchenmagic.com/hubfs/graphics/icons/form_icons/arrow-down.png) no-repeat 95% center;
        background-size: 14px;
        @include transition(all 300ms ease);

        @include placeholder {
            color: color(text, base);
        }

        &:focus {
            border-color: color(focus);
            color: color(focus);
            box-shadow: none;
            outline: none;
        }

        &:hover {
            cursor: pointer;
            border-color: color(focus);
        }

    }

    // checkboxes 
    input[type=checkbox] {
        height: auto;
        // overrides hubspots width
        width: auto !important;

        @include respond-below(xs) {
            width: auto !important;
            transform: scale(2.2);
            margin-bottom: px-to-rem(20px) !important;
        }

        + span {
            margin-left: 10px;
        }
    }

    ul.inputs-list li {
        margin-bottom: 0;

        &:first-child label {
            margin-top: px-to-rem(10px);
        }

        label {
            margin-top: 0;
            font-family: family(body);

            &:first-child {

            }
        }

    }

    // radio
    input[type="radio"] {
        height: auto;
        width: auto !important;
        
        + span {
            margin-left: 10px;
        }
    }
}

// removes list style and padding from ul in forms
ul.inputs-list {
    list-style: none;
    padding-left: 0;
}

// Submit button
.hs_submit.hs-submit div.actions input {
    @include btn();
    @include km-btn--primary;
    margin-bottom: 0;
    box-sizing: border-box;
    width: 100%;
    margin: 30px 0 10px;
}

// Date input
div.hs-dateinput {
    input {
        background: url(https://www.kitchenmagic.com/hubfs/graphics/icons/form_icons/calendar.png) no-repeat 95% center;

        &:hover {
            cursor: pointer;
            border-color: color(focus);
        }
    }
}

// Form Note
.hs-richtext {
    font-size: .8rem;
    margin-bottom: .5rem;
    line-height: 1.5rem;
}

/*
/* Datepicker / Calendar
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
// calendar box
.gldp-flatwhite {
    border-radius: 0;
    font-family: family(body) !important;
}

// header 
.gldp-flatwhite .monyear, .gldp-flatwhite .monyear select {
    background: #fff !important;
}

.gldp-flatwhite .border {
    border-color: color(border) !important;
}

// weeks 
.gldp-flatwhite .dow {
    background: #fff !important;
    font-family: family(bold);
}

// days
.gldp-flatwhite .core {
    font-size: px-to-rem(12px) !important;
}

// weekends
.gldp-flatwhite .sat, .gldp-flatwhite .sun {
    color: color(gray, base) !important;
}

// selected
.gldp-flatwhite .selected {
    background: color(primary, base) !important;
}

// hover 
.gldp-flatwhite .mon:hover, .gldp-flatwhite .tue:hover, .gldp-flatwhite .wed:hover, .gldp-flatwhite .thu:hover, .gldp-flatwhite .fri:hover, .gldp-flatwhite .sat:hover, .gldp-flatwhite .sun:hover {
    background: color(text, base) !important;
    color: #fff !important;
}

// disabled state
.gldp-flatwhite .noday {
    background: color(background) !important;
    color: color(gray, light) !important;
}

/*
/* Labels
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
div.hs-form-field label {
    font-family: family(bold);
    color: #222;
    font-size: .8rem;
    margin-bottom: 0;
    margin-top: px-to-rem(10px);
}
// required
.hs-form-required {
    color: color(text, base);
}

/*
/* Errors or States
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
ul.hs-error-msgs {
    list-style: none;
    padding-left: 0;

    li label {
        color: color(error);
        font-family: family(body);
        font-size: px-to-rem(12px);
        line-height: 1.6;
        margin-top: 0;
    }

}

// ============================================================
//  FORM FIXES
// ============================================================ */

  /** added icon to date field **/
  .km-form-calender {
    position: relative;
    top: 1.6em;
    left: 5.8em;
    font-size: 19px;
}    

input#appointment_date_forms_only-d404769a-b244-4245-9adf-882a6dfd6104_8278:hover {
    cursor: pointer;
}

// ============================================================
//  ONE-OFF FORMS
// ============================================================ */

  /**** register warranty ******/
  
  form#hsForm_91b32f48-8b59-4b22-b8d2-a6dcd84ad271 {
    background: #fff;
    border: none;
}

/** all tier 3 lead nurturing forms **/

form#hsForm_5272d80c-70a0-4342-b97e-283e5eac1b4d, form#hsForm_b9180cb5-6d33-4207-9f3e-6df5dd2f76ae, form#hsForm_be98610c-79ad-4add-b2dc-752eb24d353b, form#hsForm_ab652419-eced-4162-9c45-73d3c442d38d, form#hsForm_681556be-bff4-4dd6-bfbf-0592418d0692, form#hsForm_81abae39-7ecb-422c-a0da-0eb928df681b{
    background: none;
    border: none;
    max-width: 532px;
}


/* gallery modal estimate popup */

form#hsForm_3ecb0607-1bfe-4310-8a84-dfb681c7ae92 label {
    display: none;
}

form#hsForm_3ecb0607-1bfe-4310-8a84-dfb681c7ae92 select, form#hsForm_3ecb0607-1bfe-4310-8a84-dfb681c7ae92 input {
    width: 100%;
}

form#hsForm_3ecb0607-1bfe-4310-8a84-dfb681c7ae92 input.hs-button {
    width: 90%;
}

form#hsForm_3ecb0607-1bfe-4310-8a84-dfb681c7ae92 .hs-input.error {
    border: 1px solid color(error);
    margin: 0 0 1rem 0;
}

// Fine print
.form-fine-print {
    max-width: 500px;
    font-size: px-to-rem(10px);
    display: block;
    margin: 0 auto;
}


// ============================================================
//  SELF SET FORM 
// ============================================================ */
  
  /* FORM
  ****************************************/
  
/*
/*  Validation
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .body-container-wrapper form .hs-input.suggest, 
  .body-container-wrapper form .input.suggest, 
  .body-container-wrapper .hs-form .hs-input.suggest, 
  .body-container-wrapper .hs-form .input.suggest{
      border: solid 1px color(success);
  }
  
/*
/*  Helper Classes
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .km-post-header-fix{
      margin-top:-47px;
  }
  
  .km-remove-child-menu [data-widget-type="menu"]{
      display:none;
  }
  .km-remove-child-mobile-menu [class="mobile-trigger"]{
      display:none;
  }
  
  
/*
/* Alert Boxes
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .alert-box {
      border-style: solid;
      border-width: 1px;
      display: block;
      /*font-size: 0.72222rem;*/
      font-weight: normal;
      margin-top: px-to-rem(15px);
      margin-bottom: -0;
      padding: 0.77778rem 1.33333rem 0.77778rem 0.77778rem;
      position: relative;
      transition: opacity 300ms ease-out;
      background-color: color(info);
      border-color: color(info);
      color: #fff;

      &.success {
        background-color: color(success);
        border-color: color(success);
        color: #fff;
      }

      &.warning {
      background-color: color(warning);
      border-color: color(warning);
      color: #fff;
      }

      &.info {
      background-color: color(info);
      border-color: color(info);
      color: #FFF;
      }

      &.alert {
        background-color: color(error);
        border-color: color(error);
      }

      &.secondary {
        background-color: color(gray, light);
        border-color: color(border);
        color: color(text, light);
      }
  }

/*
/*  Date Picker
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
.ui-datepicker-title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

a.ui-datepicker-prev.ui-corner-all, a.ui-datepicker-next.ui-corner-all {
    color: #fff;
    text-transform: lowercase;
    font-weight: 300;
    font-size: 14px;
}

a.ui-datepicker-next.ui-corner-all {
    float: right;
}

table.ui-datepicker-calendar {
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    background: #476CAE;
    padding: 2px 10px;
    border-radius: 5px 5px 0px 0px;
}
.ui-datepicker-unselectable.ui-state-disabled.undefined {
    color: #ccc;
}


// ============================================================
//  MULTI-STEP FORM
// ============================================================ */


html body.popup-open { height: 100vh;width: 100%;overflow: hidden;position: fixed; }
.body-container .popup-overlay .widget-span { margin-bottom: 0; }
html .row-fluid .popup-overlay { display: block;margin: 0;min-height: 0; }
.popup-overlay > .row-fluid-wrapper > .row-fluid { position: fixed;z-index: -1;opacity: 0;left:0;top:0;width: 100%;height: 100vh;background: rgba(0,0,0, .2);display: -webkit-flex; display: flex;-webkit-align-items: center; align-items: center;}
body.popup-open .popup-overlay > .row-fluid-wrapper > .row-fluid { z-index: 110000;opacity: 1; }

html .row-fluid .multi-form { width: 900px;max-width: 90%;max-height:90%;overflow: auto;float: none;box-shadow: 5px 0px 20px rgba(0,0,0, .2);margin-left: auto !important;margin-right: auto !important;background: #f5f5f5;position: relative;-ms-transform: scale(.5, .5);-webkit-transform: scale(.5, .5);transform: scale(.5, .5);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out; }
html body.popup-open .row-fluid .multi-form { -ms-transform: scale(1, 1);-webkit-transform: scale(1, 1);transform: scale(1, 1); }
html .row-fluid .multi-form-form form, html .row-fluid .multi-zip form { background: transparent;border: none;padding: 10px 20%; }
html .row-fluid .multi-form form fieldset { width: 100%;max-width: 100%; }
html .multi-form .multi-form-body { width: 100%;margin: 0; }
html .multi-form .multi-form-left { color: #cececc;width:55px;text-align:center;position: absolute;z-index:3;top: 80px;bottom: 80px;left:0;display: -webkit-flex; display: flex;-webkit-align-items: center; align-items: center;}
html .multi-form .multi-form-right { width:55px;text-align:center;position: absolute;z-index:3;top: 80px;bottom: 80px;right:0;margin:0;color: color(primary, base);display: -webkit-flex; display: flex;-webkit-align-items: center; align-items: center;}
.multi-form-left > div, .multi-form-right > div { width: 100%; }
.multi-arrow { display: inline-block;padding: 0 10px;font-size:55px;cursor: pointer;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out; }
.multi-arrow:hover { color: color(primary, base); }
.prev-page { display: none; }
.multi-form input::-webkit-outer-spin-button, .multi-form input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

.flex-form-wrapper { width:100%;overflow:hidden; }
.flex-form-wrapper > span { width: 2000%;position: relative;left:0;display: -webkit-flex; display: flex;}
.flex-form-wrapper > span > div { width: 5%;z-index: 1;position: relative; }
.flex-form-wrapper > span > .current { z-index: 2; }

.multi-item { text-align: center;height:100%;background: color(background);-webkit-flex-direction: column;flex-direction: column;display: -webkit-flex; display: flex;}
.multi-item-header { position:relative;z-index: 2;padding: 10px 40px;text-align: center;color: white;background: color(primary, base); }
.multi-item-header h2 { margin:0;padding:0;color: white;font-family: family(header), sans-serif;font-weight: 300;font-size: 1.7em; }
.multi-item h3 { font-family: family(header);font-size: 1.7em; }
.multi-item-header .multi-close { position: absolute;top:0;bottom:0;right:0;padding:15px;cursor: pointer;display: -webkit-flex; display: flex;-webkit-align-items: center; align-items: center;}
.multi-item-header .multi-close img { width: 28px; }
.multi-item-body { flex: 1;padding: 45px 55px;position: relative;left: 100%;background: #f5f5f5; }
.multi-form.ie-fix .multi-item-body { flex: none; }
.multi-item-footer { background: #ececec;color: #1d1d1b;padding: 7px 40px;min-height: 59px;box-sizing:border-box;font-size:13px;line-height:1.2em;text-align:left; }
.multi-item-footer.hide { color: transparent; }
.multi-item-footer p { margin: 0; }

.multi-item-progress { background: #f5f5f5; }
.multi-form .progress { height: auto;margin-bottom:0;width: 0%;box-shadow: none;background: transparent;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out; }
.progress-count { text-align: right;padding: 5px 100px 5px 10px; }
.progress .count { white-space: nowrap; }
.progress-bar { height: 10px;width: 100%;background: color(primary, base);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out; }

/* Zip Code */

.zip-main input { border: 1px solid #d9d9d9;border-radius: 3px;width: 230px;max-width: 100%;box-sizing: border-box;padding: 12px 22px;margin: 15% auto 5px; }
.zip-err { margin-bottom: 10%;display: inline-block; }
.zip-unavail, .zip-unavail-ty, .reg-numb { display: none; }
.zip-unavail { padding: 0 10%; }
.unavail-form { margin-top: 4%; }
.zip-unavail-ty { padding-top: 20px; }
html .row-fluid .multi-form input { 
    box-shadow: none; border: 1px solid color(border);
    padding: .8rem;
    background-color: #fff;
    color: color(text, base);
    border-radius: 0;
    box-shadow: none;
    font-size: 1rem;
    font-family: family(body);
    box-sizing:border-box;
    // overrides hubspots width
    width: 100% !important;
    height: px-to-rem(45px);
    margin-top: 10px;

    &:focus {
        border: 1px solid color(text, base);
        outline: none;
    }
}

html .row-fluid .multi-form input[type="checkbox"] {
    height: auto;
    width: auto !important;
}

/* Project Goal */

.multi-questions { padding: 4% 5%;margin-top: 4%;-webkit-justify-content: center;justify-content: center;display: -webkit-flex; display: flex;-webkit-flex-wrap: wrap; flex-wrap: wrap;}
.q-answer { display: inline-block;padding: 10px 2%;width: 24%;min-height: 170px;box-sizing: border-box; }
.q-answer input { display: none; }
html .multi-questions .q-answer label { width: 100%;margin: 0;box-sizing: border-box;padding: 20% 10px;height: 100%;cursor: pointer;border: 1px solid #d9d9d9;border-radius: 3px;background: white;color: color(primary, base);-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out;display: -webkit-flex; display: flex;-webkit-align-items: center; align-items: center;}
html .multi-questions .q-answer label:hover { color: white;border-color: color(primary, base);background: color(primary, base); }
html .multi-questions .q-answer input[type=radio]:checked + label { color: white;border-color: color(primary, base);background: color(primary, base); } 
html .multi-questions .q-answer label span { display: block;width: 100%;font-size: 20px; }

/* Form */

.multi-form form .field > label { display: none; }
.multi-form form .form-columns-2 .field:nth-child(1) .input { margin-right: 10px; }
.multi-form form .form-columns-2 .field:nth-child(2) .input { margin-left: 10px; }
.multi-form-form form .actions input { display: inline-block;width: auto !important;margin-top: 10px; }
.ty-form-body { display: none;padding: 0 10%; }
.multi-subhead { font-weight: 300;font-size: 1.1em;display: inline-block;margin-bottom: 10%; }
.to-calendar { display: inline-block;position: relative;margin: 4% 20px 0 0;padding: 13px 40px;cursor: pointer;font-size: 18px;font-weight: 600;color: white;background: color(primary, base); }
.to-calendar:after { content: '';position: absolute;right: -20px;top: 0;width: 0;height: 0;border-top: 25px solid transparent;border-bottom: 25px solid transparent;border-left: 20px solid color(primary, base); }

/* Calendar */

.multi-calendar .multi-item-body { padding-top: 15px;padding-bottom: 5px; }
.date-picker-wrapper { display: -webkit-flex; display: flex;}
.date-picker-wrapper .date-picker { width: 56%;padding: 10px 0; }
.date-picker-wrapper .date-picker #appointment_date { display: none; }
.date-picker-wrapper .date-picker .gldp-flatwhite { width: 100% !important;height: 380px !important;background: #799a2b; background: -moz-linear-gradient(-45deg,  #799a2b 0%, #49a400 100%); background: -webkit-linear-gradient(-45deg,  #799a2b 0%,#49a400 100%); background: linear-gradient(135deg,  #799a2b 0%,#49a400 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#799a2b', endColorstr='#49a400',GradientType=1 ); }
.date-picker-wrapper .date-picker .prev-arrow, .date-picker-wrapper .date-picker .next-arrow{ text-shadow: none;color: transparent;display: inline-block;width:100%; }
.date-picker-wrapper .gldp-flatwhite .next-arrow:active, .date-picker-wrapper .gldp-flatwhite .prev-arrow:active { color: transparent; }
.date-picker-wrapper .date-picker .prev-arrow { text-align: right; }
.date-picker-wrapper .date-picker .next-arrow { text-align: left; }
.date-picker-wrapper .date-picker .prev-arrow:after { content: '<';color: white; }
.date-picker-wrapper .date-picker .next-arrow:before { content: '>';color: white; }
.date-picker-wrapper .date-picker .core { background: transparent !important;color: white;border-color: transparent;font-size: 18px;width: 14.28% !important; }
.date-picker-wrapper .date-picker .monyear { width:25% !important;border: none !important; }
.date-picker-wrapper .date-picker .monyear.title { width: 50% !important; }
.date-picker-wrapper .date-picker .core.noday { color: #555555; }
.date-picker-wrapper .date-picker .core.outday { color: rgba(255,255,255, .5) !important; }
.date-picker-wrapper .date-picker .core.selected { background: url(https://www.kitchenmagic.com/hubfs/graphics/icons/calendar-select.png) center no-repeat !important;background-size: 35px !important;color: color(primary, base); }

.date-picker-form { width: 44%;background: white;box-shadow: 4px 3px 15px rgba(0,0,0, .3); }
.body-container-wrapper .date-picker-form  form { background: transparent;border: none; }
.multi-form .gldp-flatwhite, .multi-form .gldp-default { display:block !important;position: static !important; }
.date-picker-form .time-header { padding: 30px 10% 0;text-align: left;font-size: 18px;font-weight: 600;color: #555555; }
.date-picker-form .time-options { padding: 0 10%; }
.more-radio input { display: none; }
.date-picker-wrapper .more-radio label { display: block;padding: 10px 15px;margin: 10px 0;font-size: 18px;font-weight: 600;border: 1px solid #d9d9d9;border-radius: 3px;color: color(primary, base);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out; }
.date-picker-wrapper .more-radio input[type=radio]:checked + label, .date-picker-wrapper .more-radio label:hover { background: #f2f9c7;border-color: color(primary, base); }
html .date-picker-wrapper .date-picker-form form { padding: 10px 10%;display: none; }
.date-picker-wrapper form .actions input { display: none; }
.multi-form form .actions input { display: inline-block;font-size: 18px;background: color(primary, base);border-color: color(primary, base); }

.date-picker-ty { display: none;padding: 0 10%; }
.chosen-time { font-size: 2em;line-height: 1.2em;font-weight: 600;padding: 15px 0 35px;display: inline-block;color: color(primary, base); }
.ty-message { text-align: left; }

 @media (max-width: 950px) {
    .multi-item-body { height:0; }
    .current .multi-item-body { height:auto; }
    .q-answer { max-width: 49%;width: 250px;padding: 10px 4%; }
    .to-calendar { font-size: 16px; }
 }
 
 @media (max-width: 767px) {
     .multi-item-header h2, .multi-item h3 { font-size: 1.4em;padding: 0 0 5px; }
     html .multi-form .multi-form-left, html .multi-form .multi-form-right { width: 25px; }
     .multi-item-header .multi-close img { width: 20px; }
     .multi-arrow { padding: 0 0px; }
     .multi-item-body { padding: 40px 35px 20px; }
    .q-answer { max-width: 100%;width: 100%;padding: 5px 4%;min-height: 50px; }
    .q-answer label { padding: 10% 10px; }
    .date-picker-wrapper { display: block; }
    .date-picker-wrapper .date-picker, .date-picker-form { width: 100%; }
    html .row-fluid .multi-form-form form, html .row-fluid .multi-zip form { padding: 10px 0%; }
    .multi-form form .form-columns-2 .field { width: 100% !important; }
    .multi-form form .form-columns-2 .field:nth-child(1) .input { margin-right: 0; }
    .multi-form form .form-columns-2 .field:nth-child(2) .input { margin-left: 0; }
    .multi-form form .form-columns-2 .field .input input { width: 100%; }
    .ty-form-body, .zip-unavail { padding: 0; }
    .to-calendar { margin: 4% 0 0;padding: 13px 20px; }
    .to-calendar:after { display: none; }
    .date-picker-wrapper .date-picker .core { font-size: 16px; }
    html .multi-questions .q-answer label { padding: 15px 10px; }
    html .multi-questions .q-answer label span { font-size: 16px; }
 }







