/* ============================================================
   ICONS
/* ============================================================ */

/**
 * Arrow right on icons
 * !!! this is old code, needs to be refactored
 */
.arrow-right::after {
    content: "\f054";
    font-family: fontawesome;
    padding-left: 15px;
    font-size: .9rem;
}

//
//  Icon Boxes
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* example: www.kitchenmagic.com/cabinet-refacing */

.icon-box {
  text-align: center;
  padding: 0 10px;
  margin-bottom: px-to-rem(35px);
}

.icon-box__icon {
  max-height: 80px;
  margin-bottom: 30px;
}

.icon-box__title{
  color: color(text, primary);
  font-family: family(bold);
}