/* ============================================================
   POP-UP FORMS -- Hubspot feature
/* ============================================================ */

// title
.leadin-preview-wrapper h4, .leadin-message-wrapper h4 {
    font-family: family(body);
    text-align: center !important;
    font-size: px-to-rem(15px) !important;
}

// button 
button.leadin-button.leadin-advance-button.leadin-button-secondary, button.leadin-button.leadin-button-primary.leadin-primary.leadin-submit {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // button styling
    padding: .9rem 1.8rem;
    line-height: 1.5;
    border-radius: 0;
    border: none;
    // font styling
    font-size: px-to-rem(15px);
    font-family: family(body);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    @include transition(all 300ms ease);
    background-color: color(primary, base) !important;
    color: #fff !important;
    border: 1px solid color(primary, base);
}

// body 
div#leadin-content-form-wrapper {
    background: #fff;
}

// labels
.leadin-input-wrapper label {
    font-family: family(bold);
    color: #222;
    font-size: .8rem;
    margin-bottom: 0;
}
