@import "../helpers/_variables.scss";
@import 'styles/scss/helpers/_mixins.scss';

/* ============================================================
  FORMS
/* ============================================================ */

/**
 * Inputs
 */
div.input {

    input.hs-input {
        border: 1px solid $gray;
        padding: .8rem;
        border-radius: 0;
        box-shadow: none;
        font-size: 1rem;
        font-family: $font-family-text;
        @include transition(all 300ms ease);

        @include placeholder {
            color: $gray;
            font-size: 1rem;
            font-family: $font-family-text;
        }

        &:valid {
            color: $text-color;
        }

        &:focus {
            border-color: $text-color;
            color: $text-color;
            box-shadow: none;
            outline: none;
        }

        &.error{
            border: 1px solid $warning;
        }
    }

    /**
     * Select fields
     */
    select {
        padding: .8rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-apprerance: none;
        appearance: none;
        font-size: 1rem;
        height: 46px;
        background: #fff;
        color: $gray;
        border-radius: 0;
        border-color: $gray;
        width: 100% !important;
        background: url(https://www.kitchenmagic.com/hubfs/graphics/icons/form_icons/arrow-down.png) no-repeat 95% center;

        &:focus {
            border-color: $text-color;
            color: $text-color;
            box-shadow: none;
            outline: none;
        }

        &:hover {
            cursor: pointer;
            border-color: $text-color;
        }

        :valid {
            color: $text-color;
        }
    }
    
}

 /**
  * Date input - calendar for self set forms
  */
div.hs-dateinput {
    input {
        background: url(https://www.kitchenmagic.com/hubfs/graphics/icons/form_icons/calendar.png) no-repeat 95% center;

        &:hover {
            cursor: pointer;
            border-color: $text-color;
        }
    }
}

div.hs-datepicker div.fn-date-picker.pika-single.is-bound {
    box-shadow: 0 2px 20px $shadow;
    border: 1px solid #DDE3E6;
    border-radius: 0;
    font-family: $font-family-text;
}

.fn-date-picker .pika-title .pika-label {
    font-weight: normal;
}

/**
 * Form labels
 */
div.hs-form-field label {
    font-family: $font-family-text-bold;
    color: #222;
    font-size: .8rem;
}

/**
 * Form errors
 */
ul.hs-error-msgs li label {
    color: $warning;
    font-family: $font-family-text;
}