/* ============================================================
   ICONS
/* ============================================================ */

/**
 * Arrow right on icons
 * !!! this is old code, needs to be refactored
 */
.arrow-right::after {
    content: "\f054";
    font-family: fontawesome;
    padding-left: 9px;
    font-size: .9rem;
}