// Variables, Mixins, Functions
@import 'styles/scss/helpers/_variables.scss';
@import 'styles/scss/helpers/_functions.scss';
@import 'styles/scss/helpers/_mixins.scss';

/* ============================================================
   MEGA MENU
/* ============================================================ */ 

// OVERRIDE but needs to be moved to header.scss
.km-header-bottom {
    padding-bottom: 0 !important;
}

// core navigation styles
.km-mm {
    line-height: 44px;
    margin-top: 20px;
    float: right;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 0;
        padding: 0 20px;
        
        &.no-link {
            text-transform: uppercase;
            font-size: px-to-rem(14px);
            color: color(text, base);
            letter-spacing: .47px;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        // &:hover > .km-mm__column {
        //     opacity: 1;
        //     visibility: visible;
        //     overflow: visible;
        // }


        &.km-mm__top-level-item {
            height: 66px;
        }

        a {
            text-transform: uppercase;
            font-size: px-to-rem(14px);
            color: color(text, base);
            letter-spacing: .47px;
            @include transition(all 300ms ease);

            //hover effects
            &:hover {
                text-decoration: none;
                color: color(primary, base);
            }
        }
    }
}

// mega menu container and items

.km-mm {

    &__column {
        position: absolute;
        display: block;
        width: 100%;
        top: 100px;
        left: 0;
     
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
     
        background: #ffffff;
        @include transition(all 300ms ease);

        border: 1px solid color(border);
        @include box-shadow(0 5px 10px 0 rgba(225, 229, 228, .4));

        &.open {
            opacity: 1;
            visibility: visible;
            overflow: visible;
        }

        &__container {
            padding: 0 35px !important;
        }

        &__body {
            padding: 20px 0;
        }
    }

    &__title {
        font-family: family(header);
        font-size: px-to-rem(23px);
        border-bottom: 1px solid color(border);
        letter-spacing: 1px;
        padding-bottom: 10px;
        margin: 20px 0;
        text-transform: uppercase;
    }

    &__subtitle {
        font-family: family(bold);
        font-size: px-to-rem(16px) !important;
    }
}

// children
.km-mm {
    ul.km-mm__children {
        margin-bottom: 20px;
        
        li {
            display: block;
            padding: 0 10px;
        }

        a {
            font-size: px-to-rem(13px);
            text-transform: none;
        }
    }
}

// image cards

.km-mm {
    &__img-card {
        text-align: center;

        a img {
            @include transition(all 300ms ease);

            &:hover {
                @include box-shadow($shadow-sm);
            }
        }
    }
}

.km-mm__img-card {

    &__img {
        height: 150px;
        @include transition(all 300ms ease);

        &:hover {
            @include box-shadow($shadow-sm);
        }
    }

    &__title {
        font-size: px-to-rem(16px);
        font-family: family(bold);
        letter-spacing: .47px;
        line-height: 1.25;
        margin-bottom: 6px;
        text-transform: uppercase;
    }

    &__description {
        font-size: px-to-rem(14px);
        color: color(text, light);
        line-height: 1.35;
        text-transform: none;
    }
}

// cta button 

.km-mm__cta {
    span a {
        @include btn();
        background-color: color(primary, base);
        color: #fff;
        border: 1px solid color(primary, base);
        font-size: px-to-rem(13px);

        &:hover {
            background-color: color(text, base);
            color: #fff;
            border: 1px solid color(text, base);
        }
    }
}