/* New Dark Footer */
.footer-container-wrapper .row-fluid [class*="span"], .footer-container .row-fluid [class*="span"] {
  min-height: 0; }

.footer-container-wrapper .km-footer > .row-fluid-wrapper .widget-span {
  padding: 0; }

.footer-container-wrapper .km-footer > .row-fluid-wrapper .dark-footer .widget-span {
  margin-bottom: 0;
  padding: 0; }

html .footer-container-wrapper .km-footer > .row-fluid-wrapper .dark-footer {
  margin-bottom: 0;
  padding: 15px 20px 0;
  background: #4c413d;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif; }

html .footer-container-wrapper .km-footer > .row-fluid-wrapper .dark-footer p {
  font-size: 14px; }

.dark-footer strong {
  font-weight: 600; }

.dark-footer .top-left h2 {
  padding-bottom: 0; }

.dark-footer .top-left p {
  font-weight: 300; }

.dark-footer .footer-flag {
  padding-top: 75px !important;
  text-align: center; }

.dark-footer .footer-flag img {
  width: 100px; }

.dark-footer form {
  display: -webkit-flex;
  display: flex; }

.dark-footer form .field {
  width: 62%;
  box-sizing: border-box;
  padding-right: 15px; }

.dark-footer form#hsForm_757a36fb-ee8e-4d27-a531-040172cc2965 .hs_email input {
  width: 100%;
  border: none;
  padding: 16px 9px;
  height: auto; }

.dark-footer form ul.hs-error-msgs {
  display: block !important;
  color: white;
  list-style-type: none; }

.dark-footer form ul.hs-error-msgs label {
  color: white; }

.dark-footer form input[type="submit"] {
  background: #799805;
  border-radius: 3px;
  border: 2px solid #799805;
  padding: 11px 28px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; }

.dark-footer form input[type="submit"]:hover {
  background: #899E30;
  border: 2px solid #799805; }

.dark-footer form input[type="submit"]:focus {
  outline: none; }

.dark-footer input::-webkit-input-placeholder {
  color: #555555;
  font-style: italic; }

.dark-footer input::-moz-placeholder {
  color: #555555;
  font-style: italic; }

.dark-footer input:-ms-input-placeholder {
  color: #555555;
  font-style: italic; }

.dark-footer input:-moz-placeholder {
  color: #555555;
  font-style: italic; }

.dark-footer .footer-middle {
  padding: 40px 0 !important; }

.dark-footer .footer-middle > .row-fluid-wrapper > .row-fluid {
  display: -webkit-flex;
  display: flex; }

.dark-footer .footer-middle .middle-right, .dark-footer .footer-contact {
  padding-left: 15px !important; }

.dark-footer .footer-contact p {
  margin-bottom: 10px; }

.dark-footer .footer-middle .middle-right em {
  font-size: 15px;
  line-height: 1.5em; }

.dark-footer ul {
  font-size: 14px; }

.dark-footer .footer-solutions-menu {
  border-right: 1px solid rgba(255, 255, 255, 0.7); }

.dark-footer .footer-solutions-menu ul {
  -webkit-columns: 150px 2;
  -moz-columns: 150px 2;
  columns: 150px 2; }

.dark-footer .hs-menu-wrapper.flyouts ul li > a {
  padding: 2px 0; }

.footer-social {
  padding: 12px 0 20px; }

.footer-social a {
  margin-right: 10px; }

html .footer-container .dark-footer .km-sub-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  padding: 12px 0 !important; }

html .footer-container .dark-footer .km-sub-footer a {
  font-size: .9em; }

.dark-footer .mobile-flag {
  display: none; }

.dark-footer .mobile-flag img {
  width: 100px; }
