/* ============================================================
  Typography
/* ============================================================ */
/**
* @stylesheet typography.css Typography
* @parent css.theme
*
* @description 
* We use 4 primary fonts `Domaine Display Narrow Bold`, `Proxima Nova Regular`, `Proxima Nova Regular Italic` and `Proxima Nova Bold`. 
* Maintaining typographic clarity and hierarchy is important; here is a showcase of different ways to structure content.
*
* @styles typography-headers Typography
* @iframe demos/base/typography/headers.html
**/
@import url("//hello.myfonts.net/count/37001a");
/* For Hubspot dev - in production */
@font-face {
  font-family: 'DomaineDisplayNarrowBold';
  src: url("https://www.kitchenmagic.com/hubfs/fonts/domaine-display-narrow-bold/DomaineDisplayNarrowWeb-Bold.woff") format("embedded-opentype");
  src: url("https://www.kitchenmagic.com/hubfs/fonts/domaine-display-narrow-bold/DomaineDisplayNarrowWeb-Bold.woff?#iefix") format("embedded-opentype");
  src: url("https://www.kitchenmagic.com/hubfs/fonts/domaine-display-narrow-bold/DomaineDisplayNarrowWeb-Bold.woff") format("woff");
  src: url("https://www.kitchenmagic.com/hubfs/fonts/domaine-display-narrow-bold/DomaineDisplayNarrowWeb-Bold.woff2") format("woff2"); }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-bold.eot");
  src: url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-bold.eot?#iefix") format("embedded-opentype"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-bold.woff2") format("woff2"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-bold.woff") format("woff"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-bold.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular.eot");
  src: url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular.eot?#iefix") format("embedded-opentype"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular.woff2") format("woff2"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular.woff") format("woff"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular-italic.eot");
  src: url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular-italic.eot?#iefix") format("embedded-opentype"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular-italic.woff2") format("woff2"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular-italic.woff") format("woff"), url("https://www.kitchenmagic.com/hubfs/fonts/proxima-nova/proxima-nova-regular-italic.ttf") format("truetype"); }

h1, h2, h3, h4, h5 {
  font-family: "DomaineDisplayNarrowBold", helvetica, serif;
  color: #222222;
  letter-spacing: 1px;
  margin: 1.414rem 0 0.5rem; }

h1 {
  font-size: 4.375rem;
  margin-top: 0; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 1.875rem; }

h5 {
  font-size: 1.5rem; }

/**
* @styles typography-body Body Copy
*
* @description
* Body copy description
* @iframe demos/base/typography/body-copy.html
*/
p {
  font-family: "ProximaNova-Regular", helvetica, sans-serif;
  color: #222222;
  font-size: 1rem;
  margin-bottom: 1.3rem;
  line-height: 1.75rem;
  max-width: 40rem; }

strong {
  font-family: "ProximaNova-Bold", helvetica, sans-serif; }

em {
  font-family: "ProximaNova-RegularIt", helvetica, sans-serif; }

a {
  color: #F01834;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #F01834; }
  a:active {
    color: #C30019; }

ul.km-list {
  padding: 0 0 0 25px;
  margin: 0; }
  ul.km-list li {
    line-height: 2.5rem;
    padding-left: 18px;
    list-style: none;
    padding: 0;
    margin: 0; }
    ul.km-list li:before {
      content: "\f111";
      font-family: fontawesome;
      margin-right: 18px;
      font-size: .5rem;
      vertical-align: center; }
  ul.km-list--red li:before {
    color: #F01834; }

ol {
  margin: 0;
  list-style: none;
  counter-reset: li; }
  ol.km-list {
    padding: 0 0 0 25px;
    margin: 0; }
    ol.km-list li {
      line-height: 2.5rem;
      padding-left: 18px;
      list-style: none;
      padding: 0;
      margin: 0;
      counter-increment: li; }
      ol.km-list li:before {
        content: counter(li);
        margin-right: 18px;
        vertical-align: center; }
    ol.km-list--red li:before {
      color: #F01834; }

/* ============================================================
   GLOBAL
/* ============================================================ */
* {
  font-family: "ProximaNova-Regular", helvetica, sans-serif; }

header {
  background: #fff; }
  header .container {
    height: 65px; }

body {
  background: #fff;
  font-family: "ProximaNova-Regular", helvetica, sans-serif;
  color: #222222; }

.container {
  width: 1170px; }
  .container.api {
    border: none; }

/* ============================================================
   TYPOGRAPHY
/* ============================================================ */
p {
  margin: 0 0 10px; }

blockquote {
  border-left: 5px solid #E1E5E4; }
  blockquote p {
    font-family: "ProximaNova-RegularIt", helvetica, sans-serif;
    padding-left: 10px;
    color: #4a4a4a; }

hr {
  border-color: #E1E5E4; }

code, code *, pre, pre * {
  color: #222222;
  font-size: 16px; }

pre {
  background: #EEF3F5;
  border: 1px solid #E1E5E4; }

/* ============================================================
   HEADER
/* ============================================================ */
.km-navbar {
  box-shadow: 0 2px 10px 0 #E1E5E4; }

.navbar-brand {
  font-size: 19px;
  font-family: "DomaineDisplayNarrowBold", helvetica, serif;
  color: #222222; }
  .navbar-brand:hover {
    color: #222222; }
  .navbar-brand span {
    font-family: "DomaineDisplayNarrowBold", helvetica, serif;
    color: #F01834; }

a.nav-link {
  font-size: 16px;
  color: #222222;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-transform: uppercase; }
  a.nav-link:hover {
    color: #F01834; }

/* ============================================================
   CONTENT
/* ============================================================ */
/* Sidebar */
.sidebar {
  background: #fff; }
  .sidebar .api .heading span {
    color: #222222; }
  .sidebar .api ul ul li a:hover {
    background: #EEF3F5;
    color: #222222; }
  .sidebar .api li a {
    border: none;
    color: #222222; }
  .sidebar .api li.active > a {
    background: #F01834;
    color: #fff; }
    .sidebar .api li.active > a:hover {
      background: #F01834 !important; }
    .sidebar .api li.active > a:before, .sidebar .api li.active > a:after {
      display: none !important; }
  .sidebar .api li li li a {
    padding: 20px 0px;
    line-height: 0px;
    border-radius: 5px;
    text-indent: 14px;
    margin: 7px 0; }

.sidebar .api.cascading > li:nth-child(1) > a {
  text-transform: uppercase; }

.sidebar .api li.active > a.sidebar-title {
  background: #fff;
  color: #222222;
  font-family: "ProximaNova-Bold", helvetica, sans-serif; }

.sidebar .api.cascading > .active:before, .sidebar .api.cascading > .active:nth-child(2):before, .sidebar .api.cascading > .active:nth-child(3):before, .sidebar .api.cascading > .active:nth-child(4):before, .sidebar .api.cascading > .active:nth-child(5):before {
  display: none; }

.sidebar .api li.active:nth-child(2) > a.sidebar-title {
  color: #222222;
  background: transparent; }

.docs .content.docs {
  border: none; }

.docs .title {
  border-bottom: 1px solid #E1E5E4; }
  .docs .title .tags li {
    background-color: #A3A5A8; }

.docs .module {
  color: #4a4a4a; }

/* ============================================================
   TO BE SORTED
/* ============================================================ */
footer {
  display: none; }
