/* ============================================================
   28. AWARDS
/* ============================================================ */

.km-grayscale-awards {
    -webkit-filter: grayscale(1);
    filter: grayscale (1);
    opacity: .5;
}