/* ============================================================
   23. CABINET CARD
/* ============================================================ */

/**
* Cabinet Card
* This file will live on Hubspot Modules only.
* !!! REMOVE from main.scss 
* example: https://www.kitchenmagic.com/kitchen-cabinets/doors/wood
**/

.cabinet-card {
    width: 100%;

    img {
        @include box-shadow($shadow-md);
        display: block;
        margin: 0 auto;
        // fixes responsive issue
        max-width: 100%;
    }
    .product-title {
        font-size: 1rem;
        text-align: center;
        margin-top: px-to-rem(12px);
        padding-bottom: px-to-rem(2px);
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
      
    .cabinet-card img {
        width: 100%;
    }
    
}    