/* ============================================================
   PRODUCT CARDS
/* ============================================================ */

/**
 * This file will live on Hubspot Modules only.
 * !!! REMOVE from main.scss 
**/

.product-card {
    width: 100%;

    img {
        margin: 0 auto;
        display: block;
        width: 100%;
    }

    .product-title {
        font-size: 1rem;
        text-align: center;
        margin-top: 12px;
        padding-bottom: 2px;
        font-family: family(header);
        background: #fff;
        padding: .8em;
        position: relative;
        top: -30px;
        max-width: 80%;
        margin: 0 auto;
        @include box-shadow($shadow-sm);
      }

      /**
        * Product numbers
        * This is used to tag the accesories with serial numbers - used on knobs & pulls page
        */
      .product-number {
        font-size: 0.6875rem;
        text-align: center;
        margin-bottom: -9px;
        font-style: family(italic);
        color: color(text, light);
    }
}

/**
 * Helper class
 * Hides card if there is too many in one row.
 * When the new dynamic product system is put into place, this will be removed.
 */
.product-hide {
    display: none !important;
}



/** 
 * Dyanmic product galleries - fixes left margin for every 5th child on database grids 
 * !!! this will be fixed when we move to flex
 */

 .product-row > .span3:nth-child(4n+1) {
    margin-left: 0;
    
}
    
.product-row > .span4:nth-child(3n+1) {
    margin-left: 0;
}


/**
 * New tag
 * Adds a new tag to the side of the card
 */
.tag {
    font-size: 12px;
    background: #5988da;
    background: -moz-linear-gradient(top, #5988da 0%, #4d7ac7 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #5988da), color-stop(100%, #4d7ac7));
    background: -webkit-linear-gradient(top, #5988da 0%, #4d7ac7 100%);
    background: -o-linear-gradient(top, #5988da 0%, #4d7ac7 100%);
    background: -ms-linear-gradient(top, #5988da 0%, #4d7ac7 100%);
    background: linear-gradient(to bottom, #5988da 0%, #4d7ac7 100%);
    color: white;
    padding: 2px 18px 2px 15px;
    position: absolute;
    left: -7px;
    top: 10px;
    text-shadow: 0 1px black;
    font-weight: 500;
    border-radius: 1px;
    z-index: 999;
    transition: all .4s ease;
    display: none;
  }
  
  .tag:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-right: solid 7px #4970B5;
    border-bottom: solid 10px rgba(0, 0, 0, 0);
    position: absolute;
    left: 0px;
    bottom: -10px;
    z-index: 1;
    transition: all .4s ease;
  }
  
.tag:hover, .tag:before:hover{
    transform: scale(1.1);
}


/**
 * New tag
 * Adds a new tag to the side of the card
 */
 
.tag-hidden {
    display: none!important;
}

.tag-hidden:hover {
    display: none!important;
}

.hide-border {
border: none!important;
}

.product-card.hide-border:hover {
    box-shadow: none;
}

.product-card.hide-border img {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    transition: all .3s ease-out;
}

.product-card.hide-border img:hover {
    box-shadow: none;
}

// ============================================================
//  RESPONSIVE
// !!! This section needs to be redone with new media queries
// ============================================================ */
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
     
    .product-card {
     border: none;
     width: 100%;
     padding: 0;
 }
 
   .product-card:hover {
       transform: none;
   }
    
    .product-card img {
        display: block;
        margin: 0 auto;
        width: 100%;
        
    }
    
    .product-card .product-title {
         font-size: 1.7em;
    }
    
    .product-number {
        font-size:.9em;
        margin-bottom: 5px;
    }
 }
 
 /* iPads (portrait and landscape) ----------- */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
     
    .product-card {
        border: none;
        width: 100%;
        padding: 0;
 }
 
   .product-card:hover {
       transform: none;
   }
    
    .product-card img {
        display: block;
        margin: 0 auto;
        width: 100%;
        @include box-shadow($shadow-md);
    }
 }