// Variables, Mixins, Functions
@import 'styles/scss/helpers/_variables.scss';
@import 'styles/scss/helpers/_functions.scss';
@import 'styles/scss/helpers/_mixins.scss';

/* ============================================================
   CARD
/* ============================================================ */

.card {
  border: 1px solid color(border);
  background: color(background);
  color: color(primary, base);
  padding: 20px;
  @include box-shadow($shadow-md);

  &__title {
    font-size: px-to-rem(22px);
  }

  &__description p {
    color: color(text, light);
  }

  // modifiers
  &--clear {
    background: #fff;
  }

  img {
    max-width: 200px;
  }
}
