// Variables, Mixins, Functions
@import 'styles/scss/helpers/_variables.scss';
@import 'styles/scss/helpers/_functions.scss';
@import 'styles/scss/helpers/_mixins.scss';

/* ============================================================
   CONTENT BOX
/* ============================================================ */

.content-box {

    &--center {
        margin: 0 auto;
        text-align: center;
    }

    &__icon {
        max-width: 50px;

        &--left {
            position: absolute;
            left: 15px;
        }

        &--top {
            padding-bottom: 20px;
            margin: 0 auto;
        }
    }

    &__body {
        
        &--left {
            padding-left: calc(60px + 15px);
        }
    }
}