// Variables, Mixins, Functions
@import 'styles/scss/helpers/_variables.scss';
@import 'styles/scss/helpers/_functions.scss';
@import 'styles/scss/helpers/_mixins.scss';


/* ============================================================
   FEATURED ITEM
/* ============================================================ */
/* example: https://www.kitchenmagic.com/products */

.km-featured-item-title {
    color: #FFF;
    text-align: center;
    padding-top: .3em;
    padding-bottom: .2em;
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,.5);
    margin: 0;
    font-family: family(body);
    font-size: 1rem;
    text-transform: uppercase;
}

.km-featured-item a:hover {
    text-decoration: none
}

.km-featured-item .km-featured-item-image {
    position: relative
}

.km-featured-item .km-featured-item-caption {
    padding: 1em 1.3em;
    background-color: #fff;
    @include box-shadow($shadow-sm);

    h3, h4 {
        margin-top: 0;
        font-size: 1.875rem;
    }
}