// Variables, Mixins, Functions
@import 'styles/scss/helpers/_variables.scss';
@import 'styles/scss/helpers/_functions.scss';
@import 'styles/scss/helpers/_mixins.scss';

/* ============================================================
   IMAGE GRID
/* ============================================================ */

// add shadow for light background
.km-light-bg .image-grid__card {
    @include box-shadow($shadow-sm);
}

.image-grid {
    margin-bottom: 35px;

    img {
        position: relative;
    }

    &__title {
        font-family: family(bold);
        margin-bottom: 7px;
        font-size: px-to-rem(17px);
    }

    &__caption {
        position: absolute;
        bottom: 0;
        padding: 5px 5px;
        background-color: rgba(0,0,0,.5);
        color: #fff;
        font-size: 14px;
        width: calc(100% - 30px);
        letter-spacing: .5px;

        &--below {
            position: relative;
            background-color: #fff;
            color: color(text, base);
            width: 100%;
            padding: 18px 15px 20px;
        }
    }

}