// Variables, Mixins, Functions
@import 'styles/scss/helpers/_variables.scss';
@import 'styles/scss/helpers/_functions.scss';
@import 'styles/scss/helpers/_mixins.scss';

// Mixins 
@mixin form-override {
	border: none !important;
	background-color: #fff !important;
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin grid {
    position: relative;
    float: left;
    padding-left: .9375rem; 
    padding-right: .9375rem;
  }
  
  // Responsive Mixins
  @mixin desktop {
      @media (min-width: 1024px) {
          @content;
      }
  }
  
  @mixin tablet {
      @media (min-width: 768px) and (max-width: 1024px) {
          @content;
      }
  }
  
  @mixin tablet-landscape {
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      @content;
    }
  }
  
  @mixin mobile {
      @media (min-width: 320px) and (max-width: 480px) {
          @content;
      }
  }
  
  @mixin mobile-landscape {
    @media (min-width: 481px) and (max-width: 767px) {
      @content;
    }
  }

//   @mixin box-shadow {
// 	box-shadow: 0 2px 20px #D9DFF0;
// 	-moz-box-shadow: 0 2px 20px #D9DFF0;
// 	-webkit-box-shadow: 0 2px 20px #D9DFF0;
// }

/* ============================================================
   01. Top Action Bar
/* ============================================================ */

.gallery__action-bar {
	display: flex;
	align-items: center;
	margin-bottom: 28px;

  @include respond-below('xs') {
    display: none;
  }
}

.gallery__action-bar-left {
	display: flex;
	justify-content: space-between;
}

.gallery__action-bar-right {
	display: flex;
	align-items: center;
	
	form {
		flex-basis: 100%;
		// overrides default styling
		@include form-override;
    	padding: 0 16px !important;

    	&:last-child {
    		padding-right: 0 !important;
    	}

		// add labels
    	// &#sort-by:before {
    	// 	content: "Sort by:";
    	// 	font-size: 12px;
    	// }

    	// &#solution-filter:before {
    	// 	content:"Solutions:";
    	// 	font-size: 12px;
    	// }

    	// &#search-bar:before {
    	// 	content:".";
    	// 	font-size: 12px;
    	// 	color: #fff;
    	// }

    	select {
    		height: 2.3125rem;
    		border-color: color(border);
    		font-weight: bold;

    		&:after {
    			content: "\f078";
    			font-family: fontawesome;
    		}

    		&:active {
    			outline: none;

    		}
    	}
	}
}

#gallery-filter-search {
  background-image: url(https://cdn2.hubspot.net/hubfs/126868/graphics/icons/med-search.png);
  background-color: color(background) !important;
    background-repeat: no-repeat;
    background-position: 12px 8px;
    background-size: auto 55%;
    text-indent: 35px;
    height: 42px;
    line-height: 42px;
    box-shadow: none;
    border-color: color(border);
    margin-bottom: 0;
    border: 1px solid color(border);
    padding: .8rem;
    background-color: #fff;
    color: color(text, base);
    border-radius: 0;
    box-shadow: none;
    font-size: 1rem;
    font-family: family(body);
    box-sizing:border-box;
    // overrides hubspots width
    width: 100% !important;
    height: px-to-rem(45px);
    @include transition(all 300ms ease);

    &:focus {
      outline: none;
    }

    @include input-placeholder {
    	color: color(gray, base);
    }
}

/* ============================================================
   02. Sidebar Filters
/* ============================================================ */

#sidebar-filters {
  @include respond-below('xs') {
    display: none !important;
  }
}

.gallery__filter {
    // @include grid;
    // width: 25%;
  
    // @include tablet {
    //   width: 40% !important;
    // }
  
    // @include tablet-landscape {
    //   width: 33.33333% !important;
    // }
  
    // @include mobile {
    //   display: none !important;
    // }
  
      .gallery__filter-card {
          &:first-child {
              margin-top: 0;
          }
      }
  }
  
  .gallery__filter-card {
      border: 1px solid color(border);
      border-radius: 3px;
      margin-top: 20px;
  }
  
  .gallery__filter-card--header {
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      text-transform: uppercase;
      font-size: px-to-rem(14px);
      letter-spacing: 1px;
      font-family: family(bold);
  
      &:hover {
          cursor: pointer;
      }
  }
  
  .gallery__filter-card--dropdown {
      display: flex;
      align-items: center;
      font-size: 13px;
      color: color(primary, base);
  
      &:hover {
          cursor: pointer;
      }
  }
  
  .gallery__filter-card--body {
  
      padding: 0 20px 14px;
      border-top: 1px solid color(border);
      form {
          // overrides default styling
          @include form-override;
  
          input {
              transform: none !important;
  
              &:hover {
                  cursor: pointer;
              }
  
          }
      }
  }
  
  // checkbox
  .gallery__filter-card-checkbox label {
    margin-left: .5rem;
    font-size: px-to-rem(14px);
  }

/* ============================================================
   03. Image Cards / Grid
/* ============================================================ */

.gallery__img-container {
    @include grid;
    width: 75%;
    overflow: hidden;
  
    @include tablet {
      width: 60% !important;
    }
  
    @include tablet-landscape {
      width: 66.66667% !important;
    }
  
    @include mobile {
      width: 100% !important;
    }
  
  }
  
  .gallery__img {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
      .gallery__img--card {
          flex-basis: 23%;
          width: 23%;
          margin-bottom: 20px;
          border-radius: 3px;

          @include respond-below('lg') {
            max-width: 47%;
            width: 47%;
            flex-basis: 47%;
          }
  
             //add animation for borders on hover
          // &:before, &:after {
          // 	position: absolute;
          // 	top: 0;
          // 	right: 0;
          // 	bottom: 0;
          // 	left: 0;
          // 	transition: opacity .38s ease-in-out, transform .35s ease-in-out;
          // 	content: '';
          // 	opacity: 0;
          // 	pointer-events: none;
          // }
  
          // &:before {
          // 	transform: scale3d(0, 1, 1);
          // 	transform-origin: left top;
          // 	border-top: 1px solid color(primary, base);
          // 	border-bottom: 1px solid color(primary, base);
          // 	border-radius: 3px;
          // }
  
          // &:after {
          // 	transform: scale3d(1, 0, 1);
          // 	transform-origin: right top;
          // 	border-right: 1px solid color(primary, base);
          // 	border-left: 1px solid color(primary, base);
          // 	border-radius: 3px;
          // }
  
          // &:hover::before, &:hover::after, &:focus::before, &:focus::after {
          // 	transform: scale3d(1, 1, 1);
          // 	opacity: 1;
          // }
    }
  
    /* testing image crop with img */
  
    // .crop {
    //   position: relative;
    //   overflow: hidden;
    //   /* Width and height can be anything. */
    //   width: 31vw;
    //   height: 25vh;
    //   display:inline-block;
    //   margin:0;
    //   padding:0;
    //   box-sizing:border-box;
  
    //   img {
    //     position: absolute;
    //     /* Position the image in the middle of its container. */
    //     top: -9999px;
    //     right: -9999px;
    //     bottom: -9999px;
    //     left: -9999px;
    //     margin: auto;
    //     /* The following values determine the exact image behaviour. */
    //     /* You can simulate background-size: cover/contain/etc.
    //        by changing between min/max/standard width/height values.
    //        These values simulate background-size: cover
    //     */
    //     min-width: 100%;
    //     min-height: 100%;
    //     box-sizing:border-box;
    //   }
  
    // }
      
      .gallery__img--background {
        position: relative;

        img {
          width: 100%;
        }

        &:hover {
            cursor: pointer;

            .gallery__img--background-overlay {
               opacity: 1;
             }
         }

        &:before {
            transition: background-color 400ms ease;
            content:"";
        }
    
        &:hover::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 193px;
            background-color: rgba(0,0,0,.3);
            content: "";
        }
      
      .gallery__img--background-overlay {
        transition: 400ms ease;
        opacity: 0;
        top: 0;
        position: absolute;
        text-align: center;
        line-height: 193px;
        width: 100%;
  
        span i {
          font-size: 30px;
          color: #fff;
        }
      }
  
      }
  
      .gallery__img--body {
          padding: 13px 20px 21px;
          border-left: 1px solid color(border);
          border-right: 1px solid color(border);
      }
  
      .gallery__img--props {
          list-style: none;
          margin-left: 0;
          font-size: px-to-rem(13px);
          margin-bottom: 0;
          padding-left: 0;
  
          li {
            padding-bottom: 10px;
            margin: 0;
            line-height: 1;
            color: color(gray, base);
  
              &:last-child {
                  padding-bottom: 0;
              }

              &.gallery__img--props__name {
                font-family: family(header);
                font-size: px-to-rem(18px);
                letter-spacing: 1px !important;
                padding-bottom: 16px;
                color: color(text, base);
            }
          }
  
          > li img {
              padding-right: 13px;
          }
      }
  }

    // bottom footer bar with buttons
    .gallery__img-button-bar {
        border: 1px solid color(border);

        &__btn {
            display: inline-block;
            padding: 6px 11px 5px;
            text-align: center;
            margin: 0 auto;

            &:first-child {
              padding-right: 0;
            }

            &:last-child {
              border-right: 0;
              padding-left: 5px;
            }

            & a, & button {
                padding: 0;
                margin: 0;
            }

            // pinterest button
            & a i.fa-pinterest {
                color: color(primary, base);
                @include transition(all 300ms ease);
                font-size: px-to-rem(18px);
                top: 2px;
                position: relative;

                &:hover {
                    color: color(primary, dark);
                    cursor: pointer;
                }
            }
        }
    }

    // heart count
    .heart-btn {
      img {
        width: px-to-rem(13px);
      }
    }
    
    // like count
    .like-count {
      color: color(gray, base);
      font-size: px-to-rem(13px);
      padding-left: 3px;
    }
    
    .like-count__container {
      position: relative;
      display: inline-block;
    }
    
    .like-count-animate {
      position: absolute;
      opacity: 0;
      font-size: 14px;
      left: 3px;
      color: color(gray, base);
      
      &--active {
        animation: like .8s ease-in-out;
      }
    }
    
    @keyframes like {
      0%   {opacity: 0; top: 0;}
      50%  {opacity: 1;}
      100% {opacity: 0; top: -22px;}
    }

    // pin it button 
    a.km-btn.km-btn--pin.km-btn--ghost-dark {
      font-size: px-to-rem(12px);
      text-transform: none;
      padding: 1px 5px !important;
      border-radius: 4px;

      i {
        font-size: px-to-rem(15px);
      }

      &:hover {
        color: #fff;
      }
    }

    // favorite button
    button.km-btn.km-btn--fav.km-btn--ghost-dark {
      font-size: px-to-rem(12px);
      text-transform: none;
      padding: 1px 5px !important;
      border-radius: 4px;

      &.active {
        background: color(text, base);
        color: #fff;

        svg path {
          fill: #fff;
        }
      }

      svg {
        margin: 0 3px;

        path {
          fill: color(text, base);
        }
      }

      &:hover {
        svg path {
          fill: #fff;
        }
      }
    }



    // empty state

.km-empty-state {
  max-width: 400px;
  text-align: center;
  padding-top: 25px;
  margin: 0 auto;

  img {
    opacity: .5;
  }

  p {
    color: color(text, light);

    span {
      color: color(warning);
    }
  }
}

  /* ============================================================
     04. Selects - jQuery Nice Select
  /* ============================================================ */
  
  // variables 
  $font_size: 14px !default;
  $font_size_small: 12px !default;
  
  $input_border_radius: 0;
  $input_height: 42px !default;
  $input_height_small: 36px !default;
  $dropdown_padding: 18px !default;
  
  $gray_dark: #444 !default;
  $gray: #222 !default;
  $gray_light: #e8e8e8 !default;
  $gray_lighter: #F0F2F8 !default;
  $primary_light: $gray !default;
  $arrow_color: $gray !default;
  
  // Style the dropdown
  .nice-select {
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #fff;
    font-weight: bold;
    border-radius: $input_border_radius;
    border: solid 1px color(border); 
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    font-family: inherit;
    text-transform: uppercase;
    font-size: $font_size;
    height: $input_height;
    line-height: $input_height - 2;
    outline: none;
    padding-left: $dropdown_padding;
    padding-right: $dropdown_padding + 12;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: auto;
    // mobile styling for filters
    @include respond-below('xs') {
      font-size: px-to-rem(18px);
      height: 60px;
      line-height: 60px;
      letter-spacing: .5px;
      font-family: family(body);
      font-weight: normal;
      text-transform: none;
    }
    &:hover {
      border-color: darken(color(border), 5%);
    }
    &:active, &:focus {
      border-color: $primary_light;
    }
    // Arrow
    &:after { 
     border-bottom: 3px solid color(primary, base);
      border-right: 3px solid color(primary, base);
      content: '';
      display: block;
      height: 8px;
      margin-top: -4px;
      pointer-events: none;
      position: absolute;
      right: 12px;
      top: 50%;
      transform-origin: 66% 66%;
      transform: rotate(45deg);
      transition: all .15s ease-in-out;
      width: 8px;
    }
    
    &.open {
      @extend :active;
      &:after {
        transform: rotate(-135deg);
      }
      .list {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1) translateY(0);
      }
    }
    &.disabled {
      border-color: lighten($gray_light, 2%);
      color: $gray;
      pointer-events: none;
      &:after { 
        border-color: lighten($arrow_color, 20%);
      }
    }
    
    // Modifiers
    &.wide {
      width: 100%;
      .list {
        left: 0 !important;
        right: 0 !important;
      }
    }
    &.right {
      float: right;
      .list {
        left: auto;
        right: 0;
      }
    }
    &.small {
      font-size: $font_size_small;
      height: $input_height_small;
      line-height: $input_height_small - 2;
      &:after { 
        height: 4px;
        width: 4px;
      }
      .option {
        line-height: $input_height_small - 2;
        min-height: $input_height_small - 2;
      }
    }
    
    // List and options
    .list {
      background-color: #fff;
      border-radius: $input_border_radius;
      box-shadow: 0 0 0 1px rgba($gray_dark, .11);
      box-sizing: border-box;
      margin-top: 4px;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      pointer-events: none;
      position: absolute;
      top: 100%; left: 0;
      transform-origin: 50% 0;
      transform: scale(.75) translateY(- $input_height / 2);
      transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
      z-index: 9;
      width: 100%;
      &:hover .option:not(:hover) {
        background-color: transparent !important;
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
    .option {
      cursor: pointer;
      font-weight: 400;
      line-height: $input_height - 2;
      list-style: none;
      min-height: $input_height - 2;
      outline: none;
      padding-left: $dropdown_padding;
      padding-right: $dropdown_padding + 11;
      text-align: left;
      transition: all 0.2s;
      padding-left: 32px;
      background-repeat: no-repeat;
      background-position: 3%;

      @include respond-below('xs') {
        background-image: none !important;
        padding-left: 10px;
      }

      &:hover, &.focus, &.selected.focus { 
        background-color: color(gray, lighter);
        color: color(text, base);
      }
      // add icons
      &:first-child {
        background-image: url(https://www.kitchenmagic.com/hubfs/graphics/icons/gallery-icons/heart-dropdown-icon.svg);
      }
      &:nth-child(2) {
        background-image: url(https://www.kitchenmagic.com/hubfs/graphics/icons/gallery-icons/colors-dropdown-icon.svg);
      }

      &:last-child {
        background-image: url(https://www.kitchenmagic.com/hubfs/graphics/icons/gallery-icons/like-dropdown-icon.svg);
      }
      &.selected { 
        font-weight: normal;
      }
      &.disabled {
        background: #fff !important;
        color: color(text, light) !important;
        font-weight: normal;
        cursor: default;
      }
    }
  }
  
  // Use display instead of opacity for IE <= 10
  .no-csspointerevents .nice-select {
    .list {
      display: none;
    }
    &.open {
      .list {
        display: block;
      }
    }
  }
  
  /* ============================================================
     05. ModuloBox - popup overrides
  /* ============================================================ */
  
  .mobx-holder {
    z-index: 999999;
  }
  
  .mobx-overlay {
      background: rgba(0,0,0,.9) !important;
  }
  
  .mobx-top-bar {
    background-color: #000;
  }
  
  .mobx-ui {
  
    a.km-mobx-button {
      position: relative;
      display: inline-block;
      padding: 0;
      cursor: pointer;
      box-shadow: none;
      border: 0;
      outline: 0;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-appearance: none;
      height: 32px;
      line-height: 32px;
      background: color(primary, base);
      color: #fff;
      opacity: 1;
      @include transition(all 300ms ease);
      float: right; 
      margin: 7px 2px 2px;
      padding: 0 10px;
  
      &:hover {
        background: color(primary, dark);
      }
    }
  
    button {
      &:hover, &:focus, &:active {
        background-color: transparent;
      }
  
    }
  }
  
  .mobx-video:before, .mobx-video:after, .mobx-thumb-video:after, .mobx-ui button, .mobx-share-tooltip *:after {
    background-image: url(https://www.kitchenmagic.com/hubfs/graphics/icons/modulobox.svg);
  }
  
  .mobx-caption {
  
    .mobx-caption-inner {
      max-width: 600px;
  
      .mobx-desc {
        text-align: center;
        line-height: 1.45;
        color: #fff;
        font-family: family(header);
        font-size: px-to-rem(23px);
        letter-spacing: 1px !important;
      }
    }
  }

  button.mobx-prev:focus, button.mobx-next:focus {
    outline: none;
  }

  /* ============================================================
   06. Sticky footer
/* ============================================================ */

.gallery {
  
  &__sticky-footer {
    position: fixed;
    bottom: 0;
    transform: translateY(150px);
    background: color(primary, base);
    color: #fff;
    padding: 6px 14px;
    border-radius: 4px 4px 0 0;
    right: 200px;
    font-size: px-to-rem(15px);
    @include transition(all 300ms ease-in-out);

    &:hover {
      background: color(primary, dark);
      color: #fff;
      text-decoration: none;
    }

    @include respond-below('lg') {
      right: 0;
    }

    @include respond-below('xs') {
      // width: 75%;
      // left: 50%;
      // margin-left: -37.5%;
      // text-align: center;
      display: none;
    }

    &.open {
      transform: translateY(0);
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__sticky-footer-text {
    font-family: family(bold);

    span {
      color: #fff;
      font-size: px-to-rem(14px);
    }

    svg {
      margin-right: 9px;
    }

    svg path {
      fill: #fff;
    }
  }
}