// Variables, Mixins, Functions
@import 'styles/scss/helpers/_variables.scss';
@import 'styles/scss/helpers/_functions.scss';
@import 'styles/scss/helpers/_mixins.scss';

/* ============================================================
   RATINGS
/* ============================================================ */

.rating-card {
  text-align: center;
  padding: 75px 0;

  &__container {
    border-right: 1px solid color(border);
    border-top: 1px solid color(border);
    border-bottom: 1px solid color(border);

    @include respond-below(xs) {
      border-bottom: none;
    }
  }

  &__title {
    font-family: family(bold);
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 2px;
    margin-bottom: 9px;
  }

  &__stars {
    font-size: px-to-rem(25px);
    color: color(gray, base);

    & .fa-star {
      color: color(warning);
    }

  }
}

// adds border bottom for last card on mobile
.rating-card__wrapper .rating-card__container:last-child {
  @include respond-below(xs) {
    border-bottom: 1px solid color(border);
  }

}
