/* ============================================================
   POPULAR POSTS
/* ============================================================ */

.pop-post-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .pop-post {
    max-width: 100%;
    border-radius: 0 0 3px 3px;
    margin: 14px 5px;
    width: 31.33%;
    overflow: hidden;
    position: relative;
  }
  
  .pop-post__tag {
    background: color(primary, base);
    color: #fff;
    padding: 1px 16px;
    border-radius: 150px;
    text-transform: uppercase;
    font-family: family(bold);
    font-size: px-to-rem(11px);
  }
  
  .pop-post__img-container {
    overflow: hidden;
    height: 300px;
  }
  
  .pop-post__img {
    height: 300px;
    border-radius: 3px 3px 0 0;
    background-position: center center;
    background-size: cover;
    padding-top: 10px;
    transition: all .5s;
  }
  
  .pop-post__content {
    padding: 12px 20px 0;
    background: #fff;
    padding: 12px 20px 0;
    background: #fff;
    width: 92%;
    margin: -95px auto 0;
    @include box-shadow($shadow-md);
  }
  
  .pop-post__title {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-top: .2rem;
    font-size: px-to-rem(24px);
    font-family: family(header);
  }
  
  .pop-post__title a {
      color: color(text, base);

      &:hover {
          text-decoration: none;
          color: color(primary, base);
      }
  }

  