#blog-subnav-wrapper {
    transition: all .3s ease;
    padding-bottom: 7px;
}

#blog-subnav-container {
	display: flex;
	justify-content: space-between;
    align-items: center;
    
    p {
        margin-bottom: 6px;
        color: color(text, light);
    }
}

#blog-subnav  {
    margin-bottom: 0;

    li {
        display: inline-block;

        &:first-child { 
            padding-left: 0;
        }

        &:last-child {
            padding-right: 10px;
        }

        a {
            max-width: 100%;
            text-transform: uppercase;
            color: color(text, base);
            font-size: px-to-rem(15px);
            padding: .4rem 1rem;
            position: relative;

            &:hover {
                text-decoration: none;
            }

            // hover effect
            &:after {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 4px;
                background: color(primary, base);
                content: '';
                opacity: 0;
                -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
                -moz-transition: opacity 0.3s, -moz-transform 0.3s;
                transition: opacity 0.3s, transform 0.3s;
                -webkit-transform: translateY(10px);
                -moz-transform: translateY(10px);
                transform: translateY(10px);
            }
        }
    }
}

#blog-subnav li a:hover:after, #blog-subnav li a:focus:after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

// search bar
#blog-subnav-search {
	background: none;
	border: none;
	padding: 0 !important;
    margin-bottom: 8px;
	width: 200px;
}

#blog-subnav-search input {
	max-width: 300px;
	background-image: url(https://cdn2.hubspot.net/hubfs/126868/graphics/icons/med-search.png);
	background-repeat: no-repeat;
	background-position: 12px 8px;
	background-size: auto 55%;
	text-indent: 35px;
	border: 1px solid #e4e4e4;
	height: 33px;
	line-height: 34px;
	margin-top: -1px;
}

#blog-subnav-search input:focus {
	background-image: url(https://cdn2.hubspot.net/hubfs/126868/graphics/icons/med-search.png);
	background-repeat: no-repeat;
	background-position: 12px 8px;
    background-size: auto 55%;
    outline: none;
}

.filler {
	flex-grow: 1;
}

.gray-text {
	color: color(text, light);
}

/* sticky nav */
#blog-subnav-wrapper.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 99999;
  background: #fff;
  padding-top: 15px;
  @include box-shadow($shadow-sm);
}

.sticky .nav-inner {
  max-width: 69.25em;
  margin: 0 auto;
  background: #fff;
}

  