/* ============================================================
   09. ESTIMATE SPECIALS - www.kitchenmagic.com/estimate-specials
/* ============================================================ */

.km-img-circle {
    border-radius: 150%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
}