/* ============================================================
   12. SELF SET
/* ============================================================  */

/** thank you self set page **/
body.hs-content-id-3653805926.hs-site-page.page.hs-content-path-thank-you-self-set.hs-content-name-thank-you-post-lead-self-set  {
    background: linear-gradient(to right, rgba(0,0,0,.3) 0%,rgba(0,0,0,.3)100%), url(https://www.kitchenmagic.com/hubfs/images/miscellaneous/kitchen-background.jpg); 
    -webkit-background-size: cover;     
    -moz-background-size: cover;     
    -o-background-size: cover;     
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    background-position: center center;
}

#self-set-form {
    max-width: 500px;
    margin: 0 auto;
    display: block;

}    
/** sweepstakes confirmation self set page **/

body.hs-content-id-5271686399.hs-site-page.page.hs-content-path-sweepstakes-confirmation.hs-content-name-sweepstakes-confirmation-self-set  {
    background: linear-gradient(to right, rgba(0,0,0,.3) 0%,rgba(0,0,0,.3)100%), url(https://www.kitchenmagic.com/hubfs/images/miscellaneous/kitchen-background.jpg);  
    -webkit-background-size: cover;     
    -moz-background-size: cover;     
    -o-background-size: cover;     
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    background-position: center center;
    
}

#self-set-form {
    max-width: 500px;
    margin: 0 auto;
    display: block;
}