/* ============================================================
   CAREERS - www.kitchenmagic.com/careers
/* ============================================================ */  
  
  .km-mini-nav ul {
    list-style: none;
    margin: 1em 0;
    text-align: center;

    li {
        display: inline;
        padding: 0 20px;
        color: color(primary, base);
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 0.1em;
        line-height: 2rem;
        height: 2rem;
        text-align: center;
    }
}

.km-white-box {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
}

div#jobs-widget {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.km-white-panel {
    -moz-box-shadow: 0 1px 2px #ddd;
    -webkit-box-shadow: 0 1px 2px #ddd;
    box-shadow: 0 1px 2px #ddd;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    background: rgba(255,255,255,.8);
    padding: 10px 20px;
    border-radius: 2px
}


.km-blockquote-icon {
    color: color(text, light);
    margin-bottom: 10px;
    opacity: .4;
}

.km-blockquote-lg {
    text-align: center;
    font-size: 2.1rem;
    color: color(text, light);
}

.km-cite-lg {
    text-align: center;
    color: color(text, base);
}