// Variables, Mixins, Functions
@import 'styles/scss/helpers/_variables.scss';
@import 'styles/scss/helpers/_functions.scss';
@import 'styles/scss/helpers/_mixins.scss';

/* ============================================================
   HOMEPAGE
/* ============================================================  
  
/*
/*  Hero
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */

  .hero-wrapper {
    z-index: -1000;
    position: relative;
    color: white;

    .row-fluid-wrapper {
      position: static;
    }

    .row-fluid [class*="span"] {
      min-height:0;
    }

    h1, & h2, & h3, & h4 {
      margin: 0;
      padding: 0;
      color: white;
      text-shadow: 3px 3px 8px rgba(0,0,0, .3);
    } 

    h1 {
      font-size: 3rem;
    }

    .tagline {
      font-size: 2em;
      line-height: 1.3em;
      font-weight: 300;
      text-shadow: 3px 3px 8px rgba(0,0,0, .3);
      margin:0;
    }
  }

  .new-hero {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
    
    .overlay {
      background: rgba(76, 65, 61, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
    }

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: 100%;
      object-fit: cover;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
  
  
  html .row-fluid .hero-wrapper .flex-hero { 
    min-height: 400px;
    padding: 50px 20px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; 
    align-items: center;
    
    > span {
      display:block;
      width:100%;
    }
}

.hero-cta.space { 
  padding-top: 5%; 
}
  
  
/*
/*  Section 1
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  html .row-fluid .home-section-header { 
    text-align: center;
    padding: 0 9% 50px;
    margin-bottom: 0; 
    padding-top: 20px;
  }
  
  .home-section-header2 { 
    text-align: center;
    padding: 10px 9% 20px;
  }
  
  .body-container .widget-span.home-section-header2 { 
    margin-bottom: 0;
  }
  
  .home-section-header h2, .home-section-header2 h2 { 
    padding-top: 0; 
  }
  
  .flex-solutions > span { 
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-flex; 
    display: flex;
    
    > div {
      max-width: 33.3333%;
      flex: 1;
      box-sizing: border-box;
      padding: 10px 10px 30px;
      margin:0;
    }
  }
  
/*
/*  Section 2
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .color-wrapper { 
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px 0 29px;
    margin: 15px 0;

    h1, & h2, & h3, & h4 {
      text-align:left;
      padding-bottom: 5px;
    }

    .row-fluid-wrapper {
      position: static;
    }

    .row-fluid [class*="span"] {
      min-height: 0;
    }

    .km-wrapper > .row-fluid-wrapper > .row-fluid {
      padding: 0 4%;
      display: -webkit-flex; 
      display: flex;
      -webkit-align-items: center; 
      align-items: center;

      > div {
        width: auto;
      }
    }

    .cta-main {
      flex: 1;

      h3 {
        font-size: 2rem;
        padding:0;
      }

      a {
        -moz-transition:all .2s ease-in-out;
        -o-transition:all .2s ease-in-out;
        transition:all .2s ease-in-out;
      }
    }
  }

  .body-container .color-wrapper .widget-span { 
    margin-bottom: 0; 
  }
  .colored-background { 
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1; 
  }
    
/*
/*  Section 3
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */

.awards-flex {

  > span {
    -webkit-justify-content: center;
    justify-content:center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
     align-items: center;

     > div {
      width: 180px;
      max-width: 50%;
      box-sizing: border-box;
      padding: 10px 20px;
      text-align: center;
     }
  }

  img {
    width: auto !important;
    height: 125px;
  }
}

html .row-fluid .credentials-cta { 
  text-align: center;
  margin:0;
  font-size: 18px;
  padding: 0 20px;
}
  
  
/*
/*  Section 4
/*–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
html .row-fluid .wide-wrapper { 
  width: 1200px;
  float: none;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 90%; 
}

.remodel-monthly-wrapper { 
  background: color(background);
  padding: 30px 0 40px;

  .row-fluid-wrapper {
    position: static;
  }

  .row-fluid [class*="span"] {
    min-height: 0;
  }
}

.body-container .remodel-monthly-wrapper .widget-span { 
  margin-bottom: 0; 
}

.remodel-header { 
  text-align: center;
  padding-bottom: 50px; 

  h2 {
    padding-bottom: 0;
  }

  .widget-type-text {
    font-size: 1.5em;
    line-height:1.5em;
  }
}

.remodel-monthly-left { 
  padding-right: 25px;

  > span > div {
    padding: 10px 0;
    font-size: px-to-rem(17px);

    &:nth-child(1) {
      padding: 0 0 10px;
    }

    &:nth-last-child(1) {
      padding: 10px 0 0;
    }
  }

  p:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.remodel-testimonial { 
  border-left: 8px solid #DDDDDD;
  padding: 15px 0 5px 20px;
  background: url(https://www.kitchenmagic.com/hubfs/graphics/icons/quote.png) 10px 20px no-repeat; 
}

.remodel-testimonial-name { 
  text-align: right;
  padding-top: 10px;
}

.more-testimonial { 
  text-align: left;
}

.remo-cta-wrapper { 
  text-align: center;

  .remo-cta {
    min-width: 50%;
    display: inline-block;
    padding-bottom: 10px;
  }

  .cta-right {
    text-align: right;
  }

  a.cta_button {
    min-width: 0% !important;margin-top: 10px;
  }
}
 
html a.arrow-after { 
  box-sizing: border-box !important;
  position: relative;
  -moz-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;

  &:after {
    content: '';
    font-family: fontawesome;
    position: absolute;
    right: 17px;
    font-size: 27px;
  }
}

.hero-wrapper .hs-cta-node { 
  display: inline-block !important; 

  a {
    display: block !important;
  }
}


html .row-fluid  .remodel-monthly-left { 
  width: 47%; 
}

html .row-fluid .month-slider-wrapper { 
  position: relative;
  width: 53%;
  margin-left: 0 !important; 
}

.slider-overlay {
  position: absolute;
  z-index: 1;
  left:0;
  width: 100%;
  bottom: 10px;
  padding: 13% 0 3% 15%;
  box-sizing: border-box;

  .circle-img {
    position:absolute;
    bottom: 0;
    left:10px;
    border-radius: 200px;
    width: 30%;
  }

  .name-bar{
    background: rgba(85,85,85, .7);
    color: white;
    padding: 25px 10px 25px 25%;
    font-family: family(body);
    font-size: px-to-rem(27px);

    &.no-img {
      padding: 25px 10px 25px 25px;
    }
  }
}

.month-slider { 
  width: 100%;
  position: relative;
  padding-bottom: 50px; 
}

.slider-img { 
  padding-top:70%;
  position: relative; 

  &:hover {
    cursor: grab;
  }
}

.month-slider {

  &:hover .slick-arrow {
    opacity: 0.6;
  }

  .slick-arrow {
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 2;
    border: none;
    font-size:0;
    height: 45px;
    width: 45px;
    box-sizing: border-box;
    opacity: 0.6;
    margin: -20px 5px 0;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;


    &:hover {
      opacity: 1;
      background-color: transparent;
      cursor: pointer;
    }

    &:focus {
      outline: none;
      background-color: transparent;
    }
  }

  .slick-prev {
    left: 0;
    background: url(https://www.kitchenmagic.com/hubfs/graphics/icons/left-arrow.png?t=1503158552708) center no-repeat;
    background-size: contain;
  }

  .slick-next {
    right: 0;
    background: url(https://www.kitchenmagic.com/hubfs/graphics/icons/right-arrow.png?t=1503158552708) center no-repeat;
    background-size: contain;
  }

  .slick-dots {
    margin: 10px 0;

    li {
      margin: 0;
    }

    li button {
      background: color(gray, base);
      border-radius: 50%;
      width: 10px;
      height: 10px; 
    }

    .slick-active button {
      background: color(text, base);
    }
  }

}

.remodel-monthly-wrapper .slider-nav { 
  padding: 8px;
  text-align: center;

  .item {
    display: inline-block;
    background: #555555;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;

    &.active {
      background: #C9C9C9;
    }

    &:hover {
      background: #C9C9C9;
    }
  }
}

html .row-fluid .last-cta { 
  margin:0;
}

/*
/*  Mobile Styles
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 1200px) {
  .new-kitchen-header .km-wrapper { max-width: 90%; }
}
@media (max-width: 1024px) {
  .new-kitchen-header { display: none !important; }
  html .row-fluid .hero-wrapper .flex-hero { margin-top: 100px; }
  
  .hero-wrapper h1 { font-size: 2.5rem; }
  .flex-solutions > span { display: -webkit-flex; display: flex;-webkit-flex-wrap: wrap; flex-wrap: wrap; }
  .flex-solutions > span > div { max-width: 50%;width: 50%;flex: none;padding-bottom: 30px;padding-top:20px; }
  .remodel-monthly-left { padding:0 0 20px; }
  .remodel-monthly-left { padding:0 0 20px; }
  html .row-fluid .month-slider-wrapper, html .row-fluid  .remodel-monthly-left { width: 100%; }
  .awards-flex > span { display: -webkit-flex; display: flex;-webkit-flex-wrap: wrap; flex-wrap: wrap; }
  .remodel-header { padding-bottom: 30px; }
  .month-slider-wrapper { margin-bottom: 20px !important; }
  html .row-fluid .month-body-reorder > .row-fluid-wrapper > .row-fluid { display: -webkit-flex; display: flex;-webkit-flex-wrap: wrap; flex-wrap: wrap; }
  html .row-fluid .month-body-reorder > .row-fluid-wrapper > .row-fluid > div:nth-child(1) { order: 2; }
}

@media (max-width: 767px) {
  .hero-wrapper h1 { font-size: 2rem; }
  .hero-wrapper .tagline { font-size: 1.5em; }
  .flex-solutions > span > div { max-width: 100%; width: 100%; padding: 10px 10px 40px; }
  .color-wrapper .km-wrapper > .row-fluid-wrapper > .row-fluid { display: block;padding: 10px 10%; }
  .color-wrapper .widget-type-cta { padding-top: 20px; }
  html a.arrow-after { font-size: 15px !important;padding-top: 10px !important;padding-bottom: 10px !important; }
  .flex-hero a.arrow-after { margin: 5px 0; }
  .slider-overlay .name-bar { font-size: 1.2em;padding: 15px 10px 15px 25%; }
  .remodel-header .widget-type-text { font-size: 1.1em; }
  .solutions-box .solutions-text { padding: 15px 0 10px; }
  .preview-footer-style .km-to-top { display: none !important; }
  .row-fluid-wrapper:nth-last-child(1) .km-wrapper { margin-bottom: 0; }
  html .row-fluid .last-cta { border: none;padding: 0 9% 30px; }
  html .row-fluid .home-section-header { padding: 0 3% 30px; }
  .new-mobile-contact .mobile-call-btns a { display: block;width: 100%; }
}
