// Colors
$dark-red:      #C30019;
$red:           #F01834;
$light-red:     #FF999F;

$text-color:    #222222;

$gray:          #A3A5A8;
$light-gray:    #E1E5E4;
$lighter-gray:  #EEF3F5;
$lighest-gray:  #F9FAFC;

// Typography