/* ============================================================
   BSG SIDEBAR
/* ============================================================ */

.bsg-color-card {
    padding: 35px 0;
    color: #fff;
    border-radius: 5px;

    // used to show copy function
    .bsg-copy-text {
        position: absolute;
        opacity: 0;
        @include transition(all 0.2s ease);
        left: 50%;
        transform: translate(-50%, 0);
        font-size: .8rem;
    }

    &:hover {
        cursor: copy;

        .bsg-copy-text {
            margin-bottom: 10px;
            margin-top: -10px;
            opacity: 1;
        }

        .bsg-color-card__hash {
            margin-bottom: -10px;
            margin-top: 10px;
        }
    }

    &__hash {
        height: 20px;
        line-height: 20px;
        width: 100%;
        text-align: center;
        @include transition(all 0.2s ease);

        &--dark {
            color: color(text, base);
        }
    }
    // primary
    &--primary {
        background-color: color(primary, base);
    }

    &--primary-dark {
        background-color: color(primary, dark);
    }

    &--primary-light {
        background-color: color(primary, light);
    }

    // text
    &--text {
        background-color: color(text, base);
    }

    &--text-light {
        background-color: color(text, light);
    }

    // grays

    &--gray {
        background-color: color(gray, base);
    }

    &--gray-light {
        background-color: color(gray, light);
    }

    &--gray-lighter {
        background-color: color(gray, lighter);
    }

    &--gray-lightest {
        background-color: color(gray, lightest);
    }
    
    // states
    &--error {
        background-color: color(error);
    }

    &--success {
        background-color: color(success);
    }

    &--info {
        background-color: color(info);
    }

    &--warning {
        background-color: color(warning);
    }
}