
/* ==========================================================================
Blog Overrides 2016
========================================================================== */

/************** BODY *****************/

body.hs-blog-listing.hs-blog-name-primary-blog, body.hs-blog-listing.hs-blog-name-recipe-blog, body.hs-blog-listing.hs-blog-name-in-the-press, body.hs-blog-listing.hs-blog-name-wescue, body.hs-blog-listing.hs-blog-name-remodel-of-the-month  {
    background: #f2f2f2;
}

.clear {
    clear: both;
}

/************** POST *****************/

.section.post-header h1 {
  text-align: left;
  padding-bottom: 0;
}

h1 a {
    color: #555;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

div.post-header h2>a {
    color: #555;
}

div.post-header h2>a:hover {
    color: #3a3a3a;
}

p#hubspot-author_data {
  font-size: 12px;
}

a.author-link {
  font-size: 12px;
}

h6.date {
  font-size: 12px;
  font-family: helvetica neue, helvetica;
  display: inline-block;
}

.section.post-body img {
  margin: .8rem 0;
}

div#comments-listing {
  display: none;
}

/* used for houzz pics only */
.houzz-caption {
    margin-bottom: 0;
    color: #555;
}

.pic-accred {
  font-size: 11px;
  color: #ccc;
  margin-bottom: 1em;
}

.pic-caption {
   font-size: .85rem;
   color: #ADADAD;
}

figure {
  padding: 0;
  margin: 0;
  margin-bottom: 0.8rem;
}

figcaption {
  font-size: 12px;
}

.anchor-text {
    margin: 1em 0;
}

.section.post-body ul li {
    margin-left: 15px;
    margin-bottom: 8px;
}

.blog-bq {
    background: #fff;
    padding: 9px 25px 9px;
    border-left: solid 4px #ddd;
    font-style: italic;
    color: #333;
}

/* video */
iframe {
  margin-bottom: 30px;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin: 30px 0;
 		
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/**** Post elements ****/
.blog-title {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 22px 0 22px 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/**** Sharing *****/

a.at-svc-google {
  background: #DA4F46 !important;
}

.at-svc-google span.label {
  color: #FFF !important;
}

/**** Recommended content ****/

.addthis-smartlayers .at4-recommended .at-h3.at-recommended-label {
    font-size: 1.2em !important;
    text-transform: uppercase;
    color: #939393 !important;
    padding-bottom: 13px !important;
    line-height: 1 !important;
    padding-top: 39px !important;
    font-family: helvetica neue;
    font-weight: 500 !important;
}

.at4-recommended-item-caption {
    background: #eaeaea;
}


/************** LISTING *************/

.post-item {
  padding: 0;
  margin-bottom: 2rem;
  background: #fff;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.10);
  border-radius: 0 3px 3px 0;
}

.post-header h2 {
  padding-bottom: 0;
  margin-bottom: 15px;
  line-height: 1.1em;
}

h6#listing-date {
  font-family: helvetica neue, helvetica;
  font-size: 12px;
}

.km-right-card {
    padding: 15px 25px 10px 25px;
}

.featured-image-listing {
  padding: 0;
  margin-bottom: 10px;
}

.km-blog-image-listing {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 353px;
    border-radius: 3px 0 0 3px;
}

p#hubspot-topic_data {
    margin-bottom: 0;
    font-size: 13px;
}

a.topic-link {
    font-size: 13px;
    text-transform: uppercase;
    color: #7BA0E2;
    font-weight: bold;
}

a.topic-link:nth-last-child(1) {
    border-right: none;
}

a.topic-link:nth-child(n+2):before {
    content: "/ ";
    color: #ccc;
}

.addthis_recommended_horizontal {
  margin-top: 2rem;
}

div.read-more {
    position: absolute;
    right: 0;
    bottom: 12px;
    z-index: 9999;
}

a.more-link {
    margin-right: 20px;
    float: right;
    margin-bottom: 3px;
    border: 1px solid #5988DA;
    background: #5988DA;
    color: #fff;
    padding: 5px 11px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    transition: all 150ms ease-in;
}

a.more-link:hover {
    background: #476CAE;
    border: 1px solid #476CAE;
}

.addthis_recommended_horizontal {
  margin-top: 2rem;
  background: white;
  padding: 25px;
}

.blog-arrows {
    margin-bottom: -5px;
}

.show-comments {
    width: 100%;
}

div#comment-spacer {
    margin-top: 2em;
}





/** list all **/

h3.post-listing-simple {
    padding: 10px;
}


/** CTA **/

.anchor-cta {
    color: #5988da;
    font-family: perpetua,"Times New Roman",Times,serif;
    font-size: 1.6875rem;
}

.anchor-cta:hover {
    color: #366fd2;
}

/****** Twitter Quote *****/

.twitter-quote {
    font-family: helvetica neue, helvetica;
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 0 0 0;
    color: #799a05;
    text-transform: uppercase;
    font-weight: bold;
}

.twitter-quote-q {
    padding-right: 11px;
    color: #c9c9c9;
    opacity: .6;
}

.quote-gray {
    color: #c9c9c9;
}
.post-twitter-quote {
    padding-bottom: 15px;
}

/************** SIDEBAR *************/

.block {
  padding: 10px 25px 15px 21px;
}

.block h3 {
  margin-bottom: 8px;
}

.widget-span.widget-type-post_filter {
  background: #FFF;
  border-radius: 2px;
}

.widget-module ul {
  margin-left: 0;
}

.widget-module ul li {
  border-bottom: 1px dotted #ececec;
  margin-bottom: 10px;
  padding-bottom: 10px;
  list-style: none !important;
}

.widget-module li a {
  font-size: 13px;
}

.body-container-wrapper .hs-form,
.body-container-wrapper form {
  background: #FFF;
  border: none;
}

.body-container-wrapper form input[type=checkbox], .body-container-wrapper form input[type="radio"], .body-container-wrapper .hs-form input[type=checkbox], .body-container-wrapper .hs-form input[type="radio"] {
        transform: scale(1,1) !important;
}

.addthis_recommended_vertical {
    background: #FFF;
    padding: 0 25px 15px 21px;
}

.at-h3.at-recommended-label.at-vertical {
    font-family: perpetua;
    font-size: 1.6875rem !important;
    margin-bottom: 10px !important;
}

div#hs-search-module label {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #555;
}

div#hs-search-module input {
    width: 70%;
    float: left;
}

div#hs-search-module a {
    width: 30%;
    padding: 8px;
}

.email-form-text {
    font-size: .875rem;
    color: #555;
    margin-top: 2em;
    margin-bottom: 0;
}

/** subscribe form **/

.hs-form input[type="radio"] {
    margin-bottom: 5px;
}

input[type="submit"] {
    margin-top: 19px;
}

label {
    margin-bottom: 7px;
}

h3#hs_cos_wrapper_blog_subscription_title {
    background: #fff;
    border: none;
    color: #555;
    text-align: left;
    padding: 20px 25px 4px 21px;
}

/************** MOBILE *****************/




/*************** POLL ******************/

div#pw-question {
    font-family: perpetua;
    background: #5988DA;
    color: #fff;
    padding: 13px;
}

#pw-options {
    border: none !important;
}

/*************** Leadin Toaster ******************/

.leadin-preview-wrapper > h4 {
    font-size: 21px;
    font-family: helvetica neue, helvetica;
}
