/* ============================================================
  UTITILIES
/* ============================================================ */


/**
 * Typography
 */
.uppercase {
    text-transform: uppercase;
}

.km-small-text {
    font-size: 11px;
}

  /**
    * A helper class used to center subtitles under main titles
    * example: www.kitchenmagic.com/cabinet-refacing
    */  
  .km-subtitle-centered {
    max-width: 800px;
    margin: 0 auto;
}


/**
 * Margins
 * This section should eventually be cleaned up once we standardize more of the spacing
 */
.lg-margin-t {
    margin-top: 20px;
}

.margin-t {
    margin-top: 10px;
}

.no-margin-b {
  margin-bottom: 0;
}

.hide {
  display: none;
}