/* ============================================================
   BSG GLOBAL
/* ============================================================ */

.header-container.container-fluid {
    padding: 0;
}

.body-container {
    max-width: 100% !important;
}

.body-container-wrapper {
    background-color: color(background);
}

.row {
    margin-bottom: 35px;
}