/* ============================================================
   TYPOGRAPHY
/* ============================================================ */

.note {
    border: 1px solid color(border);
    padding: 5px 10px;
    color: color(text, light);
    margin-top: 20px;
    border-radius: 6px;
    background: color(gray, lighter);

    &:before {
        content: "\f06a";
        font-family: fontawesome;
        margin-right: 8px;
        top: 1px;
        position: relative;
    }
}

.hubspot-module {
    border: 1px solid color(border);
    padding: 10px;
    border-radius: 6px;

    &:before {
        content: "\f0ad";
        font-family: fontawesome;
        margin-right: 8px;
        top: 1px;
        position: relative;
    }
}