/* ============================================================
   TYPOGRAPHY
/* ============================================================ */

.note {
    border: 1px solid color(border);
    padding: 5px 10px;
    color: color(text, light);
    margin-top: 20px;
    border-radius: 6px;
    background: color(gray, lighter);

    &:before {
        content: "\f06a";
        font-family: fontawesome;
        margin-right: 8px;
        top: 1px;
        position: relative;
    }
}

.bsg-title {
    font-family: family(bold);
    text-transform: uppercase;
    margin-bottom: 0;
  }

.hubspot-module {
    border: 1px solid color(border);
    padding: 10px;
    border-radius: 6px;

    &:before {
        content: "\f0ad";
        font-family: fontawesome;
        margin-right: 8px;
        top: 1px;
        position: relative;
    }
}

/** container for typography section **/
.bsg-tag-container {
    border-bottom: 1px solid color(border);
    padding: 16px 0;
  }
  
  .bsg-tag-container:first-child {
    padding-top: 0;
  }
  
  .bsg-tag-container span {
      color: color(text, light);
      border: 1px solid color(border);
      text-align: center;
      padding: 2px 0;
      border-radius: 6px;
      width: 28px;
      font-size: px-to-rem(12px);
  }
  