/* ============================================================
   LISTING / FEED
/* ============================================================ */

/*
/* List Card
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

// title
div.post-header  {

    a {
    
        h3 {
            @include transition(all 300ms ease);
        }

        &:hover {
            text-decoration: none;
        }
        
        &:hover h3 {
            text-decoration: none;
            color: color(primary, base);
        }
    }

    // title
    h3 {
        padding-bottom: 0;
        margin: 2px 0 16px;
        line-height: 1.2;
    }

}

.post-item {
    padding: 0;
    margin-bottom: 2rem;
    background: #fff;
    @include box-shadow($shadow-md);
}

.featured-image-listing {
    padding: 0;
    margin-bottom: 10px;
}
  
// background image for the blog card
.km-blog-image-listing {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 353px;
    border-radius: 3px 0 0 3px;
}

.km-right-card {
    padding: 25px 25px 10px 25px;
}

// blog tags
p#hubspot-topic_data {
    margin-bottom: 11px;
    font-size: px-to-rem(13px);
}

a.topic-link {
    font-size: px-to-rem(12px);
    text-transform: uppercase;
    background-color: color(primary, base);
    color: #fff;
    padding: 9px 10px;
    border-radius: 150px;

    &:hover {
        text-decoration: none;
        background-color: color(primary, dark);
    }

    // color: color(primary, base);
    // letter-spacing: .5px;

    // &:nth-last-child(1) {
    //     border-right: none;
    // }

    // &:nth-child(n+2):before {
    //     content: "|";
    //     color: color(primary, base);
    //     padding: 0 2px;
    // }
}

// read more button 
div.read-more {
    position: absolute;
    right: 0;
    bottom: 12px;
}

a.more-link {
    margin-right: 20px;
    float: right;
    margin-bottom: 3px;
    background: color(primary, base);
    color: #fff;
    padding: 5px 11px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: px-to-rem(13px);
    @include transition(all 150ms ease);

    &:hover {
        background: color(primary, dark);
    }
}

// pagination
.blog-arrows {
    margin-bottom: -5px;
}

// list all 
h3.post-listing-simple {
    padding: 10px;
}