/* ============================================================
   BLOG POST
/* ============================================================ */

// titles
.section.post-header h1 {
    text-align: left;
    padding-bottom: 0;
    font-size: 3rem;
    line-height: 1.2;
}

h1 a {
    color: color(text, base);
    @include transition(all 300ms ease);
}

.blog-title {
    border-top: 1px solid color(border);
    border-bottom: 1px solid color(border);
    padding: 22px 0 22px 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

// date
h6.date {
    font-size: px-to-rem(12px);
    display: inline-block;
    color: color(gray, base);
}

// images
// adds margins for all images in the body
.section.post-body img {
    margin: .8rem 0;
}

.houzz-caption {
    margin-bottom: 0;
    color: color(text, light);
}

.pic-accred {
    font-size: px-to-rem(11px);
    color: color(text, light);
    margin-bottom: 1em;
}

.pic-caption {
    font-size: px-to-rem(12px);
    color: color(text, light);
 }

// comments
div#comments-listing {
    display: none;
}

// figure 
figure {
    padding: 0;
    margin: 0;
    margin-bottom: 0.8rem;
}
  
figcaption {
    font-size: px-to-rem(13px);
    margin-bottom: 2rem;
    color: color(gray, base);
}

// Twitter quote
.twitter-quote {
    font-family: family(body);
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 0 0 0;
    color: color(primary, base);
    text-transform: uppercase;
    font-weight: bold;

    &-q {
        padding-right: 11px;
        color: color(text, light);
        opacity: .6;
    }
}

.quote-gray {
    color: color(text, light);
}

.post-twitter-quote {
    padding-bottom: 15px;
}

// CTA
.anchor-cta {
    color: color(primary, base);
    font-size: 1.6875rem;

    &:hover {
        color: color(primary, dark);    
    }
}