/* ============================================================
   BLOG POST
/* ============================================================ */

// layout
.post-body {
    max-width: 800px;
}

// titles
.section.post-header h1 {
    text-align: left;
    padding-bottom: 0;
    font-size: 3rem;
    line-height: 1.2;
}

h1 a {
    color: color(text, base);
    @include transition(all 300ms ease);
}

.blog-title {
    border-top: 1px solid color(border);
    border-bottom: 1px solid color(border);
    padding: 22px 0 22px 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

// date & author
h6.date, span.date {
    font-size: px-to-rem(12px);
    display: inline-block;
    color: color(gray, base);
}

a.author-link {
    font-size: px-to-rem(12px);
    color: color(gray, base);
    text-decoration: none;
    box-shadow: inset 0 -0.01em #fff, inset 0 -0.1em color(primary, base);
    color: #2C2D2B;
}

// images
// adds margins for all images in the body
.section.post-body img {
    margin: .8rem 0;
    @include respond-below(sm) {
        width: 100%;
    }
}

.houzz-caption {
    margin-bottom: 0;
    color: color(text, light);
}

.pic-accred {
    font-size: px-to-rem(11px);
    color: color(text, light);
    margin-bottom: 1em;
}

.pic-caption {
    font-size: px-to-rem(12px);
    color: color(text, light);
 }

// comments
div#comments-listing {
    display: none;
}

// figure 
figure {
    padding: 0;
    margin: 0;
    margin-bottom: 0.8rem;
}
  
figcaption {
    font-size: px-to-rem(13px);
    margin-bottom: 2rem;
    color: color(gray, base);
}

// Twitter quote
.twitter-quote {
    font-family: family(body);
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 0 0 0;
    color: color(primary, base);
    text-transform: uppercase;
    font-weight: bold;

    &-q {
        padding-right: 11px;
        color: color(text, light);
        opacity: .6;
    }
}

.quote-gray {
    color: color(text, light);
}

.post-twitter-quote {
    padding-bottom: 15px;
}

// CTA
.anchor-cta {
    color: color(primary, base);
    font-size: 1.6875rem;
    line-height: 1.3;

    &:hover {
        color: color(primary, dark);    
    }
}

// Embed code

.embed {
    background: color(background);
    padding: 20px 20px 0;
    margin: 10px 0 35px;

    &__title {
        display: block;
        margin-bottom: 5px;
    }

    textarea {
        margin-bottom: 20px;
        border: 1px solid color(text, base);
        font-size: px-to-rem(14px);
        max-width: 100%;

        &:focus {
            outline: none;
            border: 1px solid color(primary, base);
        }
    }
}

// in post body typography

.post-body {
    a {
        text-decoration: none;
        box-shadow: inset 0 -0.01em #fff, inset 0 -0.1em color(primary, base);
        color: #2C2D2B;

        &:hover {
            color: color(primary, dark);
        }
    }
}