/* ============================================================
   SIDEBAR
/* ============================================================ */

/*
/* Titles
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
.block {
    padding: 10px 25px 15px 21px;

    h3 {
        margin-bottom: 8px;
    }
}

/*
/* Post filters
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
.widget-span.widget-type-post_filter {
    background: #FFF;
}

.span12.widget-span.widget-type-post_filter h3 {
    font-size: 1.875rem;
    margin: 0;
}

/*
/* Sidebar lists
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
.widget-module ul {
    margin-left: 0;
    padding-left: 0;

    li {
        border-bottom: 1px dotted color(border);
        margin-bottom: 10px;
        padding-bottom: 10px;
        list-style: none !important;  

        a {
            font-size: px-to-rem(13px);
        }
    }
  }

/*
/* Forms
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

// Estimate Request
div#hs_form_target_module_150289543551974 {
    border: 1px solid color(border);
}

.body-container-wrapper .hs-form,
.body-container-wrapper form {
  background: #FFF;
  border: none;
}

.body-container-wrapper form input[type=checkbox], .body-container-wrapper form input[type="radio"], .body-container-wrapper .hs-form input[type=checkbox], .body-container-wrapper .hs-form input[type="radio"] {
    transform: scale(1,1) !important;
}

.email-form-text {
    font-size: .875rem;
    color: color(text, light);
    margin-top: 2em;
    margin-bottom: 0;
}


// subscribe form
.hs-form input[type="radio"] {
    margin-bottom: 5px;
}

input[type="submit"] {
    margin-top: 19px;
}

label {
    margin-bottom: 7px;
}

// blog subscribe

.widget-type-blog_subscribe {
    border: 1px solid color(border);
}

h3#hs_cos_wrapper_blog_subscription_title {
    background: #fff;
    border: none;
    margin: 0;
    color: color(text, base);
    text-align: left;
    padding-bottom: 0;
}

/*
/* Search
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
div#hs-search-module {
    
    label {
        text-align: center;
        margin-bottom: 15px;
        font-size: 1.1rem;
        color: color(text, light);
    }

    input {
        width: 70%;
        float: left;
    }

    a {
        width: 30%;
        padding: 8px;
    }
}